<template>
  <div class="insurance-modal">
    <a-row>
      该项目需要支付保证金<span style="color: red;">{{ currentOrder.orderAmountTotal }}</span>元
    </a-row>
    <a-row style=" margin-top: 16px ">
      支付方式：
      <div
        class="PayWay"
        v-for="(payName,payIndex) in PayWayList"
        :key="payIndex"
        style="position: relative"
        :style="{ 'border-color': payIndex==payWay?'rgba(255, 136, 0, 1)':'' }"
        @click="payWay=payIndex">
        <img :src="require('@/assets/images/'+payName+'.png')" style="margin: 5px 5px 5px 10px" alt="" v-if="payName !== '对公支付'">
        <img v-else :src="require('@/assets/images/银联支付.png')" style="margin: 5px 5px 5px 10px" alt="">
        {{ payName }}
        <img src="~@/assets/images/打勾.svg" style="position: absolute; right: 0" v-if="payIndex==payWay">
      </div>
      <div style="margin-top: 10px;padding-left: 75px;" v-if="payWay===0">
        <span v-if="!bindCompanyInfo.isActive">
          您暂未开通预付保证金，<a style="color: #F80;" href="javascript:;" @click="Authorized">立即开通></a>
        </span>
        <span v-else>
          剩余：{{ remain }}元<a style="color: #F80;" href="javascript:;" v-if="currentOrder.orderAmountTotal > remain" @click="chargeShow=true"> 余额不足，请充值>></a>
        </span>
      </div>
      <div style="background: rgba(255, 136, 0, 0.1);padding: 16px;margin: 10px 0;" v-if="payWay===1">
        <div>请贵司转账保证金至下方银行账号。支付完成后，上传电子转账凭证提交审核确认。</div>
        <div>收款单位名称：云采链（广州）信息科技有限公司</div>
        <div>开户银行：广发银行股份有限公司广州白云机场支行</div>
        <div>账号：{{ projectData.bondAccount }}</div>
      </div>
      <div v-if="payWay===1">
        <a-form :form="BankForm">
          <a-form-item
            label="电子转账凭证："
            :labelCol="{ span: '4' }"
            :wrapperCol="{ span: '18' }"
          >
            <a-upload
              name="file"
              :action="uploadFileInit.action"
              :data="uploadFileInit.extradata"
              :headers="uploadFileInit.headers"
              :beforeUpload="(file)=>{fileUploadBefore(file, '对公支付凭证')}"
              :fileList="FileList"
              @change="({file, fileList}) => filelChange(file, fileList, 'FileList')"
              v-decorator="[
                'fileList',
                {rules: [{ required: true, message: '请上传文件' }]}
              ]"
            >
              <a-button> <a-icon type="upload" /> 上传文件 </a-button>
            </a-upload>
          </a-form-item>
          <a-form-item
            label="退保函："
            :labelCol="{ span: '4' }"
            :wrapperCol="{ span: '18' }"
          >
            <a-upload
              name="file"
              :action="uploadFileInit.action"
              :data="uploadFileInit.extradata"
              :beforeUpload="(file)=>{fileUploadBefore(file, '退保函')}"
              :fileList="voucherList"
              @change="({file, fileList}) => filelChange(file, fileList, 'voucherList')"
              v-decorator="[
                'voucher',
                {rules: [{ required: true, message: '请上传文件' }]}
              ]"
              style="display: inline-block;"
            >
              <a-button> <a-icon type="upload" /> 上传文件 </a-button>
            </a-upload>
            <a style="margin-left: 16px;" @click="downTemplate">退保函模版下载</a>
          </a-form-item>
        </a-form>
      </div>
    </a-row>
    <!-- 对公账号绑定 -->
    <account-charge v-model="chargeShow" :bindCompanyInfo="bindCompanyInfo" :companyInfo="companyInfo" @refreshRemain="checkCBBank"></account-charge>
  </div>
</template>

<script>


// import { getCBByCompanyId } from '@/api/middle'
// import { getSubAccountBalance, transfer } from '@/api/insurance'
// import { getCompanyInfo, ModifyPublishChargesOrder, CreatePublishOrder } from '@/api/notice'
// import ajax from '@/api/successNotify'
import accountCharge from '@/pages/QuoteChannel/transactionProject/accountCharge'
import { fileUtil } from '@/lib/file'
import { downFile } from '@/lib/util'
import moment from 'moment'

export default {
  name: 'InsuranceModal',
  components: { accountCharge },
  props: {
    currentOrder: {
      type: Object,
      default: () => {
        return {}
      }
    },
    projectData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  computed: {
    userInfo () {
      return this.$store.state.mainAppStore.user
    }
  },
  data () {
    return {
      bindCompanyInfo: {}, // 绑定的对公账号
      companyInfo: {}, // 公司信息
      payWay: 0, // 支付方式索引
      PayWayList: ['余额支付', '对公支付'], // 支付方式列表
      chargeShow: false, // 充值弹窗
      remain: 0, // 余额
      BankForm: this.$form.createForm(this), // 对公支付上传表格
      inteFileQuery: {
        bucket: 'clneiwang',
        dir: 'serviceCharge/',
        fileType: 1
      },
      uploadFileInit: {
        action: '',
        extradata: {},
        headers:''
      },
      InitKey: '', // 初始key
      FileList: [], // 支付凭证
      voucherList: [] // 退保函
    }
  },
  async created () {
    try {
      this.$spin.show()
      // 对公账号信息查询
      await this.checkCBBank()
      await this.loadCompanyInfo()
      // 文件上传初始化
      const id = this.$store.state.mainAppStore.user.user.id ? this.$store.state.mainAppStore.user.user.id : { id: '' }
      const { fileType, bucket, dir } = this.inteFileQuery
      this.uploadFileInit = await fileUtil.uploadInit()
      this.InitKey = this.uploadFileInit.extradata.key
    } catch (error) {
      this.$message.error('信息加载失败')
    } finally {
      this.$spin.hide()
    }
  },
  methods: {
    Authorized () { // 跳转至A授权开通会员
      location.href = 'https://qy.choicelink.cn:8440/#/selfSetting?charge=true'
    },
    async checkCBBank () { // 企业对公银行信息查询
      const bindCompany = await getCBByCompanyId({
        companyId: this.userInfo.user.companyId
      })
      if (bindCompany.result.items.length > 0) {
        this.bindCompanyInfo = bindCompany.result.items[0]
        const balance = await getSubAccountBalance({
          subAcctNo: this.bindCompanyInfo.marginAccount
        })
        this.remain = parseFloat(balance.result.amount)
      }
      return 1
    },
    fileUploadBefore (file) {
      const suffix = fileUtil.get_suffix(file.name)
      this.uploadFileInit.extradata.key = this.uploadFileInit.extradata.key + fileUtil.random_string(10) + suffix
      this.uploadFileInit.extradata.fileName = file.name
      this.uploadFileInit.extradata.remarks= '附件'
    },
    async filelChange (file, fileList, key) { // 只允许上传一个文件
      if (fileList.length > 0) {
        this[key] = [fileList.pop()]
      } else {
        this[key] = fileList
      }
      if (file.status === 'done') { // 获取永久地址
        const permanent = await fileUtil.GetSampleDownloadUrl(this.inteFileQuery.bucket, this[key][0].response.result.fileName)
        this.$set(this[key][0], 'permanent', permanent)
      }
    },
    async loadCompanyInfo () {
      const id = this.userInfo.user.companyId
      const res = await getCompanyInfo({
        id: id
      })
      this.companyInfo = res.result
      return 1
    },
    subPay () {
      if (this.payWay === 0) {
        this.payWithWallet()
      } else
      if (this.payWay === 1) {
        this.auditCoroperate()
      }
    },
    async payWithWallet () { // 通过余额拨款
      try {
        if (!this.bindCompanyInfo.isActive) { // 判断是否已开通会员
          this.$message.warning('请先开通会员功能！')
        } else
        if (this.currentOrder.orderAmountTotal > this.remain) { // 判断余额是否充足
          this.$message.warning('当前预存账号余额不足以支付当前服务费，请先充值！')
        } else {
          this.$emit('subLoading', true)
          // 获取订单project数据形式
          const OrderPro = await ajax.GetCreateOrderProjectById({
            projectId: this.currentOrder.projectId
          })
          const data = Object.assign({}, this.currentOrder)
          // 余额扣除
          await transfer({
            openBankName: '广发银行股份有限公司广州白云机场支行', // 收款账户开户行名称
            realRefundAmount: `${data.orderAmountTotal}`, // 实际退款金额
            receiveMoneyAcct: this.projectData.bondAccount, // 收款人账号'6232592199000357589'
            receiveMoneyBankNumber: '306581000079', // 收款账户开户行行号
            receiveMoneyName: '云采链（广州）信息科技有限公司', // 收款人名称
            refundAmount: `${data.orderAmountTotal}`, // 要求退款金额
            refundTime: moment().format('YYYYMMDDhhmmss'), // 要求退款时间
            subAcct: this.bindCompanyInfo.marginAccount, // 子账号
            tkType: 1, // 1=非原路退款；2=原路退款
            totalAmt: `${data.orderAmountTotal}`, // 总金额
            totalNum: 1,
            detailInterest: '0.00',
            interest: false,
            remCharge: false,
            transferFee: '0.00'
          })
          //
          data.orderStatus = '2'
          data.payChannel = this.PayWayList[this.payWay]
          // 开票信息
          data.ghfCompanyAddress = this.companyInfo.companyAddress
          data.ghfTelphone = this.companyInfo.companyTel
          data.ghfBankName = this.companyInfo.openBankName
          data.ghfBankAccount = this.companyInfo.marginAccount
          // 更改审核状态
          data.auditStatus = '1'
          const finaBody = {
            orderStatus: '2',
            orderNo: this.currentOrder.orderNo,
            payChannel: data.payChannel,
            ghfCompanyAddress: data.ghfCompanyAddress,
            ghfTelphone: data.ghfTelphone,
            ghfBankName: data.ghfBankName,
            ghfBankAccount: data.ghfBankAccount,
            status: '1',
            auditStatus: '0'
          }
          await ModifyPublishChargesOrder({
            accessKey: OrderPro.result.accessKey,
            body: finaBody
          })
          // 更新订单表
          await ajax.UpdateOrders({
            orders: data
          })
          // 添加余额划款订单
          const finaOrder = await CreatePublishOrder({
            accessKey: OrderPro.result.accessKey,
            body: Object.assign({}, finaBody, {
              orderNo: undefined,
              orderType: '余额扣除',
              redOrderNo: this.currentOrder.orderNo,
              orderStatus: '2',
              auditStatus: '1',
              orderAmountTotal: -data.orderAmountTotal,
              ghfInvoiceTaxNo: data.ghfInvoiceTaxNo,
              ghfCompanyName: data.ghfCompanyName,
              ghfBankName: '广发银行股份有限公司广州白云机场支行', // 保证金账号开户行
              ghfBankAccount: this.bindCompanyInfo.marginAccount, // 保证金账号
              xhfCompanyName: data.xhfCompanyName,
              projectId: data.projectId,
              supplierId: data.companyid,
              npId: 1,
              title: data.projectName,
              projectNum: data.projectFull,
              agencyName: data.xhfCompanyName,
              project: OrderPro.result.data
            })
          })
          await ajax.UpdateOrders({
            orders: Object.assign({}, data, {
              id: undefined,
              orderStatus: '2',
              auditStatus: '1',
              orderType: '余额扣除',
              redOrderNo: this.currentOrder.orderNo,
              orderAmountTotal: -data.orderAmountTotal,
              orderNo: finaOrder.result.data.orderNo,
              ghfBankName: '广发银行股份有限公司广州白云机场支行', // 保证金账号开户行
              ghfBankAccount: this.bindCompanyInfo.marginAccount // 保证金账号
            })
          })
          // 余额更新
          this.checkCBBank()
          this.$emit('paySuccess', data)
          this.$message.success('提交成功！')
        }
      } catch (error) {
        console.log(error)
        this.$message.error('提交失败！')
      } finally {
        this.$emit('subLoading', false)
      }
    },
    auditCoroperate () { // 对公支付审核
      this.BankForm.validateFields(async (err, val) => {
        if (!err) {
          try {
            this.$emit('subLoading', true)
            // 获取订单project数据形式
            const OrderPro = await ajax.GetCreateOrderProjectById({
              projectId: this.currentOrder.projectId
            })
            const data = Object.assign({}, this.currentOrder)
            // 新订单信息修改
            data.payChannel = this.PayWayList[this.payWay]
            // 开票信息
            data.ghfCompanyAddress = this.companyInfo.companyAddress
            data.ghfTelphone = this.companyInfo.companyTel
            data.ghfBankName = this.companyInfo.openBankName
            data.ghfBankAccount = this.companyInfo.bankAccount
            // 更改审核状态
            data.orderStatus = '1'
            data.auditStatus = '0'
            // 更新财务中心订单信息
            await ModifyPublishChargesOrder({
              accessKey: OrderPro.result.accessKey,
              body: {
                orderStatus: '2',
                orderNo: this.currentOrder.orderNo,
                payChannel: data.payChannel,
                ghfCompanyAddress: data.ghfCompanyAddress,
                ghfTelphone: data.ghfTelphone,
                ghfBankName: data.ghfBankName,
                ghfBankAccount: data.ghfBankAccount,
                status: '2',
                auditStatus: '0'
              }
            })
            // 更新订单表
            await ajax.UpdateOrders({
              orders: data
            })
            // 保证金支付凭证
            const coroperateData = {
              orderNo: data.orderNo,
              addTime: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),
              fileUrl: this.FileList[0].permanent,
              fileName: this.FileList[0].response.result.displayName,
              type: data.orderType
            }
            // 添加对公支付审核记录
            await ajax.CreatePublishCheck(coroperateData)
            // 退保函凭证
            const voucherData = {
              orderNo: data.orderNo,
              addTime: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),
              fileUrl: this.voucherList[0].permanent,
              fileName: this.voucherList[0].response.result.displayName,
              type: '退保函'
            }
            await ajax.CreatePublishCheck(voucherData)
            // 余额更新
            this.checkCBBank()
            this.$emit('paySuccess', data)
            this.$message.success('提交成功！')
          } catch (error) {
            console.log(error)
            this.$message.error('提交失败')
          } finally {
            this.$emit('subLoading', false)
          }
        }
      })
    },
    async downTemplate () { // 下载说明函
      const url = await fileUtil.downLoad('de33bbb2-f1b1-4a25-e435-08d9c35e994d')
      downFile(url)
      // window.open(url)
    }
  }
}
</script>

<style lang="less">
.insurance-modal {
  font-size: 14px;
  padding-left: 18px;
  color: rgba(51, 51, 51, 1);
  .ant-form-item {
    margin-bottom: 12px;
  }
}
</style>
