<template>
  <div>
    <a-row class="pay-modal">
      项目名称：{{ currentRow.title }}
    </a-row>
    <a-row class="pay-modal" style=" margin-top: 16px ">
      采购单位：{{ projectData.purchaserUnit }}
    </a-row>
    <a-row class="pay-modal" style=" margin-top: 16px ">
      <span style="vertical-align: text-bottom">{{ feeType }}：</span><span style="font-size: 16px; color: rgba(255, 51, 0, 1); font-weight: 600; margin-right: 5px">{{ currentRow.orderAmountTotal }}</span><span style="vertical-align: text-bottom">元</span>
    </a-row>
    <a-divider v-if="currentRow.orderAmountTotal > 0" style="margin: 20px 0 12px 0;" />
    <a-row v-if="currentRow.orderAmountTotal > 0 && !ShowPay && !BankPay">
      <a-row class="pay-modal" style=" margin-top: 8px ">
        发票类型：
        <a-select v-model="invoiceType" style="width: 145px" @change="invoiceTypeChange">
          <a-icon slot="suffixIcon" type="caret-down" />
          <a-select-option :value="type" v-for="(type,tIndex) in invoiceTypeList" :key="tIndex">{{ type }}</a-select-option>
        </a-select>
        <span v-if="invoiceType === '增值税专用发票' && signInfo.invoiceCount && signInfo.invoiceCount > 0" style="cursor: pointer;" @click="invoiceNtice">
          <a-icon type="warning" theme="filled" style="font-size: 20px; color: #FF0000;margin: 0 5px 0px 14px;vertical-align: middle;" />
          <span style="font-size: 14px; color: #FF0000;vertical-align:sub;">开票提醒</span>
        </span>
      </a-row>
      <a-row class="pay-modal" style=" margin-top:16px">
        开票信息：
        <div style="display: inline-block;min-width: 145px;">{{ companyInfo.companyName }}</div>
        <a v-if="!receiptComplete" href="javascript:;" @click="receiptShow = true">预览</a>
        <span v-else style="cursor: pointer;" @click="receiptShow = true">
          <a-icon type="warning" theme="filled" style="font-size: 20px; color: #FF0000;margin: 0 14px;vertical-align: middle;" />
          <span style="font-size: 14px; color: #FF0000">专用发票信息不完整，点击完善</span>
        </span>
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px " v-if="invoiceType=='电子发票'">
        领取方式：
        <a-select v-model="ReceiveWay" style="width: 145px" @change="ReceiveWayChange">
          <a-icon slot="suffixIcon" type="caret-down" />
          <a-select-option :value="type" v-for="(type,tIndex) in EReceiveWayList" :key="tIndex">{{ type }}</a-select-option>
        </a-select>
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px " v-else>
        领取方式：
        <a-select v-model="ReceiveWay" style="width: 145px" @change="ReceiveWayChange">
          <a-icon slot="suffixIcon" type="caret-down" />
          <a-select-option :value="type" v-for="(type,tIndex) in PReceiveWayList" :key="tIndex">{{ type }}</a-select-option>
        </a-select>
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px " v-if="ReceiveWay=='顺丰到付'">
        收件信息：
        <a-input :style="{width: receiveComplete ? '365px' : '440px'}" :value="`${userInfo.name}，${userInfo.phoneNumber}，${userInfo.address}`" :disabled="true"></a-input>
        <a v-if="!receiveComplete" href="javascript:;" style="margin-left: 14px;" @click="receiveShow = true">修改收件信息</a>
        <span v-else style="cursor: pointer;" @click="receiveShow = true">
          <a-icon type="warning" theme="filled" style="font-size: 20px; color: #FF0000;margin: 0 14px;vertical-align: middle;" />
          <span style="font-size: 14px; color: #FF0000">信息有误，点击完善</span>
        </span>
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px " v-if="ReceiveWay=='短信接收'">
        手机号码：
        <a-input style="width: 300px;" v-model="PAdress.tel" @blur="mobileValidate"></a-input>
        <span v-if="!isMobile" style="cursor: pointer;">
          <a-icon type="warning" theme="filled" style="font-size: 20px; color: #FF0000;margin: 0 14px;vertical-align: middle;" />
          <span style="font-size: 14px; color: #FF0000">填写有误</span>
        </span>
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px " v-if="ReceiveWay=='邮件接收'">
        邮箱地址：
        <a-input style="width: 300px;" v-model="PAdress.mail" @blur="mailValidate"></a-input>
        <span v-if="!isMail" style="cursor: pointer;">
          <a-icon type="warning" theme="filled" style="font-size: 20px; color: #FF0000;margin: 0 14px;vertical-align: middle;" />
          <span style="font-size: 14px; color: #FF0000">填写有误</span>
        </span>
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px ">
        支付方式：
        <div
          class="PayWay"
          v-for="(payname,payIndex) in PayWayList"
          :key="payIndex"
          style="position: relative"
          :style="{ 'border-color': payIndex==payWay?'rgba(255, 136, 0, 1)':'' }"
          @click="ChoosePWay(payIndex)">
          <img :src="require('@/assets/images/'+payname+'.png')" style="margin: 5px 5px 5px 10px" alt="" v-if="payname !== '对公支付'">
          <img v-else :src="require('@/assets/images/银联支付.png')" style="margin: 5px 5px 5px 10px" alt="">
          {{ payname }}
          <img src="~@/assets/images/打勾.svg" style="position: absolute; right: 0" v-if="payIndex==payWay">
        </div>
      </a-row>
    </a-row>
    <!-- 支付二维码 -->
    <a-row v-if="ShowPay">
      <div class="PayImage">
        <img alt="example" :src="PayCode" style="width: 220px;">
        <div style="font-size: 13px;position: absolute;bottom: 18px;left: 33px;">使用<span style="color: #FF9378;">{{ payWay === 0 ? '支付宝' : '微信' }}</span>APP扫码完成支付</div>
      </div>
    </a-row>
    <!-- 支付二维码 -->
    <!-- 对公支付 -->
    <a-row v-if="BankPay">
      <a-card class="card" :hoverable="true">
        <div class="inner" style="width: 36%;">
          <div :style="{ 'margin-top': index > 0 ? '10px' : '' }" v-for="(item, index) in bankTips" :key="index">
            {{ item }}
          </div>
        </div>
        <div class="inner" style="border-left: 1px solid #e8e8e8;padding-top: 19px;width: 64%;">
          <div class="bankInfo">
            <div>收款单位</div>
            {{ this.bankAccount.cName }}
          </div>
          <div class="bankInfo">
            <div>收款账号</div>
            {{ this.bankAccount.xhfBankAccount }}
          </div>
          <div class="bankInfo">
            <div>收款人开户行</div>
            {{ this.bankAccount.xhfBankName }}
          </div>
        </div>
      </a-card>
      <a-form :form="BankForm">
        <a-form-item
          label="汇款银行账号："
          :labelCol="{ span: '4' }"
          :wrapperCol="{ span: '18' }"
          style="margin-bottom: 10px;"
        >
          <a-input
            v-decorator="[
              'Account'
            ]"
          ></a-input>
        </a-form-item>
        <a-form-item
          label="电子转账凭证："
          :labelCol="{ span: '4' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-upload
            name="file"
            :action="uploadFileInit.action"
            :data="uploadFileInit.extradata"
            :headers="uploadFileInit.headers"
            :beforeUpload="(file)=>{fileUploadBefore(file)}"
            :fileList="FileList"
            @change="filelChange"
            v-decorator="[
              'flieList',
              {rules: [{ required: true, message: '请上传文件' }]}
            ]"
          >
            <a-button> <a-icon type="upload" /> 上传文件 </a-button>
          </a-upload>
        </a-form-item>
        <a-form-item
          v-if="orderType === '保证金'"
          label="备注："
          :labelCol="{ span: '4' }"
          :wrapperCol="{ span: '18' }"
          style="margin-bottom: 10px;"
        >
          <a-input
            v-decorator="[
              'items'
            ]"
          ></a-input>
        </a-form-item>
      </a-form>
    </a-row>
    <!-- 对公支付 -->
    <!-- 开票信息 -->
    <a-modal
      title="填写公司开票信息"
      v-model="receiptShow"
      :maskClosable="false"
      :confirmLoading="saveComLoading"
      okText="保存"
      @ok="saveCompany"
    >
      <a-form :form="receiptForm">
        <a-form-item
          label="单位名称："
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            :disabled="true"
            v-decorator="[
              'companyName',
              {rules: [{ required: true, message: '请输入单位名称' }], initialValue: companyInfo.companyName}
            ]"
          >
            <a-tooltip placement="bottom" slot="suffix" title="仅支持成交单位开票">
              <a-icon type="info-circle" style="color: rgba(0,0,0,.45)" />
            </a-tooltip>
          </a-input>
        </a-form-item>
        <a-form-item
          label="纳税识别号："
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            :disabled="true"
            v-decorator="[
              'companyNo',
              {rules: [{ required: true, message: '请输入纳税识别号' }], initialValue: companyInfo.companyNo}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="注册地址："
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'companyAddress',
              {rules: [{ required: true, message: '请输入注册地址' }], initialValue: companyInfo.companyAddress}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="注册电话："
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'companyTel',
              {rules: [{ required: true, message: '请输入注册电话' }], initialValue: companyInfo.companyTel}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="开户银行："
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'openBankName',
              {rules: [{ required: true, message: '请输入开户银行' }], initialValue: companyInfo.openBankName}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="银行账户："
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'bankAccount',
              {rules: [{ required: true, message: '请输入银行账户' }], initialValue: companyInfo.bankAccount}
            ]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
    <!-- 收件信息 -->
    <a-modal
      title="修改收件信息"
      v-model="receiveShow"
      :maskClosable="false"
      :confirmLoading="saveComLoading"
      okText="保存"
      @ok="saveReceiver"
    >
      <a-form :form="receiveForm">
        <a-form-item
          label="单位名称"
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            :disabled="true"
            v-decorator="[
              'companyName',
              {rules: [{ required: true, message: '请输入单位名称' }], initialValue: companyInfo.companyName}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="收件人"
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'name',
              {rules: [{ required: true, message: '请输入收件人' }], initialValue: userInfo.name}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="手机号码"
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'phoneNumber',
              {rules: [{ required: true, message: '请输入手机号码' }], initialValue: userInfo.phoneNumber}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="固定电话"
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'fixedTelephone',
              {initialValue: userInfo.fixedTelephone}
            ]"
          />
        </a-form-item>
        <a-form-item
          label="详细地址"
          :labelCol="{ span: '5' }"
          :wrapperCol="{ span: '18' }"
        >
          <a-input
            v-decorator="[
              'address',
              {rules: [{ required: true, message: '请输入详细地址' }], initialValue: userInfo.address}
            ]"
          />
        </a-form-item>
      </a-form>
    </a-modal>
  </div>
</template>

<script>
// import { getBank } from '@/api/project'
// import { ModifyPublishChargesOrder, CreatePublishUnifiedPayment } from '@/api/notice'
// import ajax from '@/api/successNotify'

import { fileUtil } from '@/lib/file'
import { userCenterService as userCenterAxios } from '@/lib/axios'
import moment from 'moment'



export default {
  name: 'PayModal',
  props: {
    currentRow: {
      type: Object,
      default: () => {
        return {}
      }
    },
    projectData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    feeType: {
      type: String,
      default: () => {
        return '应付服务费'
      }
    },
    orderType: {
      type: String,
      default: () => {
        return ''
      }
    },
    bankTips: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  computed: {
    receiptComplete () { // 开票信息是否完善
      if (this.invoiceType === '电子发票') {
        return (!this.companyInfo.companyName || !this.companyInfo.companyNo)
      } else {
        return (!this.companyInfo.companyName || !this.companyInfo.companyNo || !this.companyInfo.companyAddress || !this.companyInfo.companyTel || !this.companyInfo.openBankName || !this.companyInfo.bankAccount)
      }
    },
    receiveComplete () { // 收件地址是否完善
      return (!this.userInfo.name || !this.userInfo.phoneNumber || !this.userInfo.address)
    },
    signInfo () {
      return this.$store.state.user.platformInfo
    }
  },
  data () {
    return {
      userInfo: {}, // 用户信息
      companyInfo: {}, // 公司信息
      invoiceTypeList: ['电子发票', '增值税普通发票', '增值税专用发票'], // 发票类型列表
      invoiceType: '电子发票', // 发票类型
      EReceiveWayList: ['短信接收', '邮件接收'], // e领取方式列表
      PReceiveWayList: ['顺丰到付'], // p领取方式列表
      ReceiveWay: [], // 领取方式
      PAdress: {
        receiver: '', // 收件人
        tel: '', // 电话
        mail: '', // 邮箱
        adress: '' // 地址
      }, // 快递信息
      PayWayList: ['支付宝', '微信', '对公支付'], // 支付方式列表
      payWay: 0, // 支付方式
      // 支付弹窗
      ShowPay: false, // 支付二维码显示
      BankPay: false, // 对公支付显示
      PayCode: '', // 支付二维码
      GetCodeInter: '', // 获取二维码定时器
      CheckResInter: '', // 查询支付情况定时器
      // 支付弹窗
      receiptForm: this.$form.createForm(this),
      receiptShow: false, // 开票信息补充
      saveComLoading: false, // 保存公司loading
      receiveForm: this.$form.createForm(this),
      receiveShow: false, // 收件人信息
      isMobile: true, // 手机号码格式
      isMail: true, // 邮箱格式
      // 对公支付
      BankForm: this.$form.createForm(this), // 对公支付上传表格
      inteFileQuery: {
        bucket: 'clneiwang',
        dir: 'serviceCharge/',
        fileType: 1
      },
      uploadFileInit: {
        action: '',
        extradata: {}
      },
      FileList: [],
      bankAccount: {},
      InitKey: '' // 初始key
    }
  },
  async created () {
    this.$spin.show()
    const id = this.$store.getters.userInfo.user.id ? this.$store.getters.userInfo.user.id : { id: '' }
    const { fileType, bucket, dir } = this.inteFileQuery
    this.uploadFileInit = await fileUtil.uploadInit()
    this.InitKey = this.uploadFileInit.extradata.key
    await this.getUserInfo()
    await this.getBankInfo()
    this.$spin.hide()
    document.addEventListener('error', function (event) { // 检验支付二维码加载是否正常
      var elem = event.target
      if (elem.tagName.toLowerCase() === 'img') {
        // 图片加载失败--替换为默认
        elem.src = elem.src + '?' + new Date()
      }
    }, true)
  },
  methods: {
    // 获取用户、公司信息
    async getUserInfo () {
      // 获取A的用户id
      const Auser = await userCenterAxios.get('/api/services/app/Session/GetCurrentLoginInformations')
      userCenterAxios.get('/api/services/app/User/Get?id=' + Auser.result.user.id)
        .then(
          (res) => {
            this.userInfo = res.result
            this.userInfo.roleNames = this.userInfo.roleNames.join(',')
            // 获取当前用户的收件人手机号码和邮箱
            this.PAdress.tel = this.userInfo.phoneNumber
            this.PAdress.mail = this.userInfo.emailAddress
            if (this.userInfo.companyId) {
              this.getCompanyInfo()
            }
          }
        )
    },
    getCompanyInfo () {
      const id = this.$store.getters.userInfo.user.companyId
      userCenterAxios.get('/api/services/app/AbpCompany/GetById?id=' + id)
        .then(
          (res) => {
            this.companyInfo = res.result
          }
        )
    },
    async getBankInfo () { // 获取对公支付银行信息
      // 获取收款账号信息
      const bankAccount = await getBank({
        // Filter: `xhfCompanyName == "${this.projectData.agencyUnit}"`,
        Filter: `xhfCompanyName == "云采链（广州）信息科技有限公司"`,
        MaxResultCount: 1,
        SkipCount: 0
      })
      this.bankAccount = bankAccount.result.items[0]
      // if (this.orderType === '保证金') { // 保证金暂时写死
      //   this.bankAccount = {
      //     cName: '云采链（广州）信息科技有限公司',
      //     xhfBankAccount: '9550880212571700294',
      //     xhfBankName: '广发银行股份有限公司广州白云机场支行'
      //   }
      // }
    },
    saveCompany () { // 保存公司信息
      this.receiptForm.validateFields((err, values) => {
        if (!err) {
          // 不允许此处修改单位名称及纳税识别号
          delete values.companyName
          delete values.companyNo
          // 不允许此处修改单位名称及纳税识别号
          this.saveComLoading = true
          const params = {
            abpCompany: Object.assign(this.companyInfo, values)
          }
          userCenterAxios.post('/api/services/app/AbpCompany/CreateOrUpdate', params)
            .then(() => {
              this.saveComLoading = false
              this.receiptShow = false
              this.$message.success('保存成功')
              this.getUserInfo()
            })
        }
      })
    },
    saveReceiver () { // 保存收件人信息
      this.receiveForm.validateFields(async (err, values) => {
        if (!err) {
          this.saveComLoading = true
          const params = Object.assign(this.userInfo, values)
          userCenterAxios.put('/api/services/app/User/Update', params)
            .then(() => {
              this.saveComLoading = false
              this.$message.success('保存成功')
              this.receiveShow = false
              this.getUserInfo()
            })
        }
      })
    },
    mobileValidate () { // 手机号码验证
      const myreg = /^1\d{10}$/
      this.isMobile = myreg.test(this.PAdress.tel)
    },
    mailValidate () { // 邮箱格式验证
      const myreg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/
      this.isMail = myreg.test(this.PAdress.mail)
    },
    invoiceTypeChange (type) { // 发票类型下拉框改变
      this.ReceiveWay = []
      if (type === '增值税专用发票' && this.signInfo.invoiceCount && this.signInfo.invoiceCount > 0) {
        this.invoiceNtice()
      }
    },
    ReceiveWayChange (e) { // 领取方式check
      this.ReceiveWay = [e]
    },
    ChoosePWay (index) { // 选择支付方式
      this.payWay = index
    },
    invoiceNtice () { // 开票提醒
      this.$message.warning((h) => {
        return h('span', [
          h('span', '因我司每月开票数量有限制，如必须开具专票，您可在开票前联系左上角'),
          h('a-icon', {
            style: {
              'font-size': '16px',
              'margin': '0 2px',
              'color': 'black'
            },
            props: {
              type: 'question-circle'
            }
          }),
          h('span', '的在线客服 咨询额度情况，以免因发票限额用完，延迟为您开票。')
        ])
      }, 5)
    },
    fileUploadBefore (file) {
      const suffix = fileUtil.get_suffix(file.name)
      this.uploadFileInit.extradata.key = this.InitKey + fileUtil.random_string(10) + suffix
      this.uploadFileInit.extradata.fileName = file.name
      this.uploadFileInit.extradata.remarks = '对公支付凭证'
    },
    async filelChange ({ file, fileList }) { // 只允许上传一个文件
      if (fileList.length > 0) {
        this.FileList = [fileList.pop()]
      } else {
        this.FileList = fileList
      }
      if (file.status === 'done') { // 获取永久地址
        const permanent = await fileUtil.GetSampleDownloadUrl(this.inteFileQuery.bucket, this.FileList[0].response.result.fileName)
        this.$set(this.FileList[0], 'permanent', permanent)
      }
    },
    async subPay () { // 提交结算
      if (this.receiptComplete) {
        this.$message.warning('请完善开票信息！')
        return 0
      }
      if (this.ReceiveWay.length === 0) {
        this.$message.warning('请选择发票领取方式！')
        return 0
      }
      if (this.ReceiveWay[0] === '顺丰到付') {
        if (this.receiveComplete) {
          this.$message.warning('请完善收件信息！')
          return 0
        }
      } else
      if (this.ReceiveWay[0] === '短信接收') {
        this.mobileValidate() // 触发手机号码检验
        if (!this.isMobile) {
          this.$message.warning('信息有误，请修改！')
          return 0
        }
      } else
      if (this.ReceiveWay[0] === '邮件接收') {
        this.mailValidate() // 触发邮箱验证
        if (!this.isMail) {
          this.$message.warning('信息有误，请修改！')
          return 0
        }
      }
      this.$emit('payLoading', true)
      let payChannel = ''
      switch (this.payWay) {
        case 0: payChannel = '支付宝'; break
        case 1: payChannel = '微信'; break
        case 2: payChannel = '对公支付'; break
      }
      // if (this.payWay === 0) { // 0为支付宝 1为 微信
      //   this.getAliPayCode(this.currentRow.xhfCompanyName).then(ali => { // 获取支付宝二维码
      //     this.ShowPay = true
      //   })
      // } else if (this.payWay === 1) {
      //   this.getWechatPayCode(this.currentRow.xhfCompanyName).then(wechat => { // 获取微信二维码
      //     this.ShowPay = true
      //   })
      // }
      if (this.payWay === 2) { // 对公支付
        this.BankPay = true
        return
      }
      if (!payChannel) return
      this.getCode(payChannel, this.projectData).then(async (res) => {
        this.ShowPay = true
        this.PayCode = res.result.data.code_img_url
        // 定时刷新支付二维码
        this.GetCodeInter = setInterval(() => {
          this.getCode(payChannel, this.projectData)
        }, 150000)
        // 获取订单project数据形式
        const OrderPro = await ajax.GetCreateOrderProjectById({
          projectId: this.projectData.id
        })
        // 查询支付情况
        this.CheckResInter = setInterval(async () => {
          await ajax.GetPaged({
            Filter: `orderNo=="${this.currentRow.orderNo}" && orderType == "${this.orderType}"`,
            MaxResultCount: 7,
            SkipCount: 0
          }).then(res => {
            if (res.result.items[0].orderStatus === '2') { // 支付成功
              this.$spin.show('支付成功，报名处理中，请稍后...')
              // 清除二维码获取定时器
              clearInterval(this.GetCodeInter)
              this.GetCodeInter = ''
              // 清除支付情况获取定时器
              clearInterval(this.CheckResInter)
              this.CheckResInter = ''
              const data = Object.assign({}, res.result.items[0])
              data.invoiceType = this.invoiceType
              data.getMethod = this.ReceiveWay[0]
              data.recipients = this.PAdress.receiver
              data.phoneNum = this.PAdress.tel
              // data.address = this.PAdress.adress
              data.mail = this.PAdress.mail
              data.payChannel = this.PayWayList[this.payWay]
              // 开票信息
              data.ghfCompanyAddress = this.companyInfo.companyAddress
              data.ghfTelphone = this.companyInfo.companyTel
              data.ghfBankName = this.companyInfo.openBankName
              data.ghfBankAccount = this.companyInfo.bankAccount
              if (this.ReceiveWay[0] === '顺丰到付') {
                // 收件信息
                data.recipients = this.userInfo.name
                data.phoneNum = this.userInfo.phoneNumber
                data.address = this.userInfo.address
              }
              if (this.payWay !== 2) { // 非对公支付订单审核状态自动通过
                data.auditStatus = '1'
              }
              // 更新3.0订单信息
              ajax.UpdateOrders({ orders: data })
              // 更新财务中心订单信息
              ModifyPublishChargesOrder({
                accessKey: OrderPro.result.accessKey,
                body: {
                  orderNo: this.currentRow.orderNo,
                  invoiceType: this.invoiceType,
                  getMethod: this.ReceiveWay[0],
                  recipients: data.recipients,
                  phoneNum: data.phoneNum,
                  mail: data.mail,
                  payChannel: data.payChannel,
                  ghfCompanyAddress: data.ghfCompanyAddress,
                  ghfTelphone: data.ghfTelphone,
                  ghfBankName: data.ghfBankName,
                  ghfBankAccount: data.ghfBankAccount,
                  address: data.address
                }
              }).then(update => {
                if (update.result) {
                  this.$spin.hide()
                  this.ShowPay = false
                  this.$message.success('支付成功！')
                  if (data.invoiceType === '电子发票') {
                    this.$notification.success({
                      message: '费用结算成功',
                      description: '电子发票将于3个工作日内发送到您指定的地址，届时请注意查收。'
                    })
                  }
                  // 提交报名信息
                  this.$emit('apply')
                }
              })
            }
          })
        }, 1000)
      })
    },
    // // 支付宝支付二维码
    // async getAliPayCode (agency) {
    //   const payback = await ajax.AliPay({
    //     orderNumber: this.currentRow.orderNo,
    //     productName: this.currentRow.title,
    //     amount: parseInt(this.currentRow.orderAmountTotal * 100),
    //     attach: `${this.currentRow.ghfCompanyName}+${this.currentRow.projectNum}`,
    //     shortName: agency.indexOf('云采链') !== -1 ? '云采链（广州）信息科技有限公司' : (agency.indexOf('广东采联采购') !== -1 ? '广东采联采购科技有限公司' : '')
    //   })
    //   this.PayCode = payback.img
    //   return 0
    // },
    // // 微信支付二维码
    // async getWechatPayCode (agency) {
    //   const payback = await ajax.WechatPay({
    //     orderNumber: this.currentRow.orderNo,
    //     productName: this.currentRow.title,
    //     amount: parseInt(this.currentRow.orderAmountTotal * 100),
    //     attach: `${this.currentRow.ghfCompanyName}+${this.currentRow.projectNum}`,
    //     shortName: agency.indexOf('云采链') !== -1 ? '云采链（广州）信息科技有限公司' : (agency.indexOf('广东采联采购') !== -1 ? '广东采联采购科技有限公司' : '')
    //   })
    //   this.PayCode = payback.img
    //   return 0
    // },
    // 获取二维码
    async getCode (payChannel, project) {
      const paySettingName = this.currentRow.xhfCompanyName.indexOf('云采链') !== -1 ? '云采链正式' : '采联正式'
      const rep = await CreatePublishUnifiedPayment({
        paySettingName: paySettingName,
        accessKey: 'RILKvl1ODfZhS3g7',
        body: {
          creationTime: moment().format('YYYY-MM-DD HH:mm:ss'),
          orderNo: this.currentRow.orderNo,
          orderStatus: this.currentRow.orderStatus,
          orderAmountTotal: this.currentRow.orderAmountTotal,
          payChannel: payChannel,
          orderType: this.currentRow.orderType,
          // isInvoice: true,
          debitAndCredit: this.currentRow.debitAndCredit,
          area: this.currentRow.district,
          serviceChargeId: '',
          ghfBankAccount: this.currentRow.ghfBankAccount,
          ghfBankName: this.currentRow.ghfBankName,
          ghfCompanyName: this.currentRow.ghfCompanyName,
          ghfInvoiceTaxNo: this.currentRow.ghfInvoiceTaxNo,
          ghfTelphone: this.currentRow.ghfTelphone,
          xhfBankAccount: this.currentRow.xhfBankAccount,
          xhfBankName: this.currentRow.xhfBankName,
          xhfCompanyName: this.currentRow.xhfCompanyName,
          xhfInvoiceTaxNo: this.currentRow.xhfInvoiceTaxNo,
          projectId: this.currentRow.projectId,
          supplierId: this.currentRow.companyid,
          ghfCompanyAddress: this.currentRow.ghfCompanyAddress,
          xhfCompanyAddress: this.currentRow.xhfCompanyAddress,
          xhfTelphone: this.currentRow.xhfTelphone,
          opinion: payChannel,
          ghfEmail: this.companyInfo.companyMail,
          invoiceType: this.invoiceType,
          npId: this.$store.state.user.info.tenant.id,
          title: this.currentRow.projectNum,
          projectNum: this.currentRow.projectNum,
          agencyName: project.agencyName,
          extId: '',
          isCorporatePayment: payChannel === '对公支付',
          tenantId: this.$store.state.user.info.tenant.id,
          project: {
            projectId: project.id,
            project_Name: project.projectNum,
            project_Num: project.projectNum,
            project_Content: project.projectContent,
            project_Budget: project.projectBudget,
            purchase_Name: project.purchaserPhone,
            project_Type: '竞价平台',
            project_Date: project.creationTime,
            project_Source: this.$store.state.user.info.tenant.name,
            state: project.state,
            addTime: project.creationTime,
            project_MinBudget: project.projectMinBudget,
            mode: project.mode,
            area: project.area,
            manager: project.manager
          }
        }
      })
      this.PayCode = rep.result.data.code_img_url
      return rep
    },
    auditCoroperate (isInsurance = false) { // 对公支付审核
      this.BankForm.validateFields(async (err, val) => {
        if (!err) {
          this.$emit('bankLoading', true)
          if (!isInsurance) { // 判断是否保证金
            try {
              // 获取订单project数据形式
              const OrderPro = await ajax.GetCreateOrderProjectById({
                projectId: this.projectData.id
              })
              const record = await ajax.GetPaged({
                Filter: `orderNo=="${this.currentRow.orderNo}" && orderType == "${this.orderType}"`,
                MaxResultCount: 7,
                SkipCount: 0
              })
              const data = Object.assign({}, record.result.items[0])
              // 新订单信息修改
              data.invoiceType = this.invoiceType
              data.getMethod = this.ReceiveWay[0]
              data.recipients = this.PAdress.receiver
              data.phoneNum = this.PAdress.tel
              data.mail = this.PAdress.mail
              data.payChannel = this.PayWayList[this.payWay]
              // 开票信息
              data.ghfCompanyAddress = this.companyInfo.companyAddress
              data.ghfTelphone = this.companyInfo.companyTel
              data.ghfBankName = this.companyInfo.openBankName
              data.ghfBankAccount = this.companyInfo.bankAccount
              if (this.ReceiveWay[0] === '顺丰到付') {
                // 收件信息
                data.recipients = this.userInfo.name
                data.phoneNum = this.userInfo.phoneNumber
                data.address = this.userInfo.address
              }
              // 更改审核状态
              data.auditStatus = '0'
              // 更新财务中心订单信息
              // await ajax.UpdatePublishOrder({ // 更新财务中心订单
              //   accessKey: OrderPro.result.accessKey,
              //   body: {
              //     orderNo: this.currentRow.orderNo,
              //     payChannel: data.payChannel
              //   }
              // })
              await ModifyPublishChargesOrder({
                accessKey: OrderPro.result.accessKey,
                body: {
                  orderNo: this.currentRow.orderNo,
                  invoiceType: this.invoiceType,
                  getMethod: this.ReceiveWay[0],
                  recipients: data.recipients,
                  phoneNum: data.phoneNum,
                  mail: data.mail,
                  payChannel: data.payChannel,
                  ghfCompanyAddress: data.ghfCompanyAddress,
                  ghfTelphone: data.ghfTelphone,
                  ghfBankName: data.ghfBankName,
                  ghfBankAccount: data.ghfBankAccount,
                  address: data.address,
                  status: '2',
                  auditStatus: '0'
                }
              })
              // 更新订单表
              await ajax.UpdateOrders({
                orders: data
              })
              const coroperateData = {
                orderNo: this.currentRow.orderNo,
                addTime: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),
                account: val.Account,
                fileUrl: this.FileList[0].permanent,
                fileName: this.FileList[0].response.result.displayName,
                type: data.orderType
              }
              // 添加对公支付审核记录
              await ajax.CreatePublishCheck(coroperateData)
              if (data.invoiceType === '电子发票') {
                this.$notification.success({
                  message: '费用结算成功',
                  description: '电子发票将于3个工作日内发送到您指定的地址，届时请注意查收。'
                })
              }
              this.$emit('apply')
            } catch (err) {
              this.$message.error(err.response.data.error.message)
              this.$emit('bankLoading', false)
            }
          } else {
            try {
              // 获取订单project数据形式
              const OrderPro = await ajax.GetCreateOrderProjectById({
                projectId: this.projectData.id
              })
              const record = await ajax.GetPaged({
                Filter: `orderNo=="${this.currentRow.orderNo}" && orderType == "${this.orderType}"`,
                MaxResultCount: 7,
                SkipCount: 0
              })
              const data = Object.assign({}, record.result.items[0])
              // 新订单信息修改
              data.payChannel = '对公支付'
              // 开票信息
              data.ghfCompanyAddress = this.companyInfo.companyAddress
              data.ghfTelphone = this.companyInfo.companyTel
              data.ghfBankName = this.companyInfo.openBankName
              data.ghfBankAccount = this.companyInfo.bankAccount
              // 更改审核状态
              data.auditStatus = '0'
              // 更新财务中心订单信息
              // await ajax.UpdatePublishOrder({ // 更新财务中心订单
              //   accessKey: OrderPro.result.accessKey,
              //   body: {
              //     orderNo: this.currentRow.orderNo,
              //     payChannel: data.payChannel
              //   }
              // })
              await ModifyPublishChargesOrder({
                accessKey: OrderPro.result.accessKey,
                body: {
                  orderNo: this.currentRow.orderNo,
                  payChannel: data.payChannel,
                  ghfCompanyAddress: data.ghfCompanyAddress,
                  ghfTelphone: data.ghfTelphone,
                  ghfBankName: data.ghfBankName,
                  ghfBankAccount: data.ghfBankAccount,
                  status: '2',
                  auditStatus: '0'
                }
              })
              // 更新订单表
              await ajax.UpdateOrders({
                orders: data
              })
              const coroperateData = {
                orderNo: this.currentRow.orderNo,
                addTime: moment(new Date()).format('YYYY-MM-DD HH:mm:ss'),
                account: val.Account,
                fileUrl: this.FileList[0].permanent,
                fileName: this.FileList[0].response.result.displayName,
                type: '保证金',
                items: val.items
              }
              // 添加对公支付审核记录
              await ajax.CreatePublishCheck(coroperateData)
              this.$message.success('提交成功！')
              this.$emit('bankLoading', false)
              this.$emit('apply')
            } catch (err) {
              this.$message.error(err.response.data.error.message)
              this.$emit('bankLoading', false)
            }
          }
        }
      })
    }
  },
  watch: {
    ShowPay (val) {
      if (!val) {
        this.PayCode = ''
        if (this.GetCodeInter) {
          // 清除二维码获取定时器
          clearInterval(this.GetCodeInter)
          this.GetCodeInter = ''
        }
        if (this.CheckResInter) {
          // 清除支付情况获取定时器
          clearInterval(this.CheckResInter)
          this.CheckResInter = ''
        }
      }
      this.$emit('pageShow', val ? 1 : this.BankPay ? 2 : 0)
    },
    receiptShow (val) {
      if (!val) {
        this.receiptForm.resetFields()
      }
    },
    BankPay (val) {
      if (!val) {
        this.BankForm.resetFields()
        this.FileList = []
      }
      this.$emit('pageShow', val ? 2 : this.ShowPay ? 1 : 0)
    }
  }
}
</script>

<style lang="less">
  .pay-modal {
    font-size: 14px;
    padding-left: 18px;
    color: rgba(51, 51, 51, 1);
  }
  .PayImage {
    position: relative;
    width: 230px;
    height: 240px;
    margin: 12px auto 2px auto;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
  }
  .card {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.09);
    border-color: rgba(0, 0, 0, 0.09);
    margin-bottom: 20px;
    &:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.09);
    }
    .ant-card-body {
      padding: 0;
      .inner {
        padding: 26px 22px;
        display: inline-block;
        font-size: 14px;
        .bankInfo {
          line-height: 35px;
          div {
            width: 20%;
            font-weight: 700;
            text-align: right;
            margin-right: 10px;
            display: inline-block;
          }
        }
      }
    }
  }
  .reject {
    border: 0px solid #cdcdcd;
    table-layout: fixed;
    width: 95%;
    margin: 0 auto;
    line-height: 35px;
    background: rgba(157, 157, 157, 0.61);
    margin-bottom: 20px;
    td {
      border: 2px solid white;
      padding: 0 5px;
    }
  }
  .PayWay {
    display: inline-block;
    font-size: 14px;
    min-width: 113px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 224, 224, 1);
    margin-right: 16px;
    padding-right: 15px;
    cursor: pointer;
  }
  .ant-modal-body {
    padding-bottom: 16px;
    .ant-input-disabled, .ant-select-disabled, .ant-input-number-disabled {
      color: rgba(0, 0, 0, 0.65)!important;
    }
  }
</style>
