<template>
  <div id="to-quote">
    <!--搜索-->
    <search-header @search="search"></search-header>
    <!--报名报价-->
    <content-wrapper>
      <to-quote-list ref="table"></to-quote-list>
    </content-wrapper>
  </div>
</template>

<script>
import searchHeader from '@/components/projectRelated/searchHeader'
import ToQuoteList from '@/components/ProjectList/ToQuoteList'
import ContentWrapper from '@/components/ContentWrapper/ContentWrapper'
export default {
  name: 'ToQuote',
  components: {
    searchHeader,
    ContentWrapper,
    ToQuoteList
  },
  methods: {
    search (params) {
      this.$refs.table.search(params)
    }
  }
}
</script>

<style lang="less" scoped>
  #to-quote {
  }
</style>
