<template>
  <div id="oss-uploader">
    <a-upload
      ref="uploader"
      :multiple="false"
      :action="ossHost"
      :data="ossData"
      :before-upload="beforeUpload"
      @change="handleFileChange"
      :file-list="fileList"
      :remove="handleRemove"
      :showUploadList="showUploadList"
    >
      <a-tooltip placement="topLeft" title="只允许上传一个文件，如需上传多个请打包上传" arrowPointAtCenter>
        <!-- div 解决 a-button 作为a-tooltip 直接子元素时，禁用点击无效问题-->
        <div>
          <a-button :disabled="limit > 0 && limit <= fileList.length" v-if="!plain">
            <a-icon type="upload" style="font-size: 16px;"/>
            文件上传
          </a-button>
          <a href="javascript:;" :disabled="limit > 0 && limit <= fileList.length" v-else>
            上传
          </a>
        </div>
      </a-tooltip>
    </a-upload>
  </div>
</template>

<script>
// import { getOssSign, getOssDownloadUrl } from '@/api/notice'
const OSS_HOST = 'https://choicelink.oss-cn-shenzhen.aliyuncs.com'

export default {
  name: 'OssFileUploader',
  props: {
    limit: { // 上传数量限制 0: 无限制
      type: Number,
      default: 1
    },
    uploadTitle: {
      type: String,
      default: ''
    },
    tips: {
      type: String,
      default: ''
    },
    publicId: {
      type: String,
      default: ''
    },
    typeId: {
      type: String,
      default: ''
    },
    typeName: {
      type: String,
      default: ''
    },
    projectId: {
      type: String,
      default: ''
    },
    groupId: {
      type: String,
      default: ''
    },
    defaultFileList: {
      type: Array,
      default: () => {
        return []
      }
    },
    plain: {
      type: Boolean,
      default: false
    },
    showUploadList: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      ossHost: OSS_HOST,
      ossData: {
        key: '',
        OSSAccessKeyId: '',
        policy: '',
        signature: '',
        callback: '',
        success_action_status: '200',
        type: '*/*',
        'x:publicid': this.publicId,
        'x:displayname': '', // 文件名
        'x:userid': '', // 用户Id
        'x:projectid': this.projectId, // 项目Id
        'x:objectId': this.projectId,
        'x:objectidtype': this.$store.state.user.companyId, // 供应商对象
        'x:typeId': this.typeId, // 传资质文件的id
        'x:groupId': this.groupId, // 包组id
        'x:fileType': this.typeName.substring(0, 10) // TODO
        // 'x:fileType': '报名资质' // TODO
      },
      fileList: []
    }
  },
  methods: {
    initializeFileList () {
      this.defaultFileList.forEach(async (item, index) => {
        if (item.typeId === this.typeId) {
          const data = await getOssDownloadUrl({ id: item.fileId })
          this.fileList.push({
            uid: -index - 1,
            name: item.fileName,
            status: 'done',
            url: data.result,
            response: {
              fileId: item.fileId
            }
          })
        }
      })
    },
    handleRemove (file, fileList) {
      const index = this.fileList.indexOf(file)
      const newFileList = this.fileList.slice()
      newFileList.splice(index, 1)
      this.fileList = newFileList
      let fID
      // 非上传时file不同
      if (file.response.fileId) {
        fID = file.response.fileId
      } else {
        fID = file.response.result.id
      }
      this.$emit('remove', fID)
    },
    handlePreview (file) {
      console.log(file)
    },
    beforeUpload (file) {
      this.ossData['x:displayname'] = file.name
      this.ossData.key = `${this.dir}/${this.randomString(10)}${this.getSuffix(file.name)}`
    },
    getSuffix (filename) { // 获取文件后缀名
      const pos = filename.lastIndexOf('.')
      let suffix = ''
      if (pos !== -1) {
        suffix = filename.substring(pos)
      }
      return suffix
    },
    randomString (len) {
      len = len || 32
      const chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'
      const maxPos = chars.length
      let pwd = ''
      for (let i = 0; i < len; i++) {
        pwd += chars.charAt(Math.floor(Math.random() * maxPos))
      }
      return pwd
    },
    refreshOssData () {
      const _this = this
      async function loadSign () {
        const res = await getOssSign()
        _this.dir = res.result.dir
        _this.ossData.OSSAccessKeyId = res.result.accessid
        _this.ossData.callback = res.result.callback
        _this.ossData.policy = res.result.policy
        _this.ossData.signature = res.result.signature
      }
      loadSign()
      setInterval(loadSign, 900000)
    },
    async handleFileChange (info) {
      const _this = this
      const res = info.file.response
      if (info.file.status === 'done' && res.success) {
        const data = await getOssDownloadUrl({ id: res.result.id })
        info.fileList.forEach(item => {
          if (item.uid === info.file.uid) {
            item.url = data.result
          }
        })
        _this.$emit('success', {
          typeId: this.typeId,
          typeName: this.typeName,
          fileId: res.result.id,
          usage: '3',
          projectId: this.projectId,
          // downloadUrl: downloadUrl,
          fileName: res.result.displayName,
          uppriceId: ''
        })
      }

      if (info.file.status !== 'uploading') {
        console.log(info.file, info.fileList)
      }
      if (info.file.status === 'done') {
        this.$message.success(`${info.file.name} 上传成功`)
      } else if (info.file.status === 'error') {
        this.$message.error(`${info.file.name} 上传失败`)
      }

      this.fileList = [...info.fileList]
    }
  },
  mounted () {
    this.refreshOssData()
  },
  watch: {
    defaultFileList () {
      this.initializeFileList()
    }
  }
}
</script>
<style lang="less" scoped>
  #oss-uploader {
    /deep/ .ant-btn.disabled, .ant-btn[disabled], .ant-btn.disabled:hover, .ant-btn[disabled]:hover, .ant-btn.disabled:focus, .ant-btn[disabled]:focus, .ant-btn.disabled:active, .ant-btn[disabled]:active, .ant-btn.disabled.active, .ant-btn[disabled].active {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.65);
    }
  }
</style>
