body {
  margin: 0;
}

.icestark-child-app {
  height: 100%;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  div:focus {
    outline: none;
  }

  a:focus,
  a:active {
    outline: none;
  }

  a,
  a:focus,
  a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }

  .clearfix {
    &:after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }
  }
}
