<template>
  <div class="AccountCharge">
    <a-modal
      class="chargeModal"
      :visible="value"
      :width="610"
      :footer="null"
      :zIndex="1002"
      @cancel="$emit('input', false)"
    >
      <div slot="title">
        <span class="title">充值预付保证金</span>
      </div>
      <div class="infoNotice">
        <div>收款单位名称：云采链（广州）信息科技有限公司</div>
        <div style="margin: 10px 0;">开户银行：广发银行股份有限公司广州白云机场支行</div>
        <div>账号：{{ bindCompanyInfo.marginAccount }}</div>
      </div>
      <a-row style="margin: 16px 0;padding-left: 18px;color: #333333;">
        充值金额：
        <a-input-number style="width: 121px;margin-right: 13px;" :min="0" v-model="chargeNum"></a-input-number>元
      </a-row>
      <a-row class="pay-modal" style=" margin-top: 16px ">
        支付方式：
        <div
          class="PayWay"
          v-for="(payname,payIndex) in PayWayList"
          :key="payIndex"
          style="position: relative"
          :style="{ 'border-color': payIndex==payWay?'rgba(255, 136, 0, 1)':'' }"
          @click="payWay = payIndex">
          <img :src="require('@/assets/images/'+payname+'.png')" style="margin: 5px 5px 5px 10px" alt="" v-if="payname !== '对公支付'">
          <img v-else :src="require('@/assets/images/银联支付.png')" style="margin: 5px 5px 5px 10px" alt="">
          {{ payname }}
          <img src="~@/assets/images/打勾.svg" style="position: absolute; right: 0" v-if="payIndex==payWay">
        </div>
      </a-row>
      <a-row style="text-align: center;margin-top: 16px;">
        <a-button type="primary" style="width: 100px;height: 40px;" :loading="submitLoading" @click="charge">充值</a-button>
      </a-row>
    </a-modal>
    <!-- 成功提示 -->
    <a-modal
      v-model="chargeSuccessShow"
      :maskClosable="false"
      :footer="null"
      :closable="false"
      :width="500"
      :zIndex="1002"
      centered
    >
      <div style="text-align: center;padding: 38px 0 26px;">
        <a-icon type="check-circle" theme="filled" style="fontSize:70px;color:#52C41A;margin-bottom: 27px;"/>
        <div style="font-size: 24px;color: rgba(0, 0, 0, 0.85);">
          充值成功，待银行确认
        </div>
        <div style="margin: 8px 0 24px;color: rgba(0, 0, 0, 0.5);">
          预计1-3工作日內到账
        </div>
        <a-button style="width: 100px;height: 38px;" type="primary" @click="complete">完成</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
// import { CreatePublishOrder } from '@/api/notice'
// import apis from '@/api/successNotify'
export default {
  name: 'AccountCharge',
  props: {
    value: {
      type: Boolean,
      default: false
    },
    bindCompanyInfo: {
      type: Object,
      default: () => {
        return {}
      }
    },
    companyInfo: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      chargeNum: undefined,
      PayWayList: ['对公支付'],
      payWay: 0,
      chargeSuccessShow: false,
      submitLoading: false // 提交loading
    }
  },
  methods: {
    complete () { // 充值完成
      this.chargeSuccessShow = false
      // 刷新查看余额
      this.$emit('refreshRemain')
    },
    async charge () { // 充值
      try {
        this.submitLoading = true
        if (!this.chargeNum) {
          this.$message.error(('请输入充值金额'))
          return
        }
        // 获取订单project数据形式
        const OrderPro = await apis.GetCreateOrderProjectById({
          projectId: '5d0bcafe-91a5-4391-8498-08d95b052ce0'
        })
        delete OrderPro.result.data.project_Content
        // 财务订单
        const newOrder = await CreatePublishOrder({
          accessKey: 'RILKvl1ODfZhS3g7',
          body: {
            orderType: '会员充值',
            orderStatus: '2',
            auditStatus: '0',
            orderAmountTotal: this.chargeNum,
            ghfInvoiceTaxNo: this.companyInfo.companyNo,
            ghfCompanyName: this.companyInfo.companyName,
            ghfBankAccount: this.bindCompanyInfo.account,
            ghfBankName: this.bindCompanyInfo.bankName,
            xhfCompanyName: '云采链（广州）信息科技有限公司',
            supplierId: this.companyInfo.id,
            project: OrderPro.result.data,
            npId: 1,
            projectId: '5d0bcafe-91a5-4391-8498-08d95b052ce0',
            title: `${this.companyInfo.companyName}-会员充值`
          }
        })
        // 3.0订单
        const order = {
          orderNo: newOrder.result.data.orderNo,
          orderStatus: 1,
          auditStatus: '0',
          orderAmountTotal: this.chargeNum,
          orderType: '会员充值',
          ghfInvoiceTaxNo: this.companyInfo.companyNo,
          ghfCompanyName: this.companyInfo.companyName,
          ghfBankAccount: this.bindCompanyInfo.account,
          ghfBankName: this.bindCompanyInfo.bankName,
          companyid: this.companyInfo.id,
          projectName: '余额充值',
          projectId: '5d0bcafe-91a5-4391-8498-08d95b052ce0'
        }
        await apis.UpdateOrders({
          orders: order
        })
        // 金额重置
        this.chargeNum = undefined
        // 关闭充值弹窗
        this.$emit('input', false)
        this.chargeSuccessShow = true
      } catch (error) {
        console.log(error)
        this.$message.error('提交失败，请重试！')
      } finally {
        this.submitLoading = false
      }
    }
  }
}
</script>

<style lang="less" scoped>
.chargeModal {
  .title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #333333;
  }
  .infoNotice {
    padding: 20px;
    line-height: 14px;
    background: rgba(255, 136, 0, 0.1);
    color: rgb(51, 51, 51);
  }
  .PayWay {
    display: inline-block;
    font-size: 14px;
    min-width: 113px;
    height: 40px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(224, 224, 224, 1);
    margin-right: 16px;
    padding-right: 15px;
    cursor: pointer;
  }
}
</style>
