<template>
    <div id="MyQuote" style="width: 800px">
        <div v-if="ServeTime>=new Date(projectData.quotedBeginDate.replace('T',' ')).getTime()">
            <Tabs value="quote" @on-click="(val)=>{GetOTPage(1,val)}">
                <TabPane label="我要报价" name="quote" style="padding-left: 16px">
                    <div id="basic">
                        <div class="BHead">基本信息</div>
                        <Row class="BCon">
                            <div style="float: left;width: 60%">
                                <span style="margin-right: 10px">{{orderTitle}}：</span>
                                <div style="display: inline-block;width: 75%;vertical-align: top;">{{projectData.projectName}}</div>
                            </div>
                            <div>
                                <span style="margin-right: 10px">剩余报价时间：</span>
                                <div style="display: inline-block">
                                    <span class="time">{{counttime.h}}</span>时
                                    <span class="time">{{counttime.m}}</span>分
                                    <span class="time">{{counttime.s}}</span>秒
                                </div>
                            </div>
                        </Row>
                        <Row class="BCon">
                            <div style="float: left;width: 60%"><span style="margin-right: 10px">成交方式：</span>{{projectData.dealMode|transDue}}</div>
                            <div><span style="margin-right: 10px">剩余可报价次数：</span>{{leftCount}}次</div>
                        </Row>
                        <Row class="BCon">
                            <div style="float: left;width: 60%">
                                <span style="margin-right: 10px">预算金额：</span>
                                <!-- <span v-if="projectData.minBudget !== null && projectData.maxBudget !== null">{{projectData.minBudget}}—{{projectData.maxBudget}}元</span> -->
                                <span v-if="projectData.maxBudget !== null">{{projectData.minBudget ? projectData.minBudget : 0}}—{{projectData.maxBudget}}元</span>
                                <span v-if="projectData.minBudget !== null && projectData.maxBudget === null">最低{{ projectData.minBudget }}元</span>
                                <span v-if="projectData.minBudget === null && projectData.maxBudget === null">无</span>
                                <!-- <span v-else>***</span> -->
                                <span style="color: rgba(56, 136, 255, 1);margin-left:32px;cursor: pointer" @click="OpenRecord(1)">查看出价记录</span>
                            </div>
                            <div><span style="margin-right: 10px">报价规则：</span>{{projectData.quotedRule|tranRule}}</div>
                        </Row>
                        <Row class="BCon" v-if="quoteStep !== 0">
                            <div style="float: left;width: 60%">
                                <span style="margin-right: 10px">报价间隔：</span>
                                {{ toMoney(quoteStep) }} 元
                                <Tooltip :content="'每次报价差距至少为' + toMoney(quoteStep) + '元'" placement="top" style="margin-left: 10px">
                                    <Icon type="ios-help-outline" size="14px"></Icon>
                                </Tooltip>
                            </div>
                        </Row>
                    </div>
                    <div id="quote">
                        <div class="QHead">我的报价</div>
                        <Form ref="MyQuote" :model="upPrice" :rules="QRules">
                            <!-- <Row class="QCon"> -->
                                <Form-item prop="quotedPrice" label="报价：" :label-width="69">
                                    <Input v-if="!projectData.isDiscountRate" style="width: 200px;margin-right: 16px" :number="true" v-model="upPrice.quotedPrice"></Input><span v-if="!projectData.isDiscountRate">元</span><span v-if="!projectData.isDiscountRate && upPrice.quotedPrice !== null">（{{ number_chinese(upPrice.quotedPrice) }}）</span>
                                    <InputNumber v-if="projectData.isDiscountRate" style="width: 100px;margin-right: 16px" :min="0" :max="100" v-model="upPrice.quotedPrice"></InputNumber><span v-if="projectData.isDiscountRate">%</span>
                                </Form-item>
                            <!-- </Row> -->
                            <!-- 附件上传 -->
                            <Row class="QCon">
                                    <div style="line-height: 36px;margin-bottom:16px">
                                        <span>附件上传：</span>
                                        <Upload ref="upload" :action="aliAdress" :data="extraup" accept="image/*,application/pdf,application/zip" :before-upload="(file)=>{getupload(file)}" :on-remove="deleteUp" :on-preview="goPreview" :on-success="uploadSuccess" :on-error="uploadError" style="display: inline-block;vertical-align: top;width: 85%">
                                            <Button type="ghost" icon="upload">添加附件</Button>
                                            <span style="color: rgba(153,153,153,1);margin-left: 16px">如：报价附件、产品参数、业绩证明等</span>
                                        </Upload>
                                    </div>
                            </Row>
                            <!-- 附件上传 -->
                            <Row class="QCon">
                                <!-- 备注 -->
                                    <div style="line-height: 36px">
                                        <span style="margin-right: 29px">备注：</span>
                                        <div style="display: inline-block;width: 500px;vertical-align: top">
                                            <Input type="textarea" v-model="upPrice.items"></Input>
                                            <span style="color: rgba(153,153,153,1);">如：报价说明、服务期、完成期等</span>
                                        </div>
                                    </div>
                                <!-- 备注 -->
                            </Row>
                        </Form>
                    </div>
                </TabPane>
                <TabPane v-if="quotedRule!='1'" label="其他供应商报价信息" name="other" id="otherTab">
                    <Table :columns="otherColumn" :data="OtherData" style="line-height: 53px" size="large"></Table>
                    <Page style="text-align: center;margin-top: 10px" :total="otherTotal" v-if="otherTotal>6" :current="CurrentPage" :page-size="6" @on-change="(page)=>{GetOTPage(page,'other')}" show-total></Page>
                </TabPane>
            </Tabs>
            <div class="foot">
                <div style="margin: 0px auto 0 auto;width: 208px">
                    <Button style="width: 88px;height: 40px" @click="reload">取消</Button>
                    <Tooltip style="width: 88px;float: right;height: 40px" placement="top-end" :content="ServeTime<new Date(projectData.quotedBeginDate.replace('T',' ')).getTime()?'报价尚未开始':(ServeTime>new Date(projectData.quotedEndDate.replace('T',' ')).getTime()?'报价已结束':(leftCount==0?'报价次数已用完':''))" v-if="leftCount==0||ServeTime<new Date(projectData.quotedBeginDate.replace('T',' ')).getTime()||ServeTime>new Date(projectData.quotedEndDate.replace('T',' ')).getTime()">
                        <Button style="width: 88px;float: right;height: 40px;background: rgba(255,136,0,1);color: rgba(255,255,255,1);" :disabled="true">提交报价</Button>                
                    </Tooltip>
                    <Button v-else style="width: 88px;float: right;height: 40px;background: rgba(255,136,0,1);color: rgba(255,255,255,1);" :disabled="leftCount==0||ServeTime<new Date(projectData.quotedBeginDate.replace('T',' ')).getTime()||ServeTime>new Date(projectData.quotedEndDate.replace('T',' ')).getTime()" :loading="subLoading" @click="submit">提交报价</Button>
                </div>
                <!-- 竞价须知 -->
                <div style="width: 225px;margin: 15px auto 0 auto">
                    <Checkbox v-model="agreen">我已阅读并同意</Checkbox>
                    <span style="color: rgba(56, 136, 255, 1);cursor:pointer" @click="SupAgreen=true">《供应商报价须知》</span>
                </div>
                <!-- 竞价须知 -->
            </div>
            <!-- 出价记录 -->
            <Modal v-model="QuoteRecord" title="查看出价记录" width="480px" :mask-closable="false">
                <Table :columns="recordColumns" class="record" :data="recordData"></Table>
                <Page style="text-align: center;margin-top: 10px" :total="recordTotal" v-if="recordTotal>5" :current="recordCurrentpage" :page-size="5" @on-change="(page)=>{OpenRecord(page)}" show-total></Page>
                <div slot="footer"></div>
            </Modal>
            <!-- 出价记录 -->
            <!-- 供应商报价须知 -->
            <Modal v-model="SupAgreen" title="供应商报价须知" width="680px" :mask-closable="false">
                <!-- <div style="text-align: center;font-size:18px;font-weight: 700;margin: 8px 0 24px 0">供应商报价须知</div> -->
                <div class="mustKnow" v-html="mustKnow"></div>
                <div slot="footer"></div>        
            </Modal>
            <!-- 供应商报价须知 -->
        </div>
        <div v-else>
            <div style="width:175px;margin: 180px auto;text-align: center;" v-if="!getLoading">
                <Icon type="alert-circled" size="200" color="rgb(255, 136, 0)"></Icon>
                <span style="font-size: 15px;font-weight: 700">报价尚未开始</span>
            </div>
        </div>
        <Spin fix v-if="getLoading">
            <Icon type="load-c" size=18 class="demo-spin-icon-load"></Icon>
            <div>数据加载中，请稍后...</div>
        </Spin>
    </div>
</template>

<script>
    import { fileUtil } from '../../lib/file'
    import ajax from "@/lib/ajax";
    import { fileAjax } from '@/lib/requestAjax'
    import requestUrls from '@/lib/requestUrls'   
    import Util from '@/lib/AES' 
    import aUtil from '@/lib/util' 
    import appconst from '@/lib/appconst'
    import mustKnow from './mustKonw'
    // import SignalRAspNetCoreHelper from '@/lib/SignalRAspNetCoreHelper'
    // import $ from 'jquery'
    let thishead
    export default {
        name: 'myquote',
        data() {
            return {
                orderTitle: '订单名称',
                getLoading: true,//数据加载loading
                quotedRule: '',//不公开报价 = 1 | 半公开报价 = 2 | 全公开报价 = 3
                ServeGetCount: 0,//服务器时间获取次数
                ServeTime: 0,//服务器时间
                QuoteCount: 0,//已报价次数
                projectData: {
                    quotedBeginDate: '',
                    quotedEndDate: '',
                    quotedCount: 0,
                    isOpenBudget: false,//是否公开预算
                    isDiscountRate: false,//是否折扣率
                },//项目信息
                upPrice: {
                    quotedPrice: null,//报价金额
                    items: '',//备注
                },//表单数据
                agreen: false,//是否已阅读竞价须知
                //倒计时
                counttime: {
                    d: 0,
                    h: 0,
                    m: 0,
                    s: 0
                },//时间截止计时
                timemachine: '',//定时
                otherColumn:[
                    {
                        title: '供应商名称',
                        key: 'company',
                        width: 334
                    },
                    {
                        title: '报价时间',
                        key: 'quotedDate',
                        width: 270,
                        render: (h,params)=>{
                            return h('div',this.resetDate(params.row.quotedDate))
                        }
                    },
                    {
                        // title: '报价数',
                        renderHeader:(h,params)=>{
                            return h('div',this.projectData.isDiscountRate?'投标下浮率':'报价数')
                        },
                        render: (h,params)=>{
                            return h('div',{
                                style:{
                                    'color': 'rgba(255,136,0,1)'
                                }
                            },params.row.quotedPrice)
                        }
                    }
                ],
                OtherData:[],
                //阿里云
                aliAdress: '',//阿里云地址
                extraup: {},//上传参数
                fileList: [],//已上传文件
                QRules:{
                    quotedPrice: [{ type:'number', required: true, message: '请填写报价金额！', trigger: 'blur' }]
                },//校验规则
                subLoading: false,//提交loading
                dueModes: [{itemCode: '',itemName:''}],//成交方式列表
                otherTotal: 0,//其他供应商数量
                CurrentPage: 1,//其他供应商页码
                QuoteRecord: false,//出价记录
                updateLoading: false, // 更新loading
                recordColumns:[
                    {
                        title: '序号',
                        render:(h,params)=>{
                            return h('div',((this.recordCurrentpage-1)*5)+params.index+1)
                        },
                        width: 80,
                        align: 'center'
                    },
                    {
                        title: '报价时间',
                        render:(h,params)=>{
                            return h('div',this.resetDate(params.row.quotedDate))
                        },
                        align: 'center'
                    },
                    {
                        // title: this.projectData.isDiscountRate?'投标折扣率（%）':'报价金额（元）',
                        renderHeader:(h,params)=>{
                            return h('div',this.projectData.isDiscountRate?'投标下浮率（%）':'报价金额（元）')
                        },
                        key: 'quotedPrice',
                        width: 150,
                        align: 'center'
                    }
                ],
                quoteRuleList: [], //报价规则
                recordData: [],//报价数据
                recordCurrentpage: 1,//出价记录当前页
                recordTotal: 0,//出价记录总数
                SupAgreen: false,//供应商须知
                latestQuote: '', // 最后一次报价
                quoteStep: 0,// 报价步伐
                mustKnow,
                ifSubmiting: false // 判断是否正在提交中
            }
        },
        beforeCreate(){
            thishead = this
        },
        async mounted(){
            // 强制setcookie
            aUtil.abp.utils.setCookieValue('isQuote',true)
            let that = this            
            window.addEventListener('message',async function (e) {//自动登录
                // if(e.origin == "http://192.168.165.189:8080"&&e.data.token){
                if(e.data.open){
                    let login = await ajax.get('https://api.choicelink.cn/PlatformCenter/api/services/app/Session/GetCurrentLoginInformations',{
                        headers:{
                            'Abp.TenantId': aUtil.abp.multiTenancy.getTenantIdCookie()
                        }}
                    );
                    if(login.data.result.user==null&&e.data.token){
                        aUtil.abp.multiTenancy.setTenantIdCookie(e.data.tenentid)
                        var tokenExpireDate = new Date(new Date().getTime() + 1000 * 7200);//两小时          
                        aUtil.abp.auth.setToken(e.data.token,tokenExpireDate);
                        aUtil.abp.utils.setCookieValue('Atoken',e.data.Atoken) // 记录用户中心A嘅token
                        aUtil.abp.utils.setCookieValue(appconst.authorization.encrptedAuthTokenName,e.data.token,tokenExpireDate,aUtil.abp.appPath)
                        location.reload();
                    }
                }
                if(e.data.close){
                    that.$store.commit("app/logout", that);
                    aUtil.abp.auth.clearToken();
                }
            });
            // console.log(Util.decrypt('gb60GJsbm1xq3KmNGqiTzQ==','2c90995c-2b2e-416f-c498-08d73cd2bd6f'))
            ajax.get('https://api.choicelink.cn/PlatformCenter/api/services/app/Session/GetCurrentLoginInformations',{
                headers:{
                    'Abp.TenantId': aUtil.abp.multiTenancy.getTenantIdCookie()
                }}
            ).then(async islogin=>{
                if(islogin.data.result.user!=null){
                    // this.getLoading = true
                    this.getProData().then(async pd=>{
                        ajax.get(requestUrls.Session.GetCurrentServerDate).then(time=>{
                            // this.getLoading = false
                            this.ServeGetCount += 1
                            this.ServeTime = new Date(time.data.result).getTime()
                            //开始倒计时
                            let countServe = 0//服务器校验
                            that.getTime(that.projectData.quotedEndDate.replace('T',' '))
                            this.timemachine = setInterval(function () {
                                    that.ServeTime = that.ServeTime + 1000//以服务器时间为准
                                    countServe += 1
                                    if(countServe==300){//每隔五分钟检验服务器时间
                                        that.CheckServeTime()
                                        countServe = 0
                                    }
                                    that.getTime(that.projectData.quotedEndDate.replace('T',' '))
                            }, 1000);
                        })
                        //获取阿里云
                        this.getAlisign().then(res=>{
                            this.aliAdress = res.action  
                            this.extraup = res.extradata
                        })
                        //获取成交方式
                        this.dueModes = await this.getDataDict('成交方式')
                        //获取已报价次数
                        this.getQuoteCount()
                        //获取报价规则
                        this.quoteRuleList = await this.getDataDict('报价规则')
                        if (!this.projectData.isDiscountRate&&this.projectData.quotedRule!='1') {
                            // 获取最后一次报价记录
                            this.getRecord()
                        }
                    })
                    // signalR
                    // SignalRAspNetCoreHelper.initSignalR();
                    // setTimeout(() => {
                    //     this.connectSignalR()                        
                    // }, 1000);
                }
            })
            // 判断订单名称
            if (this.$route.query.title) {
                this.orderTitle = this.$route.query.title
            }
        },
        methods:{
            reload(){
                window.parent.postMessage({close:true},'*');
                this.$store.commit("app/logout", this);
                aUtil.abp.auth.clearToken();
            },
            async getProData(){//获取对应项目信息
                this.getLoading = true
                let res = await ajax.get(requestUrls.OLQuotedSetting.GetById,{
                    params:{
                        Id: this.$route.query.id
                    }
                })
                this.projectData = res.data.result
                this.quotedRule = res.data.result.quotedRule
                return 
            },
            countTime(time) {
                var d = 0,
                    h = '00',
                    m = '00',
                    s = '00';
                //获取当前时间
                var date = new Date(this.ServeTime);
                var now = date.getTime();
                //设置截止时间
                var endDate = new Date(time);
                var end = endDate.getTime();
                //时间差
                var leftTime = end - now;
                //定义变量 d,h,m,s保存倒计时的时间
                if (leftTime >= 0) {
                    if (leftTime < 10000 && !this.updateLoading) { // 拍卖顺延功能
                        this.updateLoading = true
                        this.delayEnd()
                    }
                    if (Math.floor(leftTime/1000) < 300 && Math.floor(leftTime/1000)%60 === 0 && !this.updateLoading) { // 最后5分钟 每隔1分钟查一次
                        this.updateLoading = true
                        this.delayEnd()
                    }
                    // d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
                    // h = Math.floor(leftTime / 1000 / 60 / 60 % 24) > 9 ? Math.floor(leftTime / 1000 / 60 / 60 % 24) : '0' + Math.floor(leftTime / 1000 / 60 / 60 % 24);
                    h = Math.floor(leftTime / 1000 / 60 / 60) > 9 ? Math.floor(leftTime / 1000 / 60 / 60) : '0' + Math.floor(leftTime / 1000 / 60 / 60);
                    m = Math.floor(leftTime / 1000 / 60 % 60) > 9 ? Math.floor(leftTime / 1000 / 60 % 60) : '0' + Math.floor(leftTime / 1000 / 60 % 60);
                    s = Math.floor(leftTime / 1000 % 60) > 9 ? Math.floor(leftTime / 1000 % 60) : '0' + Math.floor(leftTime / 1000 % 60);
                }else{
                    if(this.ServeGetCount<10){//判断时间是否与服务器一致
                        ajax.get(requestUrls.Session.GetCurrentServerDate).then(updateTime=>{
                            this.ServeGetCount += 1
                            let newnow = new Date(updateTime.data.result).getTime()
                            let newend = new Date(time).getTime()
                            if((newend - newnow)>=0){
                                this.ServeTime = new Date(updateTime.data.result).getTime()
                                return this.countTime(this.projectData.quotedEndDate.replace('T',' '))
                            }
                        })
                    }
                }
                return ({
                    d: d,
                    h: h,
                    m: m,
                    s: s
                })
                //显示动态时间效果"2018-10-22 0:0:0"
            },
            getTime(time) { //每秒执行一次的函数                
                var that = this;
                var d = 0,
                    h = 0,
                    m = 0,
                    s = 0;
                var tt = that.countTime(time);
                    d = tt.d;
                    h = tt.h;
                    m = tt.m;
                    s = tt.s;
                that.counttime['d'] = d;
                that.counttime['h'] = h;
                that.counttime['m'] = m;
                that.counttime['s'] = s;
            },
            //文件上传
                //获取阿里云地址
            async getAlisign(){
                let val = await fileUtil.downloadInit(this.$store.state.session.user.id,1,this.projectData.id)
                return val
            },
                //获取阿里云地址
                //修改key
            getupload(file){
                //控制只能上传一个文件
                this.$refs.upload.clearFiles()//清空文件上传列表
                this.fileList = []
                //控制只能上传一个文件
                this.extraup['x:displayname'] = file.name
                this.extraup.key =this.extraup.key + fileUtil.random_string(10) + fileUtil.get_suffix(file.name)  
            },
                //修改key
                //上传成功
            uploadSuccess(response, file, fileList){
                this.fileList = fileList//->response.result.id
            },
                // 文件上传失败
            uploadError(){
                this.$Message.error('文件上传失败，请重新上传！')
            },
                // 文件上传失败
                //上传成功
                //删除文件
            deleteUp(file, fileList){
                this.fileList = fileList
            },
                //删除文件
            //文件上传   
            //预览文件
            goPreview(file){
                fileAjax.get(`/api/services/app/AbpAliOss/GetDownUrl?id=${file.response.result.id}`).then(res=>{
                    window.open(res.data.result,'_blank')
                })
            },     
            //提交报价
            submit(){
                this.$refs['MyQuote'].validate(res=>{
                    if(res){
                        if (this.projectData.minBudget !== null && this.projectData.maxBudget !== null) { // 判断是否有预算
                            if((this.upPrice.quotedPrice<this.projectData.minBudget||this.upPrice.quotedPrice>this.projectData.maxBudget)&&!this.projectData.isDiscountRate){
                                this.$Message.error('报价金额超出预算范围，请重新报价！')
                                return
                            }
                            // 判断报价是否符合步伐
                            if (this.latestQuote&&this.quoteStep&&!this.projectData.isDiscountRate) { // 有间隔才判断
                                // 低价
                                if (this.projectData.dealMode=='1'||this.projectData.dealMode=='4') {
                                    if ((parseFloat(this.latestQuote) - this.quoteStep) > this.projectData.minBudget) { // 判断是否步伐超过报价范围
                                        if ((parseFloat(this.latestQuote) - this.upPrice.quotedPrice) < this.quoteStep) {
                                            this.$Message.error(`报价必须比上次报价低${this.quoteStep}`)
                                            return
                                        }
                                    } else {
                                        if (this.upPrice.quotedPrice > parseFloat(this.latestQuote)) {
                                            this.$Message.error(`报价必须比上次报价低`)
                                            return
                                        }
                                    }
                                }
                                // 高价
                                if (this.projectData.dealMode=='2') {
                                    if (parseFloat(this.latestQuote) + this.quoteStep < this.projectData.maxBudget) { // 判断是否步伐超过报价范围
                                        if ((this.upPrice.quotedPrice - parseFloat(this.latestQuote)) < this.quoteStep) {
                                            this.$Message.error(`报价必须比上次报价高${this.quoteStep}`)
                                            return
                                        }
                                    } else {
                                        if (this.upPrice.quotedPrice < parseFloat(this.latestQuote)) {
                                            this.$Message.error(`报价必须比上次报价高`)
                                            return
                                        }
                                    }
                                }
                                // 平均价
                                if (this.projectData.dealMode=='3') {
                                    if ((parseFloat(this.latestQuote) + this.quoteStep) < this.projectData.maxBudget) {
                                        if ((parseFloat(this.latestQuote) - this.quoteStep) > this.projectData.minBudget) {
                                            if (Math.abs(this.upPrice.quotedPrice - parseFloat(this.latestQuote)) < this.quoteStep) {
                                                this.$Message.error(`报价必须与上次报价相差${this.quoteStep}`)
                                                return
                                            }
                                        } else {
                                            if (this.upPrice.quotedPrice > parseFloat(this.latestQuote) && Math.abs(this.upPrice.quotedPrice - parseFloat(this.latestQuote)) < this.quoteStep) {
                                                this.$Message.error(`报价必须与上次报价相差${this.quoteStep}`)
                                                return
                                            }
                                        }
                                    } else {
                                        if ((parseFloat(this.latestQuote) - this.quoteStep) > this.projectData.minBudget) {
                                            if (this.upPrice.quotedPrice < parseFloat(this.latestQuote) && Math.abs(this.upPrice.quotedPrice - parseFloat(this.latestQuote)) < this.quoteStep) {
                                                this.$Message.error(`报价必须与上次报价相差${this.quoteStep}`)
                                                return
                                            }
                                        }
                                    }
                                }
                            }
                            // 判断报价是否符合步伐
                        }
                        // 预算最大值或最小值只存在一个时
                        if (this.projectData.minBudget !== null && this.upPrice.quotedPrice<this.projectData.minBudget && !this.projectData.isDiscountRate) {
                            this.$Message.error('报价金额超出预算范围，请重新报价！')
                            return
                        }
                        if (this.projectData.maxBudget !== null && this.upPrice.quotedPrice>this.projectData.maxBudget && !this.projectData.isDiscountRate) {
                            this.$Message.error('报价金额超出预算范围，请重新报价！')
                            return
                        }
                        // 预算最大值或最小值只存在一个时
                        if((this.upPrice.quotedPrice<0||this.upPrice.quotedPrice>100)&&this.projectData.isDiscountRate){
                            this.$Message.error('报价下浮率请确保在0~100之间，请重新报价！')
                            return
                        }
                        if(this.projectData.needUploadFile==1&&this.fileList.length==0){
                            this.$Message.error('请上传附件！')
                            return
                        }
                        if(!this.agreen){
                            this.$Message.error('请先勾选阅读报价须知！')
                            return
                        }
                        this.$Modal.confirm({
                            width: 482,
                            loading: true,
                            render: (h) => {
                                if(!this.projectData.isDiscountRate){
                                    return h('p',{
                                        style: {
                                            'font-size': '18px',
                                            'text-align': 'center',
                                            'width': '350px',
                                            'margin': '0 auto',
                                            'line-height': '25px'
                                        }
                                    },`您的报价金额为：${this.toMoney(this.upPrice.quotedPrice)}元（${this.number_chinese(this.upPrice.quotedPrice)}），是否确认提交？`)
                                }else{
                                    return h('p',{
                                        style: {
                                            'font-size': '18px',
                                            'text-align': 'center',
                                            'width': '350px',
                                            'margin': '0 auto',
                                            'line-height': '25px'
                                        }
                                    },`您的报价下浮率为：${this.upPrice.quotedPrice}%，是否确认提交？`)
                                }
                            },
                            onOk:async ()=>{
                                if (this.ifSubmiting) {
                                    return
                                } else {
                                    this.ifSubmiting = true
                                }
                                this.subLoading = true
                                let projectData = this.projectData
                                let data = {
                                    "projectNumber": projectData.projectNumber,//项目编号
                                    //加密报价金额
                                    "quotedPrice": this.quotedRule=='1'?Util.encrypt(this.upPrice.quotedPrice,this.$route.query.id):this.upPrice.quotedPrice,//报价金额
                                    // "quotedPrice": this.upPrice.quotedPrice,//报价金额
                                    "items": this.upPrice.items,//报价备注
                                    "winbid": 0,//是否中标
                                    "available": 1,//是否有效
                                    "itemId": 0,//兼容1.0Id
                                    "company": this.$store.state.session.user.companyName,//供应商名称
                                    "settingId": this.$route.query.id,//报价设置Id
                                    "projectId": projectData.projectId,//项目Id
                                    "groupId": projectData.groupId,//包组Id
                                    "bidderId": this.$store.state.session.user.companyId,//投标人ID
                                    "bidcatId": this.$store.state.session.tenant.id,//竞价平台Id
                                    "uploadId": this.fileList?JSON.stringify(this.fileList.map(file=>{
                                        return {
                                            fileID: file.response.result.id,//阿里云id
                                            fileName: file.name,//文件名称
                                        }
                                    })):'',//文件上传ID
                                    "tenantId": this.$store.state.session.tenant.id//TenantId
                                }
                                await ajax.post(requestUrls.OLUpprice.CreateUpprice,data).then(req=>{
                                    if(req.data.result.code==0){
                                        // this.$Message.success('提交成功！')
                                        this.$Message.success({
                                            content: '报价成功！',
                                            duration: 3
                                        })
                                        this.getQuoteCount()//刷新剩余报价次数
                                        // if(this.projectData.needUploadFile==1){//文件类型为必须上传才清空
                                        //     this.$refs.upload.clearFiles()//清空文件上传列表
                                        //     this.fileList = []
                                        // }
                                        if(this.fileList.length>0){//文件类型为必须上传才清空
                                            this.$refs.upload.clearFiles()//清空文件上传列表
                                            this.fileList = []
                                        }
                                        this.upPrice = {
                                            quotedPrice: '',//报价金额
                                            items: '',//备注
                                        }//表单数据
                                        this.subLoading = false
                                        // 刷新最新报价
                                        if (this.projectData.quotedRule!='1') {
                                            this.getRecord()
                                            const left = new Date(this.projectData.quotedEndDate).getTime() - new Date(this.ServeTime).getTime()
                                            if (this.projectData.dealMode == '2' && Math.floor(left/1000) < 300) {
                                                this.updateLoading = true
                                                this.delayEnd()
                                            }
                                        }
                                    } else {
                                        this.$Message.error(req.data.result.resultMsg)
                                        this.subLoading = false
                                    }
                                    // if (req.data.result.code==9) {
                                    //     this.$Message.error(req.data.result.resultMsg)
                                    // }
                                    // if(req.data.result.code==99){
                                    //     this.$Message.error(req.data.result.resultMsg)
                                    //     this.subLoading = false
                                    // }
                                }).catch(err => {
                                    console.error(err)
                                }).finally(next => {
                                    this.subLoading = false
                                    this.$Modal.remove()
                                    setTimeout(() => {
                                        this.ifSubmiting = false 
                                    }, 500)
                                })
                            }
                        })
                    }
                })
            },
            //数据字典
            async getDataDict(type = '',ip = 0,id) {//ip控制是否只查询一级数据
                if (!type) {
                    return []
                }
                let para = {}
                if(ip){
                    para = {
                        filter: `itemType=="${type}"&&itemParent==""`
                    }
                }else{
                    para = {
                        filter: `itemType=="${type}"`
                    }
                }
                if(id){
                    para = {
                        filter: `itemType=="${type}"&&itemParent=="${id}"`
                    } 
                }
                let rep = await ajax.get(requestUrls.AbpDataDict.GetList, {
                    params: para
                })
                if (rep.data.success) {
                    return rep.data.result.items
                }
                return []
            },
            //获取其他供应商数据
            GetOTPage(page,val){
                this.CurrentPage = page
                if(val=='other'){
                    ajax.get(requestUrls.OLUpprice.GetListBySettingId,{
                        params:{
                            SettingId: this.$route.query.id,
                            MaxResultCount: 6,
                            SkipCount: (this.CurrentPage - 1)*6
                        }
                    }).then(res=>{
                        if(res.data.success){
                            this.otherTotal = res.data.result.resultList.totalCount
                            this.OtherData = res.data.result.resultList.items
                        }
                    })
                }
            },
            OpenRecord(page){
                this.recordCurrentpage = page
                ajax.get(requestUrls.OLUpprice.GetListBySettingBidder,{
                    params:{
                        SettingId: this.$route.query.id,
                        BidderId: this.$store.state.session.user.companyId,
                        MaxResultCount: 5,
                        SkipCount: (page-1)*5
                    }
                }).then(res=>{
                    if(res.data.result.code==0){
                        if(this.quotedRule=='1'){
                            res.data.result.resultList.items.forEach(price=>{
                                price.quotedPrice = Util.decrypt(price.quotedPrice,this.$route.query.id)
                            })
                        }
                        this.recordTotal = res.data.result.resultList.totalCount
                        this.recordData = res.data.result.resultList.items
                        this.QuoteRecord=true
                    }
                })
            },
            resetDate(val){
                return val.split('.')[0].replace('T',' ')
            },
            toMoney(num) {
                if (!num) {
                    return "0.00";
                }
                if (num) {
                    if (isNaN(num)) {
                        alert("金额中含有不能识别的字符");
                        return;
                    }
                    num = typeof num == "string" ? parseFloat(num) : num; //判断是否是字符串如果是字符串转成数字
                    num = num.toFixed(2); //保留两位
                    num = parseFloat(num); //转成数字
                    num = num.toLocaleString(); //转成金额显示模式
                    //判断是否有小数
                    if (num.indexOf(".") == -1) {
                        num = num + ".00";
                    } else {
                        num = num.split(".")[1].length < 2 ? num + "0" : num;
                    }
                    return num; //返回的是字符串23,245.12保留2位小数
                } else {
                    return (num = null);
                }
            },
            getQuoteCount(){//获取当前供应商已报价次数
                ajax.get(requestUrls.OLUpprice.GetCountBySettingBidder,{
                    params:{
                        SettingId: this.$route.query.id,
                        BidderId: this.$store.state.session.user.companyId,
                    }
                }).then(res=>{
                    this.QuoteCount = res.data.result
                    this.getLoading = false
                })
            },
            CheckServeTime(){//检查是否与服务器时间一致
                ajax.get(requestUrls.Session.GetCurrentServerDate).then(time=>{
                    if(new Date(time.data.result).getTime()!=this.ServeTime){
                        this.ServeTime = new Date(time.data.result).getTime()
                    }
                })
            },
            number_chinese(str) {
                var num = parseFloat(str);
                var strOutput = "",
                    strUnit = '仟佰拾亿仟佰拾万仟佰拾圆角分';
                num += "00";
                var intPos = num.indexOf('.');  
                if (intPos >= 0){
                    num = num.substring(0, intPos) + num.substr(intPos + 1, 2);
                }
                strUnit = strUnit.substr(strUnit.length - num.length);
                for (var i=0; i < num.length; i++){
                    strOutput += '零壹贰叁肆伍陆柒捌玖'.substr(num.substr(i,1),1) + strUnit.substr(i,1);
                }
                return strOutput.replace(/零角零分$/, '整').replace(/零[仟佰拾]/g, '零').replace(/零{2,}/g, '零').replace(/零([亿|万])/g, '$1').replace(/零+元/, '圆').replace(/亿零{0,3}万/, '亿').replace(/^元/, "零圆")
            },
            // toMoney(num) {
            //     if (!num) {
            //         return "0.00";
            //     }
            //     if (num) {
            //         if (isNaN(num)) {
            //             alert("金额中含有不能识别的字符");
            //             return;
            //         }
            //         num = typeof num == "string" ? parseFloat(num) : num; //判断是否是字符串如果是字符串转成数字
            //         num = num.toFixed(2); //保留两位
            //         num = parseFloat(num); //转成数字
            //         num = num.toLocaleString(); //转成金额显示模式
            //         //判断是否有小数
            //         if (num.indexOf(".") == -1) {
            //             num = num + ".00";
            //         } else {
            //             num = num.split(".")[1].length < 2 ? num + "0" : num;
            //         }
            //         return num; //返回的是字符串23,245.12保留2位小数
            //     } else {
            //         return (num = null);
            //     }
            // },
            // 获取当前供应商报价记录
            getRecord () {
                // ajax.get(requestUrls.OLUpprice.GetListBySettingId,{
                //     params:{
                //         SettingId: this.$route.query.id,
                //         Filter: `bidderId="${this.$store.state.session.user.companyId}"`,
                //         MaxResultCount: 1,
                //         SkipCount: 0
                //     }
                // })
                ajax.get(requestUrls.OLUpprice.GetListBySettingId,{
                    params:{
                        SettingId: this.$route.query.id,
                        Filter: `bidderId == "${this.$store.state.session.user.companyId}"`
                    }
                }).then(res => {
                    if (res.data.result.resultList.items.length > 0) {
                        this.latestQuote = res.data.result.resultList.items[0].quotedPrice
                    }
                    // 计算报价步伐
                    if ((this.projectData.maxBudget || this.projectData.minBudget) && this.projectData.quetedInterval) { // 有预算才弄
                        this.quoteStep = this.projectData.maxBudget?this.projectData.maxBudget*(this.projectData.quetedInterval/100):this.projectData.minBudget*(this.projectData.quetedInterval/100)
                    }
                })
            },
            // signalR连接
            connectSignalR () {
                // var connection = $.hubConnection('ws://192.168.169.78:5580/signalr-abpchat');
                // //如果前后端为同一个端口，可不填参数。如果前后端分离，这里参数为服务器端的URL
                // var demoChatHubProxy = connection.createHubProxy('abpchat');
                // // demoChatHub为后端定义，使用驼峰式命名，后端首字母必须大写
                // // addMessageToList 为后端demoChatHub方法
                // demoChatHubProxy.on('SendMessage', function(message) {
                //     console.log(message);
                // });  
                // connection.start()
                //     .done(function(){ console.log('Now connected, connection ID=' + connection.id); })
                //     .fail(function(){ console.log('Could not connect'); });
                var chatHub = null;
                abp.signalr.startConnection('http://192.168.169.78:5580/negotiate', function (connection) {
                    chatHub = connection; // Save a reference to the hub
                    connection.on('getMessage', function (message) { // Register for incoming messages
                        console.log('received message: ' + message);
                    });
                }).then(function (connection) {
                    abp.log.debug('Connected to myChatHub server!');
                    abp.event.trigger('myChatHub.connected');
                });
                abp.event.on('myChatHub.connected', function() { // Register for connect event
                    chatHub.invoke('sendMessage', "Hi everybody, I'm connected to the chat!"); // Send a message to the server
                });
            },
            // 延顺结束时间
            delayEnd () {
                ajax.get(requestUrls.OLQuotedSetting.GetById,{
                    params:{
                        Id: this.$route.query.id
                    }
                }).then(res => {
                    this.updateLoading = false
                    if (res.data.result.quotedEndDate != this.projectData.quotedEndDate) {
                        // this.$Message.warning('报价结束前5分钟有供应商更新报价，故报价结束时间已更新！')
                        this.projectData = res.data.result
                        // 发送消息更新报价结束时间
                        window.parent.postMessage({updateProject:true,quotedEndDate:res.data.result.quotedEndDate},'*')
                    }
                })
            }
        },
        filters:{
            transDue(val){
                let fil = ''
                thishead.dueModes.forEach(item=>{
                    if(item.itemCode==val){
                        fil = item.itemName
                    }
                })
                return fil
            },
            tranRule(val){
                let rule = ''
                thishead.quoteRuleList.forEach(code=>{
                    if(code.itemCode==val){
                        rule = code.itemName
                    }
                })
                return rule
            }
        },
        computed:{
            leftCount(){
                if(this.projectData.quotedCount==0){
                    return '无限'
                }else{
                    return this.projectData.quotedCount - this.QuoteCount
                }
            }
        }
    }
</script>
<style lang="less">
body{
    overflow: auto!important;
    padding-top: 1px;
    min-height: 680px;
}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
.ivu-modal-confirm-footer{
    margin-top: 30px;
    text-align: center
}
.v-transfer-dom{
    .ivu-btn-text:hover{
        color: rgba(255,136,0,1);
    }
    .ivu-btn-primary{
        color: #fff;
        background-color: rgba(255,136,0,1);
        border-color: rgba(255,136,0,1);
    }
    .ivu-btn-primary:hover {
        background-color: rgba(255, 136, 0, 0.7);
    }
}
#MyQuote{
    // padding: 0px 24px 24px 24px;
    .ivu-tabs-ink-bar{
        background-color: rgba(255,136,0,1)
    }
    .ivu-tabs-nav {
        .ivu-tabs-tab{
            font-size: 18px;
            font-weight:700;
            color: rgba(153,153,153,1);
            padding: 15px 16px;
        }
        .ivu-tabs-tab-active,.ivu-tabs-tab:hover{
            color: rgba(255,136,0,1)
        }
    }
    .ivu-table-large td{
        height: 53px;
    }
    #basic {
        .BHead{
            font-size: 16px;
            color: rgba(51,51,51,1);
            font-weight: 700
        }
        .BCon{
            font-size: 14px;
            margin: 14px 0;
            .time{
                color:rgba(255,51,0,1)
            }
        }
    }
    #quote {
        margin-top: 32px;
        .QHead{
            font-size: 16px;
            color: rgba(51,51,51,1);
            font-weight: 700;
            margin-bottom: 14px
        }
        .QCon{
            font-size: 14px;
            // margin: 14px 0;
            textarea{
                min-height: 60px
            }
        }
    }
    .ivu-btn:hover {
        color: rgba(255,136,0,1);
        background-color: white;
        border-color: rgba(255,136,0,1);
    }
    // 其他供应商报价
    #otherTab{
        .ivu-table-wrapper{
            border: 0px
        }
        .ivu-table:after{
            width: 0px;
        }
        th .ivu-table-cell{
            color: rgba(0,0,0,0.65);
        }
        // 分页
        .ivu-page-item-active{
            background-color: rgba(255,136,0,1);
            border-color: rgba(255,136,0,1);
        }
        .ivu-page-item:hover,.ivu-page-prev:hover,.ivu-page-next:hover{
            border-color: rgba(255,136,0,1);
        }
        a:hover,.ivu-page-item:hover a,.ivu-page-item-jump-next a,.ivu-page-item-jump-prev a,.ivu-page-next:hover a,.ivu-page-prev:hover a{
            color: rgba(255,136,0,1);
        }
        .ivu-page-disabled:hover a{
            color: #ccc!important;
        }
        .ivu-page-disabled:hover{
            border-color: #dddee1!important;
        }
    }
    // 脚步
    .foot {
        position: absolute;
        bottom: 20px;
        width: 100%;
    }
}
.record{
    .ivu-table-cell{
        font-size: 14px
    }
}
.ivu-message{
    font-size: 20px;
    .ivu-icon{
        font-size: 20px;
    }
}
p{
    font-size: 14px
}
.mustKnow {
    p {
        line-height: 200%!important;
        margin-bottom: 7.5pt!important;
    }
}
</style>