<template>
  <div id="to-quote-list">
    <a-tabs defaultActiveKey="1" @change="changeNoticeType">
      <a-tab-pane tab="我要报价" key="1" class="to-quote-panel">
        <a-table
          :loading="quoteDataLoading"
          :columns="columns"
          :dataSource="biddingData"
          :rowKey="(record) => record.id"
          :pagination="pagination"
          @change="changePage"
          size="middle"
        >
          <template slot="action" slot-scope="record">
            <router-link
              class="go-details-link"
              :to="'/bid-notice/' + record.projectId"
            >
              报价
            </router-link>
          </template>
          <div slot="projectTitle">
            项目名称
            <span style="font-size: 12px">
              （项目名称+包组名称，表示本项目分包组独立报名）
            </span>
          </div>
          <div
            slot="projectName"
            slot-scope="projectName, row"
            class="textOverFlow"
            style="max-width: 24rem"
          >
            <span
              v-if="row.state === 0"
              class="application-quotation-status bg-grey"
              >立项</span
            >
            <span
              v-if="row.state === 1"
              class="application-quotation-status bg-grey"
              >编制完成</span
            >
            <span
              v-if="row.state === 2"
              class="application-quotation-status bg-grey"
              >审核通过</span
            >
            <span
              v-if="row.state === 31"
              class="application-quotation-status bg-green"
              >即将报名</span
            >
            <span
              v-if="row.state === 32"
              class="application-quotation-status bg-orange"
              >正在报名</span
            >

            <span
              v-if="row.state === 33"
              class="application-quotation-status bg-green"
              >即将报价</span
            >
            <span
              v-if="row.state === 34"
              class="application-quotation-status bg-orange"
              >正在报价</span
            >

            <span
              v-if="row.state === 35"
              class="application-quotation-status bg-grey"
              >报价结束</span
            >
            <span
              v-if="row.state === 37"
              class="application-quotation-status bg-orange"
              >结果审核中</span
            >
            <span
              v-if="row.state === 4"
              class="application-quotation-status bg-grey"
              >项目确认</span
            >
            <span
              v-if="row.state === 5"
              class="application-quotation-status bg-grey"
              >项目中止</span
            >
            <span
              v-if="row.state === 6"
              class="application-quotation-status bg-grey"
              >项目失败</span
            >
            <span
              v-if="row.state === 7"
              class="application-quotation-status bg-grey"
              >项目结项</span
            >
            {{ projectName
            }}{{
              row.sproject.isGroupApply
                ? `-${
                    row.sGroup.filter((group) => group.id === row.groupId)[0]
                      .groupName
                  }`
                : ""
            }}
          </div>
          <span
            slot="projectNum"
            slot-scope="projectNum"
            class="textOverFlow"
            style="display: inline-block; max-width: 12rem"
          >
            {{ projectNum }}
          </span>
          <template slot="payStatus" slot-scope="record">
            <div v-if="!record.uppriceAble">
              <div
                style="color: rgba(255, 51, 0, 1)"
                v-if="
                  record.orders.length === 0 ||
                  (record.orders[0].auditStatus === '0' &&
                    record.orders[0].payChannel === null)
                "
              >
                待支付
              </div>
              <div
                style="color: rgba(61, 189, 125, 1)"
                v-if="
                  record.orders.length > 0 &&
                  record.orders[0].auditStatus === '0' &&
                  record.orders[0].payChannel === '对公支付'
                "
              >
                审核中
              </div>
              <div
                style="color: rgba(255, 51, 0, 1)"
                v-if="
                  record.orders.length > 0 &&
                  record.orders[0].auditStatus === '2'
                "
              >
                已退回
              </div>
            </div>
            <div v-else>
              <div
                v-if="
                  record.sproject.needBond !== null &&
                  record.sproject.needBond !== 0
                "
              >
                已完成
              </div>
              <div v-else>/</div>
            </div>
          </template>
          <notice-timer
            slot="remainingTime"
            slot-scope="value, row"
            :time-end="row.timeEnd"
            @time-over="handleTimeOver($event, row)"
            :showTime="row.showTime"
          ></notice-timer>
        </a-table>
      </a-tab-pane>
    </a-tabs>
    <!-- 保证金支付 -->
    <a-modal
      title="请缴纳保证金"
      :width="800"
      centered
      v-model="insuranceShow"
      :maskClosable="false"
    >
      <pay-modal
        ref="pay"
        v-if="insuranceShow"
        feeType="项目保证金"
        :currentRow="currentOrder"
        :projectData="currentProject"
        orderType="保证金"
        :bankTips="bankTips"
        @payLoading="(val) => (subLoading = val)"
        @pageShow="(val) => (pageShow = val)"
        @apply="
          insuranceShow = false;
          loadMyProjectList();
        "
        @bankLoading="
          (val) => {
            loading = val;
          }
        "
      >
      </pay-modal>
      <div slot="footer" style="text-align: center">
        <a-button @click="insuranceShow = false">取消</a-button>
        <a-button
          type="primary"
          style="margin-left: 30px"
          :loading="loading"
          @click="$refs.pay.auditCoroperate(true)"
          >提交审核</a-button
        >
      </div>
    </a-modal>
  </div>
</template>

<script>
// import { loadMyProjectData, getCompanyInfo, CreatePublishOrder, GetPublishOrder } from '@/api/notice'
// import { GetCurrentServerDate } from '@/api/project'
// import order from '@/api/successNotify'
import {
  SupplierFilterGet,
  SqliteFind,
  SupplierAndProjectFilterGet,
  SqliteProjectFilterGetPaged,
} from "@/api/Sqlite";
import noticeUtil from "@/lib/noticeUtil";
import moment from "moment";
import payModal from "@/components/payModal/payModal";
import noticeTimer from "@/components/NoticeTimer/NoticeTimer";
// 静态数据
// import { ListQuoteData, ListQuoteDataDetail } from '@/assets/store'

const columns = [
  {
    slots: { title: "projectTitle" },
    key: "projectName",
    dataIndex: "projectName",
    scopedSlots: { customRender: "projectName" },
    width: "35%",
  },
  {
    title: "项目编号",
    key: "projectNum",
    dataIndex: "projectNum",
    scopedSlots: { customRender: "projectNum" },
    width: "16%",
  },
  {
    title: "剩余报价时间",
    key: "remainingTime",
    align: "center",
    dataIndex: "remainingTime",
    scopedSlots: { customRender: "remainingTime" },
    width: 160,
  },
  {
    title: "操作",
    width: 150,
    align: "center",
    scopedSlots: { customRender: "action" },
  },
];

export default {
  name: "ToQuoteList",
  components: {
    noticeTimer,
    payModal,
  },
  data() {
    return {
      columns,
      biddingData: [],
      searchParams: {
        projectName: "",
        projectNum: "",
      },
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showSizeChanger: true,
      },
      params: {
        Filter: "",
        order: `creationTime desc`,
        pageNum: 1,
        pageSize: 10,
      },
      quoteDataLoading: true,
      // 保证金
      companyInfo: {},
      currentOrder: {}, // 当前行订单信息
      currentProject: {}, // 当前行项目信息
      insuranceShow: false, // 保证金弹窗
      subLoading: false,
      loading: false,
      pageShow: 0,
      bankTips: [
        "请贵司转账保证金至银行账号。",
        "支付完成后，",
        "上传电子转账凭证提交审核确认。",
      ],
      hadRefreshedRow: [],
    };
  },
  async mounted() {
    this.loadMyProjectList(); // 我要报价-项目列表
  },
  computed: {
    userId() {
      return this.$store.state.mainAppStore.user.user.id;
    },
    companyId() {
      return this.$store.state.mainAppStore.user.user.companyId;
    },
  },
  methods: {
    getNoticeStatus: noticeUtil.getNoticeStatus,
    handleTimeOver(resetEndTime, row) {
      if (this.hadRefreshedRow.indexOf(row.id) > -1) {
        return false;
      }
      this.hadRefreshedRow.push(row.id);
      this.loadMyProjectList();
    },
    changeNoticeType(key) {
      // console.log(key)
    },
    search(params) {
      this.searchParams.projectName = params.projectName;
      this.searchParams.projectNum = params.projectNum;
      this.loadMyProjectList();
    },
    changePage(page) {
      this.pagination.pageSize = page.pageSize;
      this.pagination.current = page.current;
      this.loadMyProjectList();
    },
    // async getServiceTime () { // 获取服务器时间
    //   const time = await GetCurrentServerDate()
    //   return moment(time.result).format('YYYY-MM-DD HH:mm:ss')
    // },
    async loadMyProjectList() {
      const _this = this;
      // 报价时间检测：与服务器时间进行对比
      // const serverTime = await this.getServiceTime()
      // const currentTime = moment(serverTime).format('YYYY-MM-DD HH:mm:ss')
      const currentTime = moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
      // 报价通道-项目列表-过滤报价时间-显示报名状态为1：报名通过或者5：邀请通过的
      //
      // let filter = ` state == "3" && mode == "bidding" && supplierSignUp.supplierCompanyId == "${this.companyId}"  && creatorUserId == "${this.userId}" signUpEndTime <= "${currentTime}" && ( quotationEndTime > "${currentTime}" || secQuoteEndTime > "${currentTime}" ) `
      let filter = `ssu.state == "1" && ssu.supplierCompanyId == "${this.companyId}"`;
      filter += ` && mode == "bidding"`;
      filter += ` && state == "3"`;
      // filter += ` && creatorUserId == "${this.userId}"`
      filter += ` && signUpEndTime < "${currentTime}"`;
      filter += ` && ( ( quotationEndTime < "${currentTime}" ) || ( secQuoteEndTime < "${currentTime}" ) )`;
      if (this.searchParams.projectName) {
        if (filter) {
          filter += " && ";
        }
        filter += `projectName == "${this.searchParams.projectName}"`;
      }
      if (this.searchParams.projectNum) {
        if (filter) {
          filter += " && ";
        }
        filter += `projectNum == "${this.searchParams.projectNum}"`;
      }
      const params = {
        Filter: filter,
        pageSize: this.pagination.pageSize,
        pageNum: this.pagination.current,
        Sorting: "creationTime desc",
      };
      console.log(params.Filter);
      /* loading start */
      this.quoteDataLoading = true;
      let resp;
      try {
        // await SupplierFilterGet(params).then(res => {
        //   resp = res
        // })
        await SupplierAndProjectFilterGet(params).then((res) => {
          resp = res;
          console.log(resp);
        });
        // await fusionSupplierGet(params).then(res => {
        //   resp = res
        // })
        // resp = await loadMyProjectData(params)
      } catch (e) {
        this.quoteDataLoading = false;
      }
      this.quoteDataLoading = false;
      /* loading end */
      const noticeData = [];
      if (resp.success) {
        resp.result.items.forEach((row) => {
          SqliteFind({
            // 获取报名数量
            moduleNames: JSON.stringify(["sproject", "SGroup", "order"]),
            pid: row.projectId,
          }).then((res) => {
            const insurance = res.result.order.filter((order) => {
              // 保证金订单
              return order.orderType === "保证金";
            });
            noticeData.push({
              id: row.id,
              projectId: row.projectId,
              projectName: row.projectName,
              projectNum: row.projectNum,
              creationTime: `${moment(row.creationTime).format(
                "YYYY-MM-DD HH:mm:ss"
              )}`,
              state: _this.getNoticeStatus(res.result.sproject[0]),
              timeEnd: noticeUtil.getEndTime(res.result.sproject[0]),
              showTime: !(_this.getNoticeStatus(res.result.sproject[0]) === 33),
              signUpState: _this.getNoticeStatus(row),
              sproject: res.result.sproject[0],
              sGroup: res.result.SGroup,
              groupId: row.groupId,
              orders: insurance,
              // 是否可以报价
              uppriceAble:
                res.result.sproject[0].needBond === null ||
                res.result.sproject[0].needBond === 0 ||
                (insurance.length > 0 &&
                  (insurance[0].orderStatus === "2" ||
                    insurance[0].orderStatus === "3")),
            });
            console.log("报价结束时间", noticeData.timeEnd);
          });
        });
      }
      console.log("表格数据", noticeData);
      _this.biddingData = noticeData;
      _this.pagination.total = resp.result.totalCount;
    },
  },
};
</script>

<style scoped lang="less">
@import "~@/components/standard.less";

#to-quote-list {
  .go-details-link {
    color: @dark-blue-color;
  }

  .bg-green {
    background-color: @green-font-color;
  }

  .bg-orange {
    background-color: @orange-font-color;
  }

  .bg-red {
    background-color: @red-color;
  }

  .bg-grey {
    background-color: @grey-color;
  }

  /* 重写tab样式 */

  /deep/ .ant-tabs-nav .ant-tabs-tab {
    font-weight: 600 !important;
    font-size: 18px !important;
    padding: 0 0 16px 0;
  }

  /deep/ .ant-tabs-bar {
    border-bottom: none;
    margin: 0;
  }

  .to-quote-panel {
    .application-quotation-status {
      color: #fff;
      font-size: 12px;
      padding: 3px 8px;
      border-radius: 2px;
      margin-right: 10px;
    }
  }
  .textOverFlow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
