<template>
  <div class="search-header">
    <a-form :form="form">
      <a-row>
        <a-col :span="5" v-if="showStatus">
          <a-form-item label="项目状态" :label-col="{ span: 9 }" :wrapper-col="{ span: 15 }" style="margin-bottom:0;">
            <a-select
              v-decorator="[
                'projectStatus',
              ]">
              <a-select-option
                v-for="state in projectStatusArr"
                :value="state.value"
                :key="state.value"
              >{{ state.title }}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="6">
          <a-form-item label="项目编号" :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" style="margin-bottom:0;">
            <a-input
              v-decorator="[
                'projectNum',
              ]"
            >
            </a-input>
          </a-form-item>
        </a-col>
        <a-col :span="showStatus ? 8 : 10">
          <a-form-item label="项目名称" :label-col="showStatus ? { span: 6 } : { span: 4 }" :wrapper-col="showStatus ? { span: 16 } : { span: 18 }" style="margin-bottom:0;">
            <a-input
              v-decorator="[
                'projectName',
              ]"
            >
            </a-input>
          </a-form-item>
        </a-col>
        <a-col :span="5" class="search-operate">
          <a-button type="primary" class="search-btn" @click="search">搜索</a-button>
          <!-- <span style="vertical-align: bottom;cursor: pointer;" @click="isExpand=!isExpand">
            高级搜索
            <a-icon type="down" :class="{opened: isExpand, arrow: true}" />
          </span> -->
        </a-col>
      </a-row>
      <a-row v-if="isExpand" style="margin-top: 10px;">
        <a-col :span="5">
          <a-form-item label="报名情况" :label-col="{ span: 9 }" :wrapper-col="{ span: 15 }" style="margin-bottom:0;">
            <a-select
              v-decorator="[
                'projectStatus',
              ]">
              <a-select-option
                v-for="state in signUpStatus"
                :value="state.title"
                :key="state.title"
              >{{ state.title }}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="5">
          <a-form-item label="成交情况" :label-col="{ span: 9 }" :wrapper-col="{ span: 15 }" style="margin-bottom:0;">
            <a-select
              v-decorator="[
                'projectStatus',
              ]">
              <a-select-option
                v-for="state in dealStatus"
                :value="state.value"
                :key="state.value"
              >{{ state.title }}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="5">
          <a-form-item label="报价情况" :label-col="{ span: 9 }" :wrapper-col="{ span: 15 }" style="margin-bottom:0;">
            <a-select
              v-decorator="[
                'projectStatus',
              ]">
              <a-select-option
                v-for="state in bidStatus"
                :value="state.value"
                :key="state.value"
              >{{ state.title }}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
        <a-col :span="5">
          <a-form-item label="欠费情况" :label-col="{ span: 9 }" :wrapper-col="{ span: 15 }" style="margin-bottom:0;">
            <a-select
              v-decorator="[
                'projectStatus',
              ]">
              <a-select-option
                v-for="state in payStatus"
                :value="state.value"
                :key="state.value"
              >{{ state.title }}</a-select-option>
            </a-select>
          </a-form-item>
        </a-col>
      </a-row>
    </a-form>
  </div>
</template>

<script>
import moment from 'moment'

const projectStatusArr = [
  {
    value: '3,1',
    title: '即将开始'
  },
  {
    value: '3,2',
    title: '正在报名'
  },
  {
    value: '3,3',
    title: '即将报价'
  },
  {
    value: '3,4',
    title: '正在报价'
  },
  {
    value: '3,5',
    title: '报价结束'
  },
  {
    value: '5',
    title: '项目中止'
  },
  {
    value: '6',
    title: '项目失败'
  },
  {
    value: '7',
    title: '项目结项'
  },
  {
    value: '',
    title: '全部项目'
  }
]

const signUpStatus = [ // 报名情况
  {
    value: '',
    title: '报名审核中'
  },
  {
    value: '',
    title: '报名成功'
  },
  {
    value: '',
    title: '报名失败'
  },
  {
    value: '',
    title: '全部'
  }
]

const bidStatus = [ // 报价情况
  {
    value: '',
    title: '报价提交'
  },
  {
    value: '',
    title: '报价未提交'
  },
  {
    value: '',
    title: '全部'
  }
]

const dealStatus = [ // 成交情况
  {
    value: '',
    title: '项目成交'
  },
  {
    value: '',
    title: '项目失败'
  },
  {
    value: '',
    title: '全部'
  }
]

const payStatus = [ // 欠费情况
  {
    value: '',
    title: '已结算'
  },
  {
    value: '',
    title: '未结算'
  },
  {
    value: '',
    title: '全部'
  }
]

export default {
  name: 'SearchHeader',
  props: {
    showStatus: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      projectStatusArr,
      signUpStatus,
      bidStatus,
      dealStatus,
      payStatus,
      form: this.$form.createForm(this),
      isExpand: false // 是否展开高级搜索
    }
  },
  methods: {
    getstatus (projectStatus) {
      if (!projectStatus) {
        return ''
      }
      let filters = ''
      const status = projectStatus.split(',')
      // 报名报价阶段等条件
      filters += `sproject.state == "${status[0]}"`
      const currentTime = moment().locale('zh-cn').format('YYYY-MM-DD HH:mm:ss')
      const timeFilter = {
        '1': ` and sproject.signUpStartTime > "${currentTime}"`, // 即将报名
        '2': ` and sproject.signUpStartTime < "${currentTime}" and sproject.signUpEndTime > "${currentTime}"`, // 正在报名
        '3': ` and sproject.signUpEndTime < "${currentTime}" and sproject.quotationStartTime > "${currentTime}"`, // 即将报价
        '4': ` and ((sproject.quotationStartTime < "${currentTime}" and sproject.quotationEndTime > "${currentTime}") or (sproject.secQuoteStartTime < "${currentTime}" and sproject.secQuoteEndTime > "${currentTime}"))`, // 正在报价
        '5': ` and ((sproject.secQuoteStartTime == null and sproject.quotationEndTime < "${currentTime}") or (sproject.secQuoteStartTime != null and sproject.secQuoteEndTime < "${currentTime}"))` // 报价结束
      }
      filters += status[1] ? timeFilter[status[1]] : ''
      return filters
    },
    search () {
      this.$emit('search', {
        projectName: this.form.getFieldValue('projectName'),
        projectNum: this.form.getFieldValue('projectNum'),
        extraSearch: this.getstatus(this.form.getFieldValue('projectStatus'))
      })
    }
  }
}
</script>

<style lang="less" scoped>

@import '~@/components/standard.less';

.search-header {
  width: 100%;
  // height: 70px;
  padding: 15px 0;
  background-color: #fff;
  .search-operate {
    padding-top: 4px;
    .search-btn {
      /*background-color: @orange-color;
      border-color: @orange-color;*/
      margin-right: 20px;
    }
    .more-search {
      display: inline-block;
      .btn-text {
        color: @dark-blue-color;
      }
    }
    .more-search:hover {
      cursor: pointer;
    }
    .arrow {
      margin-left:5px;
      cursor: pointer;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
      transition: -webkit-transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out;
      transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    }
    .opened {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
}
</style>
