<template>
  <div>
    <div id="bidding-notice">
      <a-spin tip="请耐心等待..." size="large" :spinning="NoticeLoading">
        <!-- @time-over="handleTimeOver" -->
        <content-header @flashPro="getProjectDetail" :showTimer="showTimer" :notice-data="noticeData"></content-header>
        <div class="content-wrapper" style="background-color: #fff">
          <bid-notice-table :notice-data="noticeData"></bid-notice-table>
          <other-notice :notice-data="noticeData"></other-notice>
        </div>
      </a-spin>
    </div>
  </div>
</template>
<script>
// import { getProjectDetail, getDownloadUrl } from '@/api/notice'
import { SqliteFind } from '@/api/Sqlite'
import ContentHeader from '@/components/NoticeDetail/ContentHeader'
import BidNoticeTable from '@/components/NoticeDetail/BidNoticeTable'
import OtherNotice from '@/components/NoticeDetail/OtherNotice'
import { fileUtil } from '@/lib/file'
import { quoteData } from '@/assets/store'


export default {
  name: 'BiddingNotice',
  props: {
    // projectId: {
    //   type: String,
    //   default: () => {
    //     return ''
    //   }
    // },
    showTimer: {
      type: [Boolean, String],
      default: () => {
        return true
      }
    }
  },
  components: {
    BidNoticeTable,
    ContentHeader,
    OtherNotice
  },
  data () {
    return {
      NoticeLoading: true,
      noticeData: {
        id: '', // 项目Id
        acceptId: '',
        haveSubmitted: '', // 是否提交过报名
        creationTime: '', // 发布时间
        signUpStartTime: '', // 报名开始
        signUpEndTime: '', // 报名结束
        quotationStartTime: '', // 报价开始
        quotationEndTime: '', // 报价结束
        secQuoteStartTime: '', // 二次报价开始
        secQuoteEndTime: '', // 二次报价结束
        projectName: '', // 项目名称
        projectNum: '', // 项目编号
        projectContent: '', // 采购内容 TODO
        transactionMode: '', // 成交方式 TODO
        signPeriod: '', // 报名时间
        quotationPeriod: '', // 报价时间
        ifDiscount: 0, // 默认折扣率0：否
        ifTax: 1, // 报价是否含税-设了0值才为‘否’；为''，null，1时，含税率都默认‘是’
        isGroupApply: false,
        periodicType: '', // 周期类型
        periodicContent: '', // 周期内容
        upNum: '', // 报价机会
        priceRule: '', // 报价规则
        groupName: '', // 采购品目名称
        brand: '详见项目需求书', // 品牌 TODO
        model: '详见项目需求书', // 型号
        amount: '', // 数量
        prickle: '', // 单位
        maxPrice: '', // 最高限价
        minPrice: '', // 最低限价
        purchaserUnit: '', // 采购单位名称
        purchaserName: '', // 采购单位联系人
        purchaserMobile: '', // 采购单位电话
        purchaserAddress: '', // 采购单位地址 TODO
        agencyUnit: '', // 代理机构名称
        agencyName: '', // 代理机构联系人
        agencyPhone: '', // 代理机构电弧
        agencyEMail: '', // 代理机构邮箱
        agencyAddress: '', // 代理机构地址
        supervisoryDepartment: '', // 监督部门 TODO
        supervisoryPhone: '', // 监督电话 TODO
        projectDemand: '', // 项目需求,
        projectAppendix: [], // 项目附件
        eNotices: [
          {
            content: ''
          }
        ], // 相关公告
        signUpState: -1, // 报名状态
        projectState: '3', // 项目状态
        eApplys: [], // 已报名信息
        sGroupListData: [], // 包组数组,
        creatorUserId: '',
        mode: 0,
        manager: '',
        managerNoticeId: ''
      }
    }
  },
  computed: {
    projectId() {
      return this.$route.params.projectId
    }
  },
  created () {
    this.getProjectDetail()
  },
  methods: {
    // handleTimeOver () {
    //   this.getProjectDetail()
    // },
    async getProjectDetail () { // 报名详情
      const _this = this
      const params = {}
      params.Filter = `Id=="${this.projectId}"`
      /* loading start */
      this.NoticeLoading = true
      let resp
      try {
        await SqliteFind({
          moduleNames: JSON.stringify(['sproject','eHonor','inviteSupplier','SGroup','SDemand','eHonorType','eNotice','eApply']),
          pid: this.projectId
        }).then (res => {
          resp = res
        })
        // resp = await getProjectDetail(params)
      } catch (e) {
        this.NoticeLoading = false
      }
      this.NoticeLoading = false
      /* loading end */
      if (resp.success === true && resp.result.sproject) {
        // // 静态数据
        // const data = quoteData.items[0].sproject[0]
        // const data1 = quoteData.items[0].SGroup
        // const data2 = quoteData.items[0].SDemand
        // const data3 = quoteData.items[0].eNotice
        // const data4 = quoteData.items[0].eApply
        // const data5 = quoteData.items[0].eHonor
        // const data6 = quoteData.items[0].inviteSupplier
        // const data7 = quoteData.items[0].eHonorType
        const data = resp.result.sproject[0]
        const data1 = resp.result.SGroup
        const data2 = resp.result.SDemand
        const data3 = resp.result.eNotice
        const data4 = resp.result.eApply
        const data5 = resp.result.eHonor
        const data6 = resp.result.inviteSupplier
        const data7 = resp.result.eHonorType
        const DownloadData = data5
        _this.noticeData = {
          id: data.id,
          acceptId: data.acceptId,
          bidcatId: data.bidcatId,
          creatorUserId: data.creatorUserId,
          creationTime: data.creationTime,
          signUpStartTime: data.signUpStartTime,
          signUpEndTime: data.signUpEndTime,
          quotationStartTime: data.quotationStartTime,
          quotationEndTime: data.quotationEndTime,
          secQuoteStartTime: data.secQuoteStartTime,
          secQuoteEndTime: data.secQuoteEndTime,
          projectName: data.projectName,
          projectNum: data.projectNum,
          projectContent: data.projectContent,
          transactionMode: data.winbidRule,
          signPeriod: (data.signUpStartTime || data.signUpEndTime) != null ? `${data.signUpStartTime.replace('T', ' ')} 至 ${data.signUpEndTime.replace('T', ' ')}` : '暂无信息', // 报名时间,
          quotationPeriod: (data.signUpStartTime || data.signUpEndTime) != null ? `${data.quotationStartTime.replace('T', ' ')} 至 ${data.quotationEndTime.replace('T', ' ')}` : '暂无消息', // 报价时间,
          ifDiscount: data.ifDiscount === "1" ? '是' : '否', // 默认折扣率0：否,
          ifDropRate: data.ifDropRate,
          ifTax: data.IfTax === "1" ? '是' : '否', //
          periodicType: data.periodicType,
          periodicContent: data.periodicContent,
          upNum: data.upNum*1,
          priceRule: data.priceRule*1,
          commodities: data1.map(item => {
            return {
              id: item.id,
              groupName: item.groupName,
              // demark: item.demark,
              // model: item.model,
              amount: item.amount,
              prickle: item.prickle,
              maxPrice: item.maxPrice,
              minPrice: item.minPrice
            }
          }),
          purchaserUnit: data.purchaserUnit,
          purchaserName: data.purchaserName,
          purchaserMobile: data.purchaserMobile,
          purchaserAddress: data.purchaserAddress,
          supervisoryDepartment: '暂无信息',
          supervisoryPhone: '暂无信息',
          agencyUnit: data.agencyUnit,
          agencyName: data.agencyName,
          agencyPhone: data.agencyPhone,
          agencyEMail: data.agencyEMail,
          agencyAddress: data.agencyAddress,
          projectAppendix: [],
          // signUpState: data.eApplys.length ? data.eApplys[0].state : -1, // -1时未报名
          // signUpId: data.eApplys.length ? data.eApplys[0].id : -1, // -1时没有报名文件
          projectState: data.state, // 项目状态
          // .map(item => {
          //   return {
          //     id: item.id,
          //     groupName: item.groupName,
          //     settingID: item.settingID
          //   }
          // }),
          purchaserId: data.purchaserId,
          mode: data.mode,
          manager: data.manager,
          managerNoticeId: data.managerNoticeId,
          isSupplierInvite: data.isSupplierInvite,
          orderAmountTotal: data.applyAmount,
          needApplyFee: data.needApplyFee,
          area: data.area,
          needBond: data.needBond,
          bondAccount: data.bondAccount,
          bondAmount: data.bondAmount,
          isGroupApply: data.isGroupApply,
          isTemplateEditing: data.isTemplateEditing,
          sGroupListData: data1,
          projectDemand: data2.length === 0 ? '' : data2[0].projectInfo,
          eNotices: data3.map(item => { // 其他相关公告
            return {
              id: item.id,
              creationTime: item.creationTime.replace('T', ' '),
              projectId: item.projectId,
              noticeType: item.noticeType, // 公告类型（0-招标 1-更正 2-中标 3-补充 5-结果 6-失败）
              title: item.title,
              content: item.content,
              url: item.url,
              checkState: item.checkState // 审核状态(1.待审核，2.退回，3.通过)
            }
          }),
          eApplys: data4,
          eHonors: data5,
          inviteSupplier: data6,
          eHonorTypes: data7
        }
        console.log('获取noticeData', _this.noticeData)
        // ----------------------------------------
        DownloadData.forEach(async item => {
          if (item.usage === '1') {
            await fileUtil.downLoad(item.fileId).then(res => {
              this.noticeData.projectAppendix.push({
                title: item.fileName,
                type: item.fileName.split('.').pop(),
                url: res.result,
                usage: item.usage
              })
            })
          }
        })
      }
    }
  }
}
</script>
<style scoped lang="less">
  #bidding-notice {
    .content-wrapper {
      margin: 10px 24px 72px 24px;
      padding: 24px;
    }

    .ant-spin-nested-loading > div > .ant-spin {
      max-height: 600px;
    }
  }
</style>
