<template>
  <div class="notice-timer">
    <span v-html="html" v-if="showTime"></span>
    <span v-else>未开始</span>
  </div>
</template>

<script>
import { GetCurrentServerDate } from '@/api/session'
import moment from 'moment'

export default {
  name: 'NoticeTimer',
  props: {
    timeEnd: {
      type: Number,
      required: true
    },
    textColor: {
      type: String,
      default: () => '#000'
    },
    showTime: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      end: new Date(moment()).getTime(),
      // it: null,
      percent: 0,
      html: '',
      leftTime: 0,
      serverDateTime: null,
      timeInterval: null
    }
  },
  methods: {
    formatNum: function (time, length) { // 指定数字长度，长度不足前面补0
      const len = length || 2 // 如果不传length，默认设置为2
      const str = time.toString()
      let preStr = ''
      const preLen = len - str.length
      for (let i = 0; i < preLen; i++) {
        preStr += '0'
      }
      const tmpStr = preStr + str
      let html = ''
      const htmlFinal = '<span class="time margin-left-3px">0</span><span class="time margin-left-3px">0</span>'
      for (let i = 0; i < tmpStr.length; i++) {
        let clazz = 'time'
        if (i > 0) {
          clazz += ' margin-left-3px'
        }
        html += '<span class="' + clazz + '">' + tmpStr[i] + '</span>'
      }
      if (time < 0) {
        return htmlFinal
      } else {
        return html
      }
    },
    getTimeHtml () {
      const SMS = 1000
      const MMS = 60 * SMS
      const HMS = 60 * MMS
      const DMS = 24 * HMS

      const currentTime = this.serverDateTime || new Date(moment())
      const leftTime = this.end - currentTime
      this.leftTime = leftTime
      if (leftTime <= 0) {
        return ''
      }
      const days = Math.floor(leftTime / DMS)
      const hours = Math.floor((leftTime - days * DMS) / HMS)
      const min = Math.floor((leftTime - days * DMS - hours * HMS) / MMS)
      const seconds = Math.floor((leftTime - days * DMS - hours * HMS - min * MMS) / SMS)

      return `<span style="color: ${this.textColor}">${days > 0 || days === 0 ? '<span class="num">' + this.formatNum(days) + '</span>天' : ''}${hours > 0 || hours === 0 ? '<span class="num">' + this.formatNum(hours) + '</span>小时' : ''}${min > 0 || min === 0 ? '<span class="num">' + this.formatNum(min) + '</span>分' : ''}${seconds > 0 || seconds === 0 ? '<span class="num">' + this.formatNum(seconds) + '</span>秒' : ''}</span>`
    },
    resetEndTime (ms) {
      this.end = ms
    },
    // startTimer () {
    //   if (this.it) {
    //     clearInterval(this.it)
    //   }
    //   this.html = this.getTimeHtml()
    //   this.it = setInterval(() => {
    //     this.html = this.getTimeHtml()
    //     if (this.leftTime <= 0) {
    //       this.$emit('time-over', this.resetEndTime)
    //       clearInterval(this.it)
    //     }
    //   }, 1000)
    // },
    async getServiceTime () { // 获取服务器时间
      const time = await GetCurrentServerDate()
      // return time.result.replace('T', ' ')
      return moment(time.result).format('YYYY-MM-DD HH:mm:ss')
    },
    // 获取服务器时间
    async setServerTime () {
      if (this.timeInterval) {
        clearInterval(this.timeInterval)
      }
      // 获取一次时间
      const serverTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
      this.serverDateTime = new Date(serverTime).getTime()
      let timer = 0
      this.timeInterval = setInterval(async () => {
        // 1秒钟更新一次serverDateTime
        this.serverDateTime += 1000
        timer += 1
        // 2分钟核对一次服务器时间
        if (timer === 120) {
          timer = 0
          const serverTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
          if (this.serverDateTime !== new Date(serverTime).getTime()) {
            this.serverDateTime = new Date(serverTime).getTime()
          }
        }
      }, 1000)
    }
  },
  mounted () {
    this.end = this.timeEnd
  },
  beforeDestroy () {
    clearInterval(this.timeInterval)
  },
  watch: {
    timeEnd () {
      this.end = this.timeEnd
    },
    serverDateTime (val) {
      this.html = this.getTimeHtml()
      if (this.leftTime <= 0) {
        this.$emit('time-over', this.resetEndTime)
      }
    },
    end () {
      // this.startTimer()
      this.setServerTime()
    }
  }
}
</script>

<style scoped>
  .notice-timer {
    display: inline-block;
  }
</style>
