<template>
  <div class="content-wrapper">
    <slot></slot>
  </div>
</template>

<style lang="less" scoped>
.content-wrapper {
  min-height: 580px;
  margin: 24px;
  background: #fff;
  padding: 21px 16px;
}
</style>
