// 字体大小
@n-font-size: 16px;
@l-font-size: 18px;

// 字体颜色
@n-font-color: rgba(0, 0, 0, 0.65);
@green-font-color: #33AD70;
@orange-font-color: #FF8800;
@red-font-color: #FF3300;

// 主题颜色
@orange-color: #F80;
@dark-blue-color: #3888FF;
@red-color: #FF3300;
@grey-color: #999;

// 边框颜色
@border-color: #e9e9e9;
