<template>
  <div class="bid-notice-table">
    <!--表格-->
    <div class="content-wrapper">
      <div>
        <a-button v-if="!noticeData.bidcatId" size="small" @click="printPartial">
          <a-icon type="printer" theme="filled" />打印
        </a-button>
      </div>
      <div v-if="!eNotice.url" id="announceTable" ref="announceTable" style="min-width: 1000px" v-html="eNotice.content"></div>
      <iframe v-else style="width:820px;height:800px;margin: 0 auto;display: block;" :src="eNotice.url + eNotice.projectId" frameborder="0"></iframe>
    </div>
  </div>
</template>

<script>
import { escape2Html, downFile } from '@/lib/util'
import { fileUtil } from '@/lib/file'
import moment from 'moment'
import $ from '@/lib/jquery/jquery-vendor.js'
import '@/lib/jquery/jquery.jqprint-0.3'
import '@/lib/jquery/jquery.min'

export default {
  name: 'BidNoticeTable',
  props: {
    noticeData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      eNotice: {
        content: ''
      }
    }
  },
  computed: {
    projectDemand () {
      if (this.noticeData && this.noticeData.projectDemand) {
        return escape2Html(this.noticeData.projectDemand)
      }
      return ''
    }
  },
  filters: {
    toMoney (num) {
      if (!num) {
        return '￥ 0'
      }
      if (num) {
        num = typeof num === 'string' ? parseFloat(num) : num // 判断是否是字符串如果是字符串转成数字
        num = num.toFixed(2) // 保留两位
        num = parseFloat(num) // 转成数字
        num = num.toLocaleString() // 转成金额显示模式
        // 判断是否有小数
        if (num.indexOf('.') === -1) {
          num = '￥' + num + '.00'
        } else {
          num = num.split('.')[1].length < 2 ? '￥' + num + '0' : '￥' + num
        }
        return num // 返回的是字符串23,245.12保留2位小数
      } else {
        return (num = null)
      }
    },
    getPriceRule (id) {
      switch (id) {
        case 1:
          return '不公开报价：在报价过程中，不公开报价供应商的公司名称及报价金额'
        case 2:
          return '半公开报价：在报价过程中，不公开报价供应商的公司名称，公开报价金额'
        case 3:
          return '全公开报价：在报价过程中，公开报价供应商的公司名称及报价金额'
        default:
          return ''
      }
    }
  },
  methods: {
    print () {
      const dom = document.createElement('div')
      const titleDom = document.createElement('p')
      dom.style.width = '1000px'
      titleDom.style.fontSize = '24px'
      titleDom.style.textAlign = 'center'
      titleDom.innerText = this.noticeData.projectName + '竞价公告'
      if (this.noticeData.winbidRule === '5' && this.noticeData.ifExpert) titleDom.innerText = this.noticeData.projectName + '综合评审公告'
      const content = this.$refs.announceTable
      dom.appendChild(titleDom)
      dom.appendChild(content.cloneNode(true))
      // eslint-disable-next-line
      $(dom).jqprint()
    },
    printPartial () {
      if (!document.getElementById('announceTable')) return
      let copyDom = document.createElement('span')
      const titleDom = document.createElement('p')
      titleDom.style.fontSize = '24px'
      titleDom.style.textAlign = 'center'
      titleDom.innerText = this.noticeData.projectName + '竞价公告'
      if (this.noticeData.winbidRule === '5' && this.noticeData.ifExpert) titleDom.innerText = this.noticeData.projectName + '综合评审公告'
      copyDom.appendChild(titleDom)
      const timeDom = document.createElement('p')
      timeDom.style.fontSize = '18px'
      timeDom.style.color = '#555'
      timeDom.style.textAlign = 'center'
      timeDom.innerText = moment(this.eNotice.creationTime).locale('zh-cn').format('YYYY-MM-DD')
      copyDom.appendChild(timeDom)
      // Array.from(styleDom).forEach(item => {
      //   if (item.childNodes[0].nodeValue.indexOf(specialStyle) !== -1) {
      //     copyDom.appendChild(item.cloneNode(true))
      //   }
      // })
      copyDom.appendChild(document.getElementById('announceTable').cloneNode(true))
      const htmlTemp = copyDom.innerHTML
      copyDom = null
      const iframeDom = document.createElement('iframe')
      const attrObj = {
        height: 0,
        width: 0,
        border: 0,
        wmode: 'Opaque'
      }
      const styleObj = {
        position: 'absolute',
        size: 'auto A4 landscape',
        margin: '3mm',
        top: '-999px',
        left: '-999px'
      }
      Object.entries(attrObj).forEach(([key, value]) => iframeDom.setAttribute(key, value))
      Object.entries(styleObj).forEach(([key, value]) => { iframeDom.style[key] = value })
      document.body.insertBefore(iframeDom, document.body.children[0])
      const iframeWin = iframeDom.contentWindow
      const iframeDocs = iframeWin.document
      // iframeDocs.write(`<!doctype html>`)
      // iframeDocs.write(htmlTemp)
      iframeDocs.body.innerHTML = htmlTemp
      iframeWin.focus()
      iframeWin.print()
      // document.body.removeChild(iframeDom)
    }
  },
  watch: {
    noticeData () {
      this.eNotice = this.noticeData.eNotices.filter(item => item.noticeType === '0')[0]
      // 附件下载
      this.$nextTick(() => {
        // eslint-disable-next-line
        const lnks = $('#files > a')
        for (let i = 0; i < lnks.length; i++) {
          // eslint-disable-next-line
          const lnk = $(lnks[i])
          lnk.bind('click', async () => {
            await fileUtil.downLoad(lnk.attr('id')).then(res => {
              // window.open(res)
              downFile(res)
            })
          })
        }
      })
    }
  }
}
</script>
<style scoped lang="less">

  .bid-notice-table {
    background: #FFF;
    max-width: 1200px;
    margin: 0 auto;

    .content-wrapper {
      background: #FFF;
      margin: 0 auto;
    }
  }

  /* 表格样式 开始*/
  .toptable {
    font-family: MicrosoftYaHei;
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    line-height: 47px;
    font-size: 14px;
    color: #333333;

    .top {
      td:nth-child(odd) { /* 表头 */
        font-size: 14px;
        text-align: center;
        font-family: MicrosoftYaHei-Bold;
        width: 12%;
        background: #F5F5F5;
      }

      td:nth-child(even) {
        text-align: left;
        padding: 10px 20px;
        line-height: 20px;
        width: 38%;
      }
    }

    .table2 {
      border-color: #DDD;
      text-align: center;
      width: 100%;
      padding: 0;
      margin: 0;

      tr {
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        color: #333333;

        td {
          background: #F5F5F5;
        }

        td:first-child {
          width: 24%;
        }

        td:nth-child(2) {
          width: 13%;
        }

        td:nth-child(3) {
          width: 13.7%;
        }

        td:nth-child(4) {
          width: 12.2%;
        }

        td:nth-child(5) {
          width: 13%;
        }

        td:nth-child(6) {
          width: 12%;
        }

        td:nth-child(6) {
          width: 12%;
        }
      }

      tr:nth-child(2) {
        td {
          background: white;
        }
      }

      .cp2 {
        font-family: MicrosoftYaHei;

        td {
          height: 48px;
          background: white !important;
          line-height: 20px;
          /*padding: 10px 20px;*/
        }
      }
    }

    .table3 {
      border-color: #DDDDDD;
      width: 100%;
      padding: 0;
      margin: 0;

      .tit1 {
        font-family: MicrosoftYaHei-Bold;
        width: 12%;
        background: #F5F5F5;
        text-align: center;
      }

      .tit2 {
        line-height: 20px;
        text-align: left;
        padding: 10px;
        font-size: 14px;

        table {
          border-collapse: initial;
        }
      }

      div {
        line-height: 24px;
        margin-top: 10px;
      }

      img {
        float: left;
      }
    }

    .table4 {
      border-color: #DDDDDD;
      text-align: center;
      padding: 0;
      margin: 0;

      td:nth-child(2) {
        white-space: pre-wrap;
        line-height: 20px;
        text-align: left;
        padding: 20px;
      }

      td:first-child {
        font-family: MicrosoftYaHei-Bold;
        width: 12%;
        background: #F5F5F5;
      }

      div {
        line-height: 24px;
        margin-top: 10px;
      }

      img {
        float: left;
      }
    }
  }

  .foot {
    margin-top: 20px;
    height: 60px;

    span {
      font-family: PingFangSC-Regular;
      font-size: 16px;
      color: #333333;
      line-height: 30px;
    }

    .text {
      float: right;
      text-align: right;
    }
  }

  .mg-lf-25 {
    margin-left: 25px;
  }

  /* 重写传进的content样式 */
  // /deep/ .priceAnnounce {
  //   width: 1000px !important;
  //   margin: 0 auto !important;
  //   padding: 0 !important;
  // }
</style>
