<template>
  <div>
    <!-- 支付成功-证书查看地址说明 -->
    <a-modal v-model="paySuccess" :maskClosable="false" :footer="null" :width="550">
      <div style="text-align: center;margin-top: 26px;">
        <img src="@/assets/images/paySuccess.png" style="width: 150px;">
        <div style="font-size: 16px;margin: 15px auto 0 auto;width: 430px;">
          支付成功，您已获得“电子商务履约能力达标测评证书”，证书可到【公司信息】-【资质认证】查看
        </div>
        <a-button type="primary" size="large" style="width: 120px;margin: 20px 30px 0 0;" :loading="downLoading" @click="downCertify">查看证书</a-button>
        <a-button type="primary" size="large" style="width: 120px;margin-top: 20px;" @click="paySuccess = false;$emit('apply')">立即报名</a-button>
      </div>
    </a-modal>
    <!-- 证书查看 -->
    <a-modal v-model="certifyShow" :maskClosable="false" :footer="null" :style="{top: '20px'}" :width="820">
      <div style="text-align: center;">
        <div style="font-size: 24px;font-weight: 700;">电子商务履约能力达标测评证书</div>
        <div style="margin-top: 30px;">
          <img :src="checkUrl" style="width: 583px;">
        </div>
        <a-button type="primary" size="large" style="width: 120px;margin-top: 35px;" @click="downUrl(checkUrl)">下载证书</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>
// import { getHonorFile } from '@/api/userCenter'
import { fileUtil } from '@/lib/file'
import { downFile } from '@/lib/util'
export default {
  name: 'CertifyValidate',
  data () {
    return {
      paySuccess: false, // 支付成功弹窗
      certifyShow: false, // 证书显示
      downLoading: false, // 查看证书loading
      checkUrl: '' // 证书url
    }
  },
  computed: {
    companyId () {
      return this.$store.state.mainAppStore.user.user.companyId
    }
  },
  created () {
    console.log(this.$route.params)
    if (this.$route.query.showCertify) {
      this.paySuccess = true
      // 清空认证路由标记
      this.$router.push({ query: {} })
    }
  },
  methods: {
    applyCertify () { // 申请认证
      this.$confirm({
        title: '提示',
        content: '供应商现需上传《电子商务履约能力达标测评证书》才可以报名，是否现在去申请认证？',
        cancelText: '稍后认证',
        okText: '申请认证',
        onOk: () => {
          console.log('申请认证')
          // location.href = `http://192.168.166.173:5300/#/companyManager?companyInfoKey=qualifyInfo&projectId=${this.$route.params.projectId}`
          // location.href = `https://qy.choicelink.cn:8440/#/companyManager?companyInfoKey=qualifyInfo&projectId=${this.$route.params.projectId}`
        }
      })
    },
    renewCertify () { // 续费认证
      this.$confirm({
        title: '提示',
        content: '尊敬的供应商，您的《电子商务履约能力达标测评证书》有效期即将到期，请尽快续费以免影响到您报名哦！',
        cancelText: '下次再续',
        okText: '立即续约',
        onOk: () => {
          // location.href = `http://192.168.166.173:5300/#/companyManager?companyInfoKey=qualifyInfo&projectId=${this.$route.params.projectId}`
          // location.href = `https://qy.choicelink.cn:8440/#/companyManager?companyInfoKey=qualifyInfo&projectId=${this.$route.params.projectId}`
        },
        onCancel: () => {
          this.$emit('apply')
        }
      })
    },
    async downCertify () {
      try {
        this.downLoading = true
        let certify = await getHonorFile({
          Filter: `companyId == "${this.companyId}" and typeName == "电子商务履约能力达标测评证书"`,
          MaxResultCount: 1
        })
        if (certify.result.items.length > 0) {
          certify = certify.result.items[0]
          this.checkUrl = await fileUtil.downLoad(certify.fileId)
          this.certifyShow = true
        } else {
          this.$message.error('证书查询失败')
        }
      } catch (error) {
        this.$message.error('证书加载失败')
      } finally {
        this.downLoading = false
      }
    },
    downUrl (url) {
      downFile(url)
      // window.open(url)
    }
  }
}
</script>

<style lang="less">

</style>
