<template>
  <div id="content-header" v-cloak>
    <!--标题、时间 start-->
    <div class="notice-title-wrapper">
      <div class="title">
        <div>项目名称: <span>{{ noticeData.projectName }}</span></div>
        <div>项目报名时间: <span>{{ noticeData.signPeriod }}</span></div>
        <div v-if="ifFail">报名被退回原因：<span style="color: red">{{ failReason }}</span></div>
        <!-- <div v-if="noticeData.isTemplateEditing">
          <a-button type="primary" style="line-height: 20px;" @click="downApp('https://ql.choicelink.cn:7034/%E4%BA%91%E9%87%87%E9%93%BE%E7%94%B5%E5%AD%90%E6%8A%95%E6%A0%87%E6%96%87%E4%BB%B6%E5%88%B6%E4%BD%9C%E8%BD%AF%E4%BB%B6.exe')">
            <a-icon type="windows" theme="filled" style="font-size: 20px;vertical-align: sub;"/>
            报价大厅客户端下载
          </a-button>
        </div> -->
      </div>
      <!-- 倒计时 -->
      <div v-show="(showTimer === true || showTimer === 'true') && this.noticeData.projectState === '3'"
        class="count-down-wrapper" :style="showModal !== 2 ? 'background-color: #F80' : 'background-color: #F30'">
        {{ timeTipsLabel }}
        <span v-if="(showModal !== 2 && this.showModal !== 4)">：
          <notice-timer text-color="#fff" :time-end="endTime" @time-over="handleTimeOver"></notice-timer>
        </span>
        <div style="text-align: right;display: inline-block;">
          <a-button @click="openModal('')" class="sign-up-tips"
            :style="showModal === 2 ? 'color: #F30' : (showModal === 4 ? 'color: #999' : 'color: #F70')">{{ timeTipsDesc
            }}
          </a-button>
        </div>
      </div>
    </div>
    <!--标题、时间 end-->
    <!-- 分包报名状态显示 -->
    <div v-if="isGroupApply === 'true' && !isUppriceStart" class="signUpStatus" v-show="timeTipsDesc !== '已结束'">
      <div style="font-size: 16px;font-weight: 700;">报名信息</div>
      <table cellspacing="0" cellpadding="0" border="1" style="border: 1px solid rgba(221, 221, 221, 1);"
        class="toptable">
        <tr class="greyBack">
          <td style="width: 8%">序号</td>
          <td>项目包组</td>
          <td style="width: 22%">提交时间</td>
          <td style="width: 12%">报名状态</td>
          <td style="width: 12%">提交记录</td>
        </tr>
        <tr v-for="(group, gindex) in signInfoList" :key="group.id">
          <td>{{ gindex + 1 }}</td>
          <td>{{ noticeData.projectName }}-{{ group.groupName }}</td>
          <td>{{ (group.signstate ? (group.signstate.creationTime) : '/') | toTime }}</td>
          <td @click="openModal(group)" style="cursor: pointer;">
            <span v-if="!group.signstate" style="color: #999;">未报名</span>
            <span v-else-if="group.signstate.state === 0">审核中</span>
            <span v-else-if="group.signstate.state === 1" style="color: #33AD70;">已通过</span>
            <span v-else-if="group.signstate.state === 2" style="color: red;">被退回</span>
          </td>
          <td>
            <a href="javascript:;" :disabled="!group.signstate" :style="{ color: group.signstate ? '' : '#999' }"
              @click="checkLog(group.id)">查看详情</a>
          </td>
        </tr>
      </table>
    </div>
    <!-- 分包组报价状态 -->
    <div v-if="isGroupApply && isUppriceStart && quoteInfoList && quoteInfoList.length > 0" class="signUpStatus"
      v-show="timeTipsDesc !== '已结束'">
      <div style="font-size: 16px;font-weight: 700;">报价信息</div>
      <a-spin :spinning="loadingUpprice">
        <table cellspacing="0" cellpadding="0" border="1" style="border: 1px solid rgba(221, 221, 221, 1);"
          class="toptable">
          <tr class="greyBack">
            <td style="width: 8%">序号</td>
            <td>项目包组</td>
            <td style="width: 22%">提交时间</td>
            <td style="width: 12%">报价状态</td>
            <td style="width: 12%">报价记录</td>
          </tr>
          <tr v-for="(group, gindex) in quoteInfoList" :key="'b' + group.id">
            <td>{{ gindex + 1 }}</td>
            <td>{{ noticeData.projectName }}-{{ group.groupName }}</td>
            <td>{{ (group.quoted ? (group.quoted.quotedDate) : '/') | toTime }}</td>
            <td style="cursor: pointer;">
              <span v-if="group.quoted" style="color: #33AD70;">已报价</span>
              <span v-else style="color: red;">未报价</span>
            </td>
            <td>
              <a href="javascript:;"
                @click="openQuoteModal(group.settingID.split(',').length > 1 ? group.settingID.split(',')[1] : group.settingID)">查看详情</a>
            </td>
          </tr>
        </table>
      </a-spin>
    </div>
    <!--提交成功或失败 提示框 start-->
    <a-modal centered v-model="modalSuccessVisible" :footer="null" :afterClose="refresh">
      <div style="text-align: center;padding-top: 56px;height: 312px">
        <i class="fa fa-check-circle" style="color:#36C626;font-size: 80px;"></i>
        <h2 style="line-height: 64px;">提交成功，等待审核</h2>
        <a-button @click="() => modalSuccessVisible = false" size="large" style="width: 118px">返回</a-button>
      </div>
    </a-modal>
    <a-modal centered v-model="modalFailureVisible" :footer="null">
      <div style="text-align: center;padding-top: 56px;height: 312px">
        <i class="fa fa-times-circle" style="color:#FF1A2E;font-size: 80px;"></i>
        <h2 style="line-height: 64px;">提交失败</h2>
        <a-button @click="() => { modalFailureVisible = false; signModalData.visible = true }" size="large"
          style="width: 118px">重新提交
        </a-button>
      </div>
    </a-modal>
    <!--提交成功或失败 提示框 end-->

    <!--报价表单-报名通过 state-->
    <a-modal title="选择包组" centered v-model="groupListModalVisible" :footer="null">
      <a-list v-if="groupListModalVisible" class="group-list"
        :dataSource="!noticeData.isGroupApply ? noticeData.sGroupListData : signInfoList.filter(sta => sta.signstate && sta.signstate.state === 1)"
        itemLayout="horizontal" size="small">
        <a-list-item slot="renderItem" slot-scope="item">
          <a-list-item-meta
            @click="openQuoteModal(item.settingID.split(',').length > 1 ? item.settingID.split(',')[1] : item.settingID)">
            <a slot="title" href="javascript:" style="display: block;">{{ item.groupName }}
              <a-icon type="right" class="clearfix" style="float: right" />
            </a>
          </a-list-item-meta>
        </a-list-item>
      </a-list>
    </a-modal>
    <!--报价表单 end-->
    <!--报价表单 start-->
    <a-modal center title="我要报价" v-model="quoteModalVisible" :footer="null" :width="850" :afterClose="destroyQuoteFrame"
      @cancel="handleQuoteCancel">
      <a-form :form="form">
        <section>
          <div>
            <a-row>
              <a-col>
                <a-form-item label="项目名称" :label-col="{ span: 3 }" :wrapper-col="{ span: 20 }">
                  <a-input :value="noticeData.projectName | ifNO" disabled></a-input>
                </a-form-item>
              </a-col>
            </a-row>
          </div>
        </section>
        <section>
          <a-row>
            <a-row>
              <a-col span="12">
                <a-form-item label="项目预算" :label-col="{ span: 6 }" :wrapper-col="{ span: 17 }">
                  <a-row>
                    <a-col span="10">
                      <!-- <a-input disabled :value="noticeData.commodities[0].minPrice | ifNO"></a-input> -->
                    </a-col>
                    <a-col span="4">
                      <span style="margin:0 40%">~</span>
                    </a-col>
                    <a-col span="10">
                      <!-- <a-input disabled :value="noticeData.commodities[0].maxPrice | ifNO"></a-input> -->
                    </a-col>
                  </a-row>
                </a-form-item>
              </a-col>
            </a-row>
          </a-row>
        </section>
        <section>
          <div>
            <a-row>
              <a-col>
                <a-form-item label="报价规则" :label-col="{ span: 3 }" :wrapper-col="{ span: 20 }">
                  <a-radio :checked="true">{{ noticeData.priceRule | priceRule | ifNO }}</a-radio>
                </a-form-item>
              </a-col>
            </a-row>
            <a-row>
              <a-form-item label="剩余报价次数" :label-col="{ span: 3 }" :wrapper-col="{ span: 20 }">
                <a-row>
                  <a-col span="6">
                    <a-input disabled :value="resUpNum | ifNO" />
                  </a-col>
                </a-row>
              </a-form-item>
            </a-row>
            <a-row>
              <a-form-item label="成交方式" :label-col="{ span: 3 }" :wrapper-col="{ span: 20 }">
                <a-row>
                  <a-col span="6">
                    <a-input disabled :value="noticeData.transactionMode | winbidRule | ifNO" />
                  </a-col>
                  <a-col span="11" offset="1">
                    <a-tooltip placement="topLeft">
                      <template slot="title">
                        <span>{{ noticeData.transactionMode | winbidRule - explain }}</span>
                      </template>

                    </a-tooltip>
                  </a-col>
                </a-row>
              </a-form-item>
            </a-row>
          </div>
        </section>
        <section>
          <div>
            <a-row>
              <a-col>
                <a-form-item label="报价金额" :label-col="{ span: 3 }" :wrapper-col="{ span: 20 }">
                  <a-input v-decorator="[
                    'quoteAmount',
                    { rules: [{ required: true, message: '请输入或生成项目编号' }] }
                  ]" style="width:calc(100% - 115px);color:rgba(0, 0, 0, 0.65)"></a-input>
                </a-form-item>
              </a-col>
            </a-row>
            <a-row>
              <a-col>
                <a-form-item label="附件上传：" :label-col="{ span: 3 }" :wrapper-col="{ span: 20 }">
                  <a-upload name="file" :action="uploadFileInit.action" :data="uploadFileInit.extradata"
                    :headers="uploadFileInit.headers" :beforeUpload="(file) => { fileUploadBefore(file) }"
                    :fileList="FileList" @change="filelChange" v-decorator="[
                      'fileList',
                      { rules: [{ required: true, message: '请上传文件' }] }
                    ]">
                    <a-button>
                      <a-icon type="upload" /> 上传文件
                    </a-button>
                  </a-upload>
                </a-form-item>
              </a-col>
            </a-row>
          </div>
        </section>
        <a-form-item>
          <div style="margin: 0 auto;text-align: center">
            <a-button @click="handleQuoteCancel">取消</a-button>
            <a-button style="margin-left: 30px" :loading="loading" type="primary" @click="handleQuoteSubmit"
              :disabled="resUpNum == 0">
              提交报价
            </a-button>
          </div>
        </a-form-item>
      </a-form>
    </a-modal>
    <!--报价表单 end-->

    <!--报价 iframe start-->
    <!-- <a-modal
      center
      v-model="quoteModalVisible"
      :footer="null"
      :width="850"
      :afterClose="destroyQuoteFrame"
      :maskClosable="false"
      @cancel="handleQuoteCancel"
    >
      <div ref="quoteFrame">
        <iframe id="my-quote" style="width: 100%;height: 710px;" frameborder="0"></iframe>
      </div>
    </a-modal> -->
    <!--报价 iframe end-->
    <a-modal title="审核记录" v-model="auditShow">
      <a-table :rowKey="record => record.id" :dataSource="auditList" :columns="flowColumns" :pagination="false">
        <span slot="index" slot-scope="text, record, index">{{ index + 1 }}</span>
        <span slot="creationTime" slot-scope="text">{{ text | moment }}</span>
      </a-table>
      <div slot="footer"></div>
    </a-modal>

    <!--非报名时间段 start-->
    <a-modal title="抱歉..." centered :zIndex="1001" v-model="waittingVisible" @cancel="handleOtherCancel"
      @ok="handleOtherCancel">
      <p>当前状态无法报名或报价...</p>
      <p style="color:#f30">注意：如项目处于报价阶段，请检查并确保当前使用谷歌浏览器进行报价！</p>
    </a-modal>
    <!--非报名时间段 end-->

    <a-modal title="缴纳保证金" centered v-model="insuranceShow" @cancel="insuranceShow = false" @ok="payInsurance">
      <p>当前项目需要交纳保证金，是否前往缴纳？</p>
    </a-modal>

    <a-modal title="审核记录" v-model="auditShow">
      <a-table :rowKey="record => record.id" :dataSource="auditList" :columns="flowColumns" :pagination="false">
        <span slot="index" slot-scope="text, record, index">{{ index + 1 }}</span>
        <span slot="creationTime" slot-scope="text">{{ text | moment }}</span>
      </a-table>
      <div slot="footer"></div>
    </a-modal>

    <!-- 缴费限制提示弹窗 -->
    <a-modal v-model="showLimitTips" :width="880" :closable="false">
      <a-alert type="error" message="贵单位的应缴服务费已超过欠款额度，未缴清前报名功能将会受到限制！" banner />
      <p style="border-left:5px solid #ccc;margin-top:10px;padding-left:10px">
        请贵单位及时完成下述项目的服务费缴纳，缴费后报名功能将重新开通。
        <span style="color:#1890ff" @click="showGuide = true">[点击查看缴费指引]</span>
      </p>
      <table cellspacing="0" cellpadding="0" border="1" style="border: 1px solid rgba(221, 221, 221, 1);"
        class="toptable">
        <tr class="greyBack">
          <td>项目名称</td>
          <td style="width: 36%">所属平台</td>
          <td style="width: 20%">应缴金额(元)</td>
        </tr>
        <tr v-for="order in unpaidList" :key="order.id">
          <td>{{ order.projectName.slice(0, order.projectName.lastIndexOf('-')) }}</td>
          <td>{{ order.platformId | platformName(platformList) }}</td>
          <td>{{ order.orderAmountTotal }}</td>
        </tr>
      </table>
      <p style="margin-top:10px">备注：如贵单位对部分应缴费项目有疑惑，可在微信客服与我们联系。</p>
      <div slot="footer" style="text-align:center">
        <a-button type="primary" @click="showLimitTips = false">我知道了</a-button>
      </div>
    </a-modal>
    <!-- 缴费指引弹窗 -->
    <a-modal v-model="showGuide" :width="880">
      <img src="../../assets/guide/guide.jpg" width="100%">
      <div slot="footer" style="text-align:center"></div>
    </a-modal>
    <!-- 信用认证模块 -->
    <certify-validate ref="certify" @apply="openModal('')"></certify-validate>
    <!-- 保证金支付 -->
    <a-modal title="支付保证金" :width="800" centered v-model="payInsuranceShow" :maskClosable="false" :zIndex="1001">
      <insurance-modal ref="marginPay" :currentOrder="marginOrders[0]" :projectData="noticeData"
        @subLoading="(val) => insuranceLoading = val" @paySuccess="paySuccess"></insurance-modal>
      <div slot="footer" style="text-align: center;">
        <a-button @click="payInsuranceShow = false">取消</a-button>
        <a-button type="primary" style="margin-left: 30px;" :loading="insuranceLoading"
          @click="$refs.marginPay.subPay(true)">确认</a-button>
      </div>
    </a-modal>
  </div>
</template>

<script>

import payModal from '@/components/payModal/payModal'
import InsuranceModal from '@/components/payModal/insuranceModal'
import OssFileUploader from '@/components/OSSFileUploader/OSSFileUploader'
import noticeTimer from '@/components/NoticeTimer/NoticeTimer'
import certifyValidate from '@/components/NoticeDetail/certifyValidate'

// import { CheckSettingUser, getUpprice } from '@/api/quote'
// import { getFailRegistAudit, getAudit } from '@/api/projectAudit'
import { getServiceRule } from '@/api/manage'
// import { getInvite } from '@/api/inviteSupplier'
// import { GetByProviderKey } from '@/api/tenantService'
import { GetCurrentServerDate } from '@/api/project'
// import notice from '@/api/successNotify'
// import { createOrUpdateEApply, loadHonorTypes, getSignedUpData, getEApplyPage, getCompanyInfo, deleteEHonor, GetPublishOrder, CreatePublishOrder } from '@/api/notice'
// import { SendDXWPlatformSmsAsync, SendCailianQYMessage, offiaccountMessage, GetUserCenterId } from '@/api/message'
// import { getHonorFile } from '@/api/userCenter'
import { SupplierFilterGet, SqliteFind, SqliteInsert } from '@/api/Sqlite'
import { AbpCompanyGetById } from '@/api/UserCenter'

import { downFile } from '@/lib/util'
import Areas from '@/lib/area'
import { fileUtil } from '@/lib/file'
import { ProjectService as axios, PlatformService as userAxios } from '@/lib/axios'
import noticeUtil from '@/lib/noticeUtil'
import { getWinbidRuleLabel } from '@/lib/filter'

import moment from 'moment'


export default {
  name: 'ContentHeader',
  props: {
    noticeData: {
      type: Object,
      default: () => {
        return {}
      }
    },
    showTimer: {
      type: [Boolean, String],
      default: () => {
        return null
      }
    }
  },
  computed: {
    PublicId() {
      return this.$store.state.mainAppStore.user.tenant.tenancyName
    },
    token() {
      return this.$store.state.mainAppStore.bToken
    },
    userId() {
      return this.$store.state.mainAppStore.user.user.id
    },
    companyId() {
      return this.$store.state.mainAppStore.user.user.companyId
    },
    name() {
      return this.$store.state.mainAppStore.aUser.user.name
    },
    phoneNumber() {
      return this.$store.state.mainAppStore.aUser.user.phoneNumber
    },
    userInfo() {
      return this.$store.state.mainAppStore.user
    },
    isGroupApply() {
      return this.noticeData.isGroupApply
    },
    tenantId() {
      return this.$store.state.mainAppStore.bTenantId
    },

    signInfoList() {
      const signState = Object.assign([], this.noticeData.sGroupListData)
      signState.forEach(group => {
        this.applyedList.forEach(applyed => {
          if (applyed.groupId === group.id) {
            this.$set(group, 'signstate', applyed)
          }
        })
      })
      return signState
    },
    quoteInfoList() { // 报价状态
      let quoteState = Object.assign([], this.noticeData.sGroupListData)
      const applyed = Object.assign([], this.applyedList).filter(app => app.state === 1)
      quoteState = quoteState.filter(q => { // 过滤报名成功的包组
        return applyed.filter(applyed => applyed.groupId === q.id).length > 0
      })
        .forEach(group => { // 标记报价状态
          console.log('标记报价状态', this.quotedList)
          if (Object.keys(this.quotedList).length > 0 && this.quotedList[this.getLastId(group.settingID)]) {
            console.log('报价状态', this.getLastId(group.settingID))
            console.log('报价状态', this.quotedList[this.getLastId(group.settingID)])
            console.log('报价状态', this.quotedList[this.getLastId(group.settingID)].findIndex(quo => quo.bidderId === this.userInfo.user.companyId))
            this.$set(group, 'quoted', this.quotedList[this.getLastId(group.settingID)][this.quotedList[this.getLastId(group.settingID)].findIndex(quo => quo.bidderId === this.userInfo.user.companyId)])
          }
        })
      return quoteState
    },
    isUppriceStart() {
      const fromTime = this.noticeData.secQuoteStartTime ? this.noticeData.secQuoteStartTime : this.noticeData.quotationStartTime || ''
      return new Date() > new Date(fromTime.replace('T', ' '))
    }
  },
  created() {
    this.uploadFileInit = fileUtil.uploadInit()
    this.InitKey = this.uploadFileInit.extradata.key
  },
  components: {
    OssFileUploader,
    noticeTimer,
    payModal,
    certifyValidate,
    InsuranceModal
  },
  data() {
    return {
      form: this.$form.createForm(this),
      uploadFileInit: {
        action: '',
        extradata: {},
        headers: ''
      },
      FileList: [],
      resUpNum: 0, // 剩余报价次数
      InitKey: '', // 初始key
      agencyUnit: '云采链（广州）信息科技有限公司',
      defaultFileList: [],
      modalSuccessVisible: false,
      modalFailureVisible: false,
      signModalData: { // 报名
        visible: false,
        form: this.$form.createForm(this)
      },
      signUpStep: 1, // 报名步骤
      quoteModalVisible: false,
      groupListModalVisible: false,
      waittingVisible: false, // 待审核
      insuranceShow: false, // 缴纳保证金
      signInfoLoading: false, // 报名表单-loading
      time: {
        d: 0,
        h: 0,
        m: 0,
        s: 0
      },
      endTime: new Date(moment()).getTime(),
      timeMachine: '', // 定时
      timeTipsLabel: '', // '距离报名开始'等文字提示
      timeTipsDesc: '', // '我要报名'等文字提示
      ifFail: false, //  报名是否被退回
      failReason: '', //  报名被退回的理由
      /* 报名文件 */
      loading: false, // 表单提交loading
      eHonorTypes: [], // 上传资质
      aliAddress: '', // 阿里上传地址
      fileList: [], // 上传文件列表
      signUpState: -1, // -1时未报名 ---待删除
      signUpId: -1, // 报名id
      companyInfo: {},
      showModal: 0, // 是否显示弹窗，0：点击无弹窗 1：报名弹窗 2：报名被退弹窗  3：报价弹窗 4:报价已结束
      // 支付报名费
      subLoading: false,
      pageShow: 0, // 支付界面显示 0: 信息页 1、2: 支付页
      currentApplyOrder: {}, // 当前报名费订单信息
      payOrder: [], // 订单支付信息
      bankTips: [
        '请贵司转账平台使用费至银行账号。',
        '支付完成后，',
        '上传电子转账凭证提交审核确认。'
      ],
      uppriceAble: true,
      // 分包组报名
      applyedList: [], // 已报名list
      separateShow: false, // 分包报名显示
      currentGroupId: null, // 当前包组id
      auditShow: false, // 审核记录弹窗
      auditList: [],
      flowColumns: [
        {
          title: '序号',
          align: 'center',
          scopedSlots: { customRender: 'index' }
        },
        {
          title: '时间',
          dataIndex: 'creationTime',
          scopedSlots: { customRender: 'creationTime' }
        },
        {
          title: '备注',
          dataIndex: 'comment'
        },
        {
          title: '审核状态',
          dataIndex: 'status',
          customRender: (text, row, index) => {
            if (text === '0') {
              return (
                <span><a-icon type="clock-circle" style="color:#00f;margin:5px;" />发起审核</span>
              )
            }
            if (text === '2') {
              return (
                <span><a-icon type="check-circle" style="color:#0f0;margin:5px;" />已通过</span>
              )
            }
            if (text === '1') {
              return (
                <span><a-icon type="close-circle" style="color:#f00;margin:5px;" />未通过</span>
              )
            }
            if (text === '3') {
              return (
                <span><a-icon type="clock-circle" style="color:#00f;margin:5px;" />发起重招</span>
              )
            }
            if (text === '4') {
              return (
                <span><a-icon type="clock-circle" style="color:#00f;margin:5px;" />项目重启</span>
              )
            }
          }
        }
      ],
      quotedList: {}, // 已报价数据
      uppricingId: '',
      loadingUpprice: false,
      showLimitTips: false,
      unpaidList: [],
      platformList: [],
      showGuide: false,
      Province: [], // 省
      City: [], // 市
      qualificationColumns: [
        {
          title: '资质文件',
          dataIndex: 'typeName',
          scopedSlots: { customRender: 'typeName' }
        },
        {
          title: '是否已上传',
          scopedSlots: { customRender: 'hadUpload' },
          width: 120
        },
        {
          title: '操作',
          scopedSlots: { customRender: 'action' },
          width: '100px',
          align: 'center'
        }
      ],
      platformInfoRes: {}, // 平台限制
      marginColumns: [ // 保证金table
        {
          title: '保证金金额(元)',
          align: 'center',
          width: 300,
          dataIndex: 'orderAmountTotal'
        },
        {
          title: '是否支付',
          align: 'center',
          width: 300,
          dataIndex: 'orderStatus',
          customRender: (text) => {
            if (text === '0') {
              return (
                <span style="color: #FF5F3F;">未支付</span>
              )
            }
            if (text === '1') {
              return (
                <span style="color: #F80;">待审核</span>
              )
            }
            if (text === '2') {
              return (
                <span style="color: #3DBD7D;">已支付</span>
              )
            }
            if (text === '4') {
              return (
                <span style="color: red;">不通过</span>
              )
            }
          }
        },
        {
          title: '操作',
          customRender: (row) => {
            return (
              <a disabled={row.orderStatus === '1' || row.orderStatus === '2'} onClick={() => { this.payMargin() }}>去支付</a>
            )
          }
        }
      ],
      marginOrders: [], // 当前保证金订单信息
      insuranceOrder: [], // 保证金订单
      payInsuranceShow: false, // 保证金支付弹窗
      insuranceLoading: false // 保证金提交loading
    }
  },
  async mounted() {
    this.loadCompanyInfo()
    this.Province = Areas['86']
    // 加载平台限制
    const platformInfoRes = await getServiceRule()
    this.platformInfoRes = platformInfoRes.result
  },
  watch: {
    async noticeData() {
      await this.hasSigned()
      this.loadHonorTypes()
      if (this.noticeData.needApplyFee !== null && this.noticeData.needApplyFee !== 0) {
        this.getPayInfo()
      }
      if (this.noticeData.needBond !== null && this.noticeData.needBond !== 0) { // 判断是否需要保证金
        // const insOrder = await notice.GetPaged({
        //   Filter: `projectId == "${this.noticeData.id}" and companyid == "${this.$store.state.mainAppStore.user.user.companyId}" and orderType == "保证金"`,
        //   MaxResultCount: 1000,
        //   SkipCount: 0
        // })
        // const insurance = insOrder.result.items
        // this.insuranceOrder = insurance
        // this.uppriceAble = (this.noticeData.needBond === null || this.noticeData.needBond === 0) || (insurance.length > 0 && (insurance[0].orderStatus === '2' || insurance[0].orderStatus === '3'))
      }
      this.initTimer()
      this.noticeData.sGroupListData.forEach(group => {
        this.refreshQuote(this.getLastId(group.settingID))
      })
      if (this.$route.params.groupId) {
        setTimeout(() => {
          this.openModal(this.signInfoList.filter(sign => sign.id === this.$route.params.groupId)[0])
        }, 1)
      }
    },
    quoteModalVisible(val) { // 监控报价，刷新菜单待办
      if (!val) {
        console.log('报价')
        // 刷新菜单待办数
        // this.$store.dispatch('GetTodo', this.$store.state.mainAppStore.user)
      }
    },
    'signModalData.visible'(val) { // 监控报名，刷新菜单待办
      if (!val) {
        console.log('报名')
        this.subLoading = false
        this.pageShow = 0
        // 刷新菜单待办数
        // this.$store.dispatch('GetTodo', this.$store.state.mainAppStore.user)
      }
    }
  },
  methods: {
    getWinbidRuleLabel,
    getEndTime: noticeUtil.getEndTime,
    getNoticeStatus: noticeUtil.getNoticeStatus,
    handleTimeOver(timer) {
      this.$emit('time-over')
    },
    resetSignForm() {
      this.fileList = []
      this.defaultFileList = []
      this.signUpStep = 1
    },
    async openModal(group) {
      this.$spin.show()
      try {
        // 提前校验是否邀请项目
        if (this.noticeData.isSupplierInvite === 'true' && this.tenantId - 0 !== 2120) {
          if (this.noticeData.inviteSupplier.length && !this.noticeData.inviteSupplier.some((obj) => {
            return obj.companyId === this.$store.state.mainAppStore.user.user.companyId
          })) {
            this.$message.error('您不在邀请供应商中，无法报名')
            return
          }
        }
        // 信用认证证书获取判断
        if (this.showModal === 1 && this.platformInfoRes.isNeedAuthentication) { // 初次报名且平台需要验证时才做判断限制
          const ifCertify = await this.checkCertify(this.noticeData)
          if (!ifCertify) { // 未购买认证证书 停止报名操作
            return
          }
        }
        // getServiceRule({
        //   providerKey: this.$store.state.mainAppStore.aUser.user.id,
        //   MaxResultCount: 100,
        //   Sorting: 'u.sort desc'
        // }).then(res => {
        //   this.platformList = res.result.items
        // })
        let canApply = true
        // 报名限制条件
        const platformInfo = this.platformInfoRes
        // const arrearsSetting = platformInfo.arrearsSetting ? JSON.parse(platformInfo.arrearsSetting) : null
        let filter
        if (platformInfo && platformInfo.needOrderAudit) { // 是否全平台限制
          // 查询当前供应商所有平台未缴费订单金额总数及项目数
          const ignorePlatform = [2142, 2224] // (去除谦和平台、妇幼)
          filter = `orderType == "服务费" AND companyid=="${this.companyId}" AND ((auditStatus == "0" AND payChannel == "对公支付") OR ((orderStatus=="1" OR orderStatus=="5") AND payChannel != "对公支付"))`
          let additionalFilter = ''
          ignorePlatform.forEach(v => {
            additionalFilter += `platformId != "${v}" AND `
          })
          filter = `(${additionalFilter.slice(0, -5)}) AND ` + filter
        } else {
          // 查询当前供应商当前平台未缴费订单金额总数及项目数
          filter = `platformId == "${this.userInfo.tenant.id}" AND orderType == "服务费" AND companyid=="${this.companyId}" AND ((auditStatus == "0" AND payChannel == "对公支付") OR ((orderStatus=="1" OR orderStatus=="5") AND payChannel != "对公支付"))`
        }
        // if (arrearsSetting) {
        // // 查询服务费信息
        // const unpayOrder = await notice.GetNonTenantPaged({
        //   Filter: filter,
        //   MaxResultCount: 100,
        //   SkipCount: 0
        // })
        // // 实时获取
        // const totalCount = unpayOrder.result.totalCount
        // const totalAmount = unpayOrder.result.items.reduce((accumulator, currentValue) => {
        //   if (currentValue.orderAmountTotal) {
        //     return accumulator + currentValue.orderAmountTotal
        //   }
        //   return accumulator
        // }, 0)
        // this.unpaidList = unpayOrder.result.items
        // // 条件1 欠费项目数太多
        // if (arrearsSetting.arrearsProjects > 0) {
        //   if (arrearsSetting.arrearsProjects <= totalCount) {
        //     canApply = false
        //   }
        // }
        // // 条件2 欠费金额太多
        // if (arrearsSetting.arrearsAmount > 0) {
        //   if (arrearsSetting.arrearsAmount <= totalAmount) {
        //     canApply = false
        //   }
        // }
        // if (!canApply) {
        //   this.$message.error('您的应缴服务费已超过欠款额度，未缴清前，您的报名功能可能限制')
        //   return false
        // }
        // }

        // 判断立项id，不允许立项人报名
        if (this.noticeData.purchaserId === this.$store.state.mainAppStore.user.user.companyId) {
          this.$message.warning('同公司项目不允许报名')
          return
        }
        // 判断同公司是否已报名
        const isApply = this.noticeData.eApplys.findIndex(item => {
          return item.supplierId === this.$store.state.mainAppStore.user.user.companyId && item.creatorUserId !== this.$store.state.mainAppStore.user.user.id
        }) !== -1
        if (isApply) {
          this.$message.warning('已有相同公司报名')
          return
        }
        // 邀请供应商执行
        if (this.noticeData.isSupplierInvite === 'true' && this.tenantId - 0 !== 2120) {
          if (!this.noticeData.inviteSupplier.length) { // 如果不存在邀请供应商可以直接报名
            if (this.showModal === 1 || this.showModal === 2) { // 报名 或 报名被退
              if (!canApply) {
                // this.$message.error('您的应缴服务费已超过欠款额度，未缴清前，您的报名功能可能限制')
                this.showLimitTips = true
                return false
              }
              if (this.isGroupApply) { // 判断是否分包组报名
                if (group) { // 判断是否外部点击
                  this.spleteSign(group)
                } else {
                  this.separateShow = true
                }
              } else {
                this.signModalData.visible = true
                this.signModalData.form = this.$form.createForm(this)
                this.$nextTick(() => {
                  this.setSignedForm()
                })
              }
            } else if (this.showModal === 3) { // 报价
              if (this.noticeData.sGroupListData.length === 1) { // 项目单包组直接入报价页面
                this.openQuoteModal(this.noticeData.secQuoteStartTime ? this.noticeData.sGroupListData[0].settingID.split(',')[1] : this.noticeData.sGroupListData[0].settingID)
              } else {
                if (group) { // 判断是否外部点击
                  this.openQuoteModal(group.settingID.split(',').length > 1 ? group.settingID.split(',')[1] : group.settingID)
                } else {
                  this.groupListModalVisible = true
                }
              }
            } else if (this.showModal === 5) { // 缴纳保证金
              this.insuranceShow = true
            } else if (this.showModal === 0 || this.showModal === 4) { // 未报名待审 或其他非报名报价时间段提示
              this.waittingVisible = true
            }
          } else if (this.noticeData.inviteSupplier.some((obj) => {
            return obj.companyId === this.$store.state.mainAppStore.user.user.companyId
          })) { // 如果邀请供应商中有当前供应商可以直接报名
            if (this.showModal === 1 || this.showModal === 2) { // 报名 或 报名被退
              if (!canApply) {
                this.showLimitTips = true
                // this.$message.error('您的应缴服务费已超过欠款额度，未缴清前，您的报名功能可能限制')
                return false
              }
              if (this.isGroupApply) { // 判断是否分包组报名
                if (group) { // 判断是否外部点击
                  this.spleteSign(group)
                } else {
                  this.separateShow = true
                }
              } else {
                if (this.noticeData.needBond) { // 判断是否需要保证金
                  this.marginOrders = this.insuranceOrder[0] ? this.insuranceOrder : [{
                    orderAmountTotal: this.noticeData.bondAmount,
                    orderStatus: '0'
                  }]
                }
                this.signModalData.visible = true
                this.signModalData.form = this.$form.createForm(this)
                this.$nextTick(() => {
                  this.setSignedForm()
                })
              }
            } else if (this.showModal === 3) { // 报价
              if (this.noticeData.sGroupListData.length === 1) { // 项目单包组直接入报价页面
                this.openQuoteModal(this.noticeData.secQuoteStartTime ? this.noticeData.sGroupListData[0].settingID.split(',')[1] : this.noticeData.sGroupListData[0].settingID)
              } else {
                if (group) { // 判断是否外部点击
                  this.openQuoteModal(group.settingID.split(',').length > 1 ? group.settingID.split(',')[1] : group.settingID)
                } else {
                  this.groupListModalVisible = true
                }
              }
            } else if (this.showModal === 5) { // 缴纳保证金
              this.insuranceShow = true
            } else if (this.showModal === 0 || this.showModal === 4) { // 未报名待审 或其他非报名报价时间段提示
              this.waittingVisible = true
            }
          } else {
            this.$message.error('您不在邀请供应商中，无法报名2')
          }

        } else {
          if (this.showModal === 1 || this.showModal === 2) { // 报名 或 报名被退
            if (!canApply) {
              this.showLimitTips = true
              // this.$message.error('您的应缴服务费已超过欠款额度，未缴清前，您的报名功能可能限制')
              return false
            }

            // 报名时间检测：与服务器时间进行对比
            const serverTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
            if (new Date(serverTime) > new Date(this.noticeData.signUpEndTime)) {
              this.$message.error('此项目报名时间已结束！')
              return
            }
            // 报名时间检测：与服务器时间进行对比
            if (this.isGroupApply) { // 判断是否分包组报名
              if (group) { // 判断是否外部点击
                this.spleteSign(group)
              } else {
                this.separateShow = true
              }
            } else {
              if (this.noticeData.needBond) { // 判断是否需要保证金
                this.marginOrders = this.insuranceOrder[0] ? this.insuranceOrder : [{
                  orderAmountTotal: this.noticeData.bondAmount,
                  orderStatus: '0'
                }]
              }
              this.signModalData.visible = true
              this.signModalData.form = this.$form.createForm(this)
              this.$nextTick(() => {
                this.setSignedForm()
              })
            }
          } else if (this.showModal === 3) { // 报价
            // 报价时间检测：与服务器时间进行对比
            const serverTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
            if (new Date(serverTime) > new Date(this.noticeData.secQuoteEndTime ? this.noticeData.secQuoteEndTime.replace('T', ' ') : this.noticeData.quotationEndTime.replace('T', ' '))) {
              this.$message.error('此项目报价时间已结束！')
              return
            }
            // 报价时间检测：与服务器时间进行对比
            if (this.noticeData.sGroupListData.length === 1) { // 项目单包组直接入报价页面
              this.openQuoteModal(this.noticeData.secQuoteStartTime ? this.noticeData.sGroupListData[0].settingID.split(',')[1] : this.noticeData.sGroupListData[0].settingID)
            } else {
              if (group) { // 判断是否外部点击
                this.openQuoteModal(group.settingID.split(',').length > 1 ? group.settingID.split(',')[1] : group.settingID)
              } else {
                this.groupListModalVisible = true
              }
            }
          } else if (this.showModal === 5) { // 缴纳保证金
            this.insuranceShow = true
          } else if (this.showModal === 0 || this.showModal === 4) { // 未报名待审 或其他非报名报价时间段提示
            this.waittingVisible = true
          }
        }
      } catch (err) {
        console.error(err)
      } finally {
        this.$spin.hide()
      }
    },
    async openQuoteModal(id) {
      console.log('报价设置id', id)
      this.uppricingId = id
      // this.$spin.show()
      // const canUpprice = await CheckSettingUser({
      //   settingId: id
      // })
      // this.$spin.hide()
      // if (!canUpprice) { // 检测当前报价设置是否允许报价
      //   this.waittingVisible = true
      //   return
      // }
      this.groupListModalVisible = false
      this.quoteModalVisible = true
      this.$nextTick(() => {
        this.isUpNum()
        // const iframe = document.getElementById('my-quote')
        // const receiver = iframe.contentWindow
        // iframe.onload = () => {
        //   receiver.postMessage({
        //     tenentid: this.tenantId,
        //     token: this.token,
        //     Atoken: this.$ls.get('A_ACCESS_TOKEN'),
        //     open: true
        //   }, '*')
        // }
        // iframe.src = `https://qy.choicelink.cn:8449/#/QuoteMain/MyQuote?id=${id}&title=包组名称&pid=${this.noticeData.id}`
        // iframe.src = `http://localhost:8080/#/QuoteMain/MyQuote?id=${id}&title=包组名称&pid=${this.noticeData.id}`
        // iframe.src = `http://192.168.165.189:8080/#/QuoteMain/MyQuote?id=${id}`
        // this.$refs.quoteFrame.parentNode.style.padding = '0' // 去除模态框 padding
      })
      window.addEventListener('message', async (e) => { // 关闭弹窗
        if (e.data.close) {
          this.quoteModalVisible = false
        }
        // 更新报价结束时间
        if (e.data.updateProject) {
          axios.get(`/api/services/app/Sproject/GetById?id=${this.noticeData.id}`).then(pD => { // 获取项目信息
            if (pD.result.secQuoteStartTime) { // 判断是否有二次报价
              pD.result.secQuoteEndTime = e.data.quotedEndDate.replace('T', ' ')
              axios.post('/api/services/app/Sproject/CreateOrUpdate', { // 更新报价结束时间
                sproject: pD.result
              }).then(updata => {
                this.$emit('flashPro')
              })
            } else {
              pD.result.quotationEndTime = e.data.quotedEndDate.replace('T', ' ')
              axios.post('/api/services/app/Sproject/CreateOrUpdate', { // 更新报价结束时间
                sproject: pD.result
              }).then(updata => {
                this.$emit('flashPro')
              })
            }
          })
        }
        // 更新报价结束时间
      })
    },
    handleQuoteCancel() {
      const iframe = document.getElementById('my-quote')
      const receiver = iframe.contentWindow
      receiver.postMessage({
        close: true
      }, '*')
      this.quoteModalVisible = false
    },
    handleQuoteSubmit() {
      const { form: { validateFields } } = this
      this.$confirm({
        title: '提交报价',
        content: '是否确认提交？',
        onOk: async () => {
          try {
            let result = false
            validateFields({ force: true }, (err, values) => {
              if (!err) {
                if (values.quoteAmount > this.noticeData.commodities[0].maxPrice) {
                  this.$message.warning('报价金额大于最高限价')
                  result = false
                  return
                }
                if (values.quoteAmount < this.noticeData.commodities[0].minPrice) {
                  this.$message.warning('报价金额小于最低限价')
                  result = false
                  return
                }
                const param = {
                  tenantId: this.$store.state.mainAppStore.bTenantId,
                  bidderId: this.companyId,
                  settingId: this.uppricingId,
                  uploadId: [{
                    fileID: values.fileList.file.response.result.ossFileMessage.id,
                    fileName: values.fileList.file.name
                  }],
                  company: this.$store.state.mainAppStore.company.companyName,
                  quotedPrice: values.quoteAmount
                }
                const olUpprice = Object.assign({}, param)
                SqliteInsert({
                  data: [olUpprice],
                  moduleName: 'olUpprice',
                  pid: this.$route.params.id
                }).then(res => {
                  if (res.success) {
                    this.quoteModalVisible = false
                    this.$message.info("报价成功")
                  }
                }).catch(err => {
                  this.$message.error("报价失败")
                  this.quoteModalVisible = false
                })
              }
            })
          } catch (error) {
            console.log(error)
            this.$message.error('提交失败')
          }
        }
      })
    },
    // 判断报价次数
    isUpNum() {
      SqliteFind({
        moduleNames: JSON.stringify(['olUpprice']),
        pid: this.noticeData.id
      }).then(res => {
        if (res.result.olUpprice && res.result.olUpprice.length >= this.noticeData.upNum) {
          this.resUpNum = 0
        } else {
          this.resUpNum = this.noticeData.upNum - res.result.olUpprice.length
        }
      })
    },
    destroyQuoteFrame() {
      // this.refreshQuote(this.uppricingId)
      // this.$refs.quoteFrame.innerHTML = '<iframe id="my-quote" style="width: 100%;height: 710px;" frameborder="0"></iframe>'
    },
    async initTimer() { // 获取竞价公告的各个时间段
      const that = this
      const serviceTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
      const currentTime = new Date(serviceTime).getTime()
      const applyTimeBegin = new Date(that.noticeData.signUpStartTime).getTime()
      const applyTimeEnd = new Date(that.noticeData.signUpEndTime).getTime()
      const uppriceTimeBegin = new Date(that.noticeData.quotationStartTime).getTime()
      const uppriceTimeEnd = new Date(that.noticeData.quotationEndTime).getTime()
      const secUppriceTimeBegin = new Date(that.noticeData.secQuoteStartTime).getTime()
      const secUppriceTimeEnd = new Date(that.noticeData.secQuoteEndTime).getTime()
      if (currentTime < applyTimeBegin) { // 即将报名
        that.endTime = applyTimeBegin
        this.showModal = 0
        that.timeTipsLabel = '距离报名开始还有'
        that.timeTipsDesc = '即将报名'
      } else if (applyTimeBegin < currentTime && currentTime <= applyTimeEnd) { // 正在报名
        that.endTime = applyTimeEnd
        if (this.signUpState === -1) { // 未报名
          that.timeTipsLabel = '距离报名结束还有'
          that.timeTipsDesc = '我要报名'
          this.showModal = 1
        } else if (this.signUpState === 0 || this.signUpState === 4) { // 待审
          that.timeTipsLabel = '距离报名结束还有'
          that.timeTipsDesc = '报名审核中'
          this.showModal = 0
        } else if (this.signUpState === 2 || this.signUpState === 6) { // 拒绝
          that.timeTipsLabel = '报名被退回'
          that.timeTipsDesc = '重新报名'
          this.showModal = 2
          //  获取报名失败原因
          getFailRegistAudit(this.noticeData.id, this.companyId).then((res) => {
            this.ifFail = true
            this.failReason = res.result.items[0].comment
          })
        } else if (this.signUpState === 1 || this.signUpState === 5) { // 通过
          if (this.uppriceAble) { // 判断是否可报价
            that.timeTipsLabel = '距离报名结束还有'
            that.timeTipsDesc = '报名成功'
            this.showModal = 0
          } else {
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '缴纳保证金'
            this.showModal = 5
          }
        }
      } else if (applyTimeEnd < currentTime && currentTime <= uppriceTimeBegin) { // 即将报价
        if (this.uppriceAble) { // 判断是否可报价
          that.endTime = uppriceTimeBegin
          that.timeTipsLabel = '距离报价开始还有'
          that.timeTipsDesc = '即将报价'
          this.showModal = 0
        } else {
          that.timeTipsLabel = '距离报价结束还有'
          that.timeTipsDesc = '缴纳保证金'
          this.showModal = 5
        }
        if (this.signUpState === 2 || this.signUpState === 6) {
          //  获取报名失败原因
          getFailRegistAudit(this.noticeData.id, this.companyId).then((res) => {
            this.ifFail = true
            this.failReason = res.result.items[0].comment
          })
        }
      } else if (uppriceTimeBegin < currentTime && currentTime <= uppriceTimeEnd) { // 正在报价
        that.endTime = uppriceTimeEnd
        if (this.signUpState === -1) { // 未报名
          that.timeTipsLabel = '距离报价结束还有'
          that.timeTipsDesc = '无法报价'
          this.showModal = 0
        } else if (this.signUpState === 0 || this.signUpState === 4) { // 待审
          that.timeTipsLabel = '距离报价结束还有'
          that.timeTipsDesc = '无法报价'
          this.showModal = 0
        } else if (this.signUpState === 2 || this.signUpState === 6) { // 拒绝
          that.timeTipsLabel = '距离报价结束还有'
          that.timeTipsDesc = '无法报价'
          this.showModal = 0
          getFailRegistAudit(this.noticeData.id, this.companyId).then((res) => {
            this.ifFail = true
            this.failReason = res.result.items[0].comment
          })
        } else if (this.signUpState === 1 || this.signUpState === 5) { // 通过
          if (this.uppriceAble) { // 判断是否可报价
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '我要报价'
            this.showModal = 3
          } else {
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '缴纳保证金'
            this.showModal = 5
          }
        }
      } else if (currentTime > uppriceTimeEnd) { // 报价结束
        that.endTime = new Date().getTime()
        that.timeTipsLabel = ''
        that.timeTipsDesc = '已结束'
        this.showModal = 4
        if (this.signUpState === 2 || this.signUpState === 6) {
          //  获取报名失败原因
          getFailRegistAudit(this.noticeData.id, this.companyId).then((res) => {
            this.ifFail = true
            this.failReason = res.result.items[0].comment
          })
        }
      }
      // 二次报价特殊处理
      if (that.noticeData.secQuoteStartTime) {
        if (applyTimeEnd < currentTime && currentTime <= secUppriceTimeBegin) { // 即将报价
          if (this.uppriceAble) { // 判断是否可报价
            that.endTime = secUppriceTimeBegin
            that.timeTipsLabel = '距离报价开始还有'
            that.timeTipsDesc = '即将报价'
            this.showModal = 0
          } else {
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '缴纳保证金'
            this.showModal = 5
          }
        } else if (secUppriceTimeBegin < currentTime && currentTime <= secUppriceTimeEnd) { // 正在报价
          that.endTime = secUppriceTimeEnd
          if (this.signUpState === -1) { // 未报名
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '无法报价'
            this.showModal = 0
          } else if (this.signUpState === 0 || this.signUpState === 4) { // 待审
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '无法报价'
            this.showModal = 0
          } else if (this.signUpState === 2 || this.signUpState === 6) { // 拒绝
            that.timeTipsLabel = '距离报价结束还有'
            that.timeTipsDesc = '无法报价'
            this.showModal = 0
          } else if (this.signUpState === 1 || this.signUpState === 5) { // 通过
            if (this.uppriceAble) { // 判断是否可报价
              that.timeTipsLabel = '距离报价结束还有'
              that.timeTipsDesc = '我要报价'
              this.showModal = 3
            } else {
              that.timeTipsLabel = '距离报价结束还有'
              that.timeTipsDesc = '缴纳保证金'
              this.showModal = 5
            }
          }
        } else if (currentTime > secUppriceTimeEnd) { // 报价结束
          that.endTime = new Date().getTime()
          that.timeTipsLabel = ''
          that.timeTipsDesc = '已结束'
          this.showModal = 4
          if (this.signUpState === 2 || this.signUpState === 6) {
            //  获取报名失败原因
            getFailRegistAudit(this.noticeData.id, this.companyId).then((res) => {
              this.ifFail = true
              this.failReason = res.result.items[0].comment
            })
          }
        }
      }
      // 二次报价特殊处理
    },
    handleRemoveFile(fileId) {
      let index
      for (let i = 0; i < this.fileList.length; i++) {
        if (this.fileList[i].fileId === fileId) {
          index = i
        }
      }
      if (this.fileList[index].id !== undefined) {
        deleteEHonor({ id: this.fileList[index].id })
      }
      const newFileList = this.fileList.slice()
      newFileList.splice(index, 1)
      this.fileList = newFileList
      this.updateFileAudit()
    },
    async handleSubmit(isSubmit = true) { // 报名检验
      this.loading = true
      // 报名时间检测：与服务器时间进行对比
      const serverTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
      if (new Date(serverTime) > new Date(this.noticeData.signUpEndTime)) {
        this.$message.error('此项目报名时间已结束！')
        this.loading = false
        return
      }
      // 报名时间检测：与服务器时间进行对比
      // 判断同公司是否已报名
      await SqliteFind({
        moduleNames: JSON.stringify(['eApply']),
        pid: this.noticeData.id
      }).then(res => {
        console.log('供应商报名信息', res)
        if (res.result.eApply.length > 0) {
          const sameCompany = res.result.eApply.filter(item => {
            return item.creatorUserId = this.$store.state.mainAppStore.user.user.id
          })
          console.log('相同公司', sameCompany)
          if (sameCompany.length !== 0) {
            this.$message.warning('已有相同公司报名')
            this.loading = false
            return
          }
        }
      })
      // await SupplierFilterGet({ // 查询实时报名情况
      //   Filter: `creatorUserId != "${this.$store.state.mainAppStore.user.user.id}" && projectId == "${this.noticeData.id}"`,
      //   pageNum: 1,
      //   pageSize: 10
      // }).then(res => {
      //   console.log('供应商报名信息', res)
      //   if (res.result.totalCount > 0) {
      //     this.$message.warning('已有相同公司报名')
      //     this.loading = false
      //     return
      //   }
      // })
      // const isApply = this.noticeData.eApplys.findIndex(item => {
      //   return item.supplierId === this.$store.state.user.companyId && item.creatorUserId !== this.$store.state.user.id
      // }) !== -1
      // 保证金支付检测
      if (this.noticeData.needBond) {
        if (this.marginOrders[0].orderStatus !== '1' && this.marginOrders[0].orderStatus !== '2') {
          this.$message.warning('请先支付保证金！')
          this.loading = false
          return
        }
      }
      this.loading = false
      // 判断同公司是否已报名
      this.signModalData.form.validateFields(async (err, values) => {
        let fileValid = true // 必传资质未传标记为false
        let isReject = false // 资质是否被退回
        this.eHonorTypes.forEach(honor => { // 必传资质文件未传时提示
          if (honor.state === 1 && honor.groupId === this.currentGroupId) {
            if (!this.fileList.some(file => file.typeId === honor.id)) {
              fileValid = false
              this.$message.error(`请上传${honor.typeName}`)
            }
          }
          if (!honor.isPass && honor.groupId === this.currentGroupId) {
            isReject = true
          }
        })
        if (isReject) {
          this.$message.error('请处理被退回的资质文件！')
        }
        if (!err && fileValid && !isReject) {
          if (isSubmit) { // 提交报名
            this.createApply()
          } else {
            this.$spin.show()
            // 获取订单project数据形式
            const OrderPro = await notice.GetCreateOrderProjectById({
              projectId: this.noticeData.id
            })
            // 查询是否已创建报名费订单
            const order = await GetPublishOrder({
              accessKey: OrderPro.result.accessKey,
              // body: `projectId == "${this.noticeData.id}" and supplierId == "${this.companyId}" and orderType == "报名费"`
              body: `projectId == "${this.noticeData.id}" and ghfCompanyName == "${this.companyInfo.companyName}" and orderType == "报名费"`
            })
            // if (order.result.data.items.length === 0) {
            //   // 创建报名费订单
            //   const newOrder = await CreatePublishOrder({
            //     accessKey: OrderPro.result.accessKey,
            //     body: {
            //       orderType: '报名费',
            //       orderStatus: '1',
            //       orderAmountTotal: this.noticeData.orderAmountTotal,
            //       ghfInvoiceTaxNo: this.companyInfo.companyNo,
            //       ghfCompanyName: this.companyInfo.companyName,
            //       xhfCompanyName: this.agencyUnit,
            //       xhfCompanyAddress: this.noticeData.agencyAddress,
            //       projectId: this.noticeData.id,
            //       supplierId: this.companyId,
            //       npId: 1,
            //       title: this.noticeData.projectName,
            //       projectNum: this.noticeData.projectNum,
            //       agencyName: this.noticeData.agencyUnit,
            //       project: OrderPro.result.data,
            //       area: this.noticeData.area
            //     }
            //   })
            //   this.currentApplyOrder = newOrder.result.data
            //   // 3.0订单创建
            //   const localOrder = {
            //     orderNo: newOrder.result.data.orderNo,
            //     orderStatus: '1',
            //     orderAmountTotal: this.noticeData.orderAmountTotal,
            //     orderType: '报名费',
            //     ghfInvoiceTaxNo: this.companyInfo.companyNo,
            //     ghfCompanyName: this.companyInfo.companyName,
            //     xhfCompanyName: this.agencyUnit,
            //     ghfCompanyAddress: this.noticeData.agencyAddress,
            //     projectFull: this.noticeData.projectNum,
            //     projectName: this.noticeData.projectName,
            //     projectId: this.noticeData.id,
            //     companyid: this.companyId
            //   }
            //   await notice.UpdateOrders({
            //     orders: localOrder
            //   })
            // } else {
            //   this.currentApplyOrder = order.result.data.items[0]
            // }
            if (this.currentApplyOrder.orderStatus === '2' || this.currentApplyOrder.orderStatus === '3') {
              this.createApply()
            } else {
              this.signUpStep += 1
            }
            this.$spin.hide()
          }
        }
      })
    },
    async createApply() { // 报名提交
      this.loading = true
      try {
        const contactAddress = `${this.companyInfo.area}${this.companyInfo.area2}${this.signModalData.form.getFieldValue('address')}`
        await createOrUpdateEApply({
          projectId: this.noticeData.id,
          supplierId: this.companyId, // 供应商角色id--必带
          tenantId: this.tenantId, // 租户Id--必带
          state: 0, // 0: 未审核 1: 已审核 2: 已拒绝 3: 邀请
          companyName: this.signModalData.form.getFieldValue('supName'),
          companyEncode: this.signModalData.form.getFieldValue('companyNo'),
          contact: this.signModalData.form.getFieldValue('contact'),
          contactMobile: this.signModalData.form.getFieldValue('phone'),
          contactEmail: this.signModalData.form.getFieldValue('email'),
          workflowId: '待定',
          contactAddress: contactAddress,
          eHonors: this.fileList, // 文件上传信息
          id: this.signUpId !== -1 ? this.signUpId : null, // 被退回需要带着报名id
          groupId: this.currentGroupId
          // id: this.noticeData.signUpId || null // 被退回需要带着报名id
        })
        // 创建报名审核记录
        await axios.post('/api/services/app/ProjectAudit/CreateOrUpdate', {
          projectAudit: {
            projectId: this.noticeData.id,
            companyId: this.companyId,
            status: '0',
            comment: '报名待审核',
            typeValue: '3',
            groupId: this.currentGroupId
          }
        })
        this.modalSuccessVisible = true
        // 通知采购人
        axios.post('/api/services/app/EWebNotice/CreateOrUpdate', {
          eWebNotice: {
            webNoticeType: 4,
            title: '供应商报名',
            content: `你的【${this.noticeData.projectName}】新增供应商报名，`,
            acceptUser: this.noticeData.creatorUserId.toString(),
            tenantId: this.$store.state.mainAppStore.user.tenant.id,
            priority: 1,
            systemType: '1'
          }
        })
        const rep = await GetUserCenterId(this.noticeData.creatorUserId)
        const people = [rep.result, ...this.noticeData.managerNoticeId.split(',')]
        // 委托竞价需要通知代理机构
        // if (this.noticeData.acceptId) {
        //   const acceptId = await GetUserCenterId(this.noticeData.acceptId)
        //   people.push(acceptId.result)
        // }
        people.forEach(id => {
          if (id) {
            offiaccountMessage({
              template_Id: 'QUcfMxzpu6chFqJao1kOPS6u7KPyxbOTpuadXs01TS8',
              UserId: Number(id),
              data: JSON.stringify({
                first: {
                  value: `项目【${this.noticeData.projectName}】新增供应商报名`
                },
                keyword1: {
                  value: this.signModalData.form.getFieldValue('supName')
                },
                keyword2: {
                  value: this.signModalData.form.getFieldValue('phone')
                }
              })
            })
          }
        })
        if (this.noticeData.mode === 0) { // 判断是否自主竞价
          const textData = {}
          this.$set(textData, this.noticeData.purchaserMobile, `${this.signModalData.form.getFieldValue('supName')}##${this.noticeData.projectName}`)
          SendDXWPlatformSmsAsync({
            platformId: this.$store.state.mainAppStore.user.tenant.id,
            flowNumber: 'DXWFlow5',
            data: textData
          })
        }
        if (this.noticeData.mode === 2) {
          if (this.noticeData.manager) {
            // 企业微信消息通知
            await SqliteFind({ // 获取报名数量
              moduleNames: JSON.stringify(['eApply']),
              pid: this.noticeData.id
            }).then(res => {
              console.log('报名数量', res.result.eApply.length)
            })
            // await SupplierFilterGet({ // 获取报名数量
            //   Filter: `projectId =="${this.noticeData.id}"`
            // }).then(res => {
            //   if(res.success) {            
            //     // SendCailianQYMessage({
            //     //   name: this.noticeData.manager,
            //     //   flowType: 'QYM6',
            //     //   content: `${this.noticeData.projectName},${this.noticeData.purchaserUnit},${applyInfo.result.totalCount}`
            //     // })
            //   }
            // })
            // SendCailianQYMessage({
            //   name: this.noticeData.manager,
            //   flowType: 'DXWFlow5',
            //   content: `${this.noticeData.projectName},${this.signModalData.form.getFieldValue('supName')},${this.noticeData.purchaserUnit},${applyInfo.result.totalCount}`
            // })
          }
          // if (this.noticeData.acceptId) { // 根据代理机构id查询联系方式
          //   const phone = await userAxios.get('/api/services/app/User/GetUserPages', {
          //     params: {
          //       Filter: `u.id == ${this.noticeData.acceptId}`,
          //       MaxResultCount: 1,
          //       SkipCount: 0
          //     }
          //   })
          //   // 通知代理机构
          //   const sendData = {}
          //   this.$set(sendData, phone.result.items[0].phoneNumber, `${this.signModalData.form.getFieldValue('supName')}##${this.noticeData.projectName}`)
          //   SendDXWPlatformSmsAsync({
          //     platformId: this.$store.getters.userInfo.tenant.id,
          //     flowNumber: 'DXWFlow5',
          //     data: sendData
          //   })
          // }
        }
        // sendAliMessage({
        //   phoneNumbers: this.noticeData.purchaserMobile,
        //   signName: this.$store.state.user.platformSign,
        //   templateParam: {
        //     supply: this.signModalData.form.getFieldValue('supName'),
        //     project: this.noticeData.projectName
        //   }
        // }, 'supplierEnroll')
      } catch (e) {
        this.modalFailureVisible = true
      }
      this.signModalData.visible = false
      this.separateShow = false
      this.loading = false
    },
    refresh() {
      // 刷新-提交报名后当前页刷新
      window.location.reload(location.href)
    },
    handleCancel() {
      this.signModalData.visible = false
    },
    // handleQuoteCancel () {
    //   this.quoteModalVisible = false
    // },
    handleOtherCancel() {
      this.waittingVisible = false
    },
    // 加载资质
    async loadHonorTypes() {
      const eHonorTypes = this.noticeData.eHonorTypes.filter(file => {
        return file.usage === "3"
      })
      this.eHonorTypes = eHonorTypes || []
      this.updateFileAudit()
      // const res = await loadHonorTypes({ Filter: `ProjectId=="${this.noticeData.id}" AND Usage=="3"`, MaxResultCount: 1000, SkipCount: 0 })
      // this.eHonorTypes = res.result.items || [] // 如果eHonorTypes为空，则数组初始化为[]
    },
    // 添加文件
    addFile(file) {
      this.$set(file, 'isPass', true) // 默认文件审核状态
      this.fileList.push(file)
    },
    download(val) {
      const index = this.fileList.findIndex(item => item.typeId === val.id)
      fileUtil.downLoad(this.fileList[index].fileId).then((res) => {
        downFile(res)
        // window.open(res)
      })
    },
    deleteFile(val) {
      const index = this.fileList.findIndex(item => item.typeId === val.id)
      // this.fileList.splice(index, 1)
      this.handleRemoveFile(this.fileList[index].fileId)
    },
    // 获取已报名数据
    async setSignedForm() {
      this.signModalData.form.setFieldsValue({ // 表单回显-默认
        'supName': this.companyInfo.companyName,
        'companyNo': this.companyInfo.companyNo,
        'email': this.companyInfo.companyMail,
        'address': this.companyInfo.companyAddress,
        'contact': this.name,
        'phone': this.phoneNumber
      })
      if (this.signUpState === 2 || this.signUpState === 6 || (this.signUpId && this.signUpId !== -1)) {
        const res = await getSignedUpData({ Filter: `Id=="${this.signUpId}"` })
        const data = this.noticeData.eApplys
        this.signModalData.form.setFieldsValue({ // 表单回显-报名被退，将覆盖上面默认值
          'companyNo': data.companyEncode,
          'contact': data.contact,
          'phone': data.contactMobile,
          'email': data.contactEmail,
          'address': data.contactAddress
        })
        if (data.eHonors) {
          data.eHonors.forEach(item => this.fileList.push({
            typeId: item.typeId,
            typeName: item.typeName,
            fileId: item.fileId,
            usage: item.usage,
            projectId: item.projectId,
            downloadUrl: item.downloadUrl,
            fileName: item.fileName,
            uppriceId: item.uppriceId,
            isPass: item.isPass,
            id: item.id
          }))
          this.fileList.forEach(item => {
            this.defaultFileList.push(item)
            this.updateFileAudit()
          })
        }
      }
    },
    updateFileAudit() {
      this.eHonorTypes.forEach(type => { // 默认审核状态为通过
        this.$set(type, 'isPass', true)
      })
      // 记录文件审核状态
      console.log('文件审核状态', this.fileList)
      this.fileList.forEach(item => {
        this.eHonorTypes.forEach(type => {
          if (type.id === item.typeId) {
            this.$set(type, 'isPass', item.isPass)
          }
        })
      })
    },
    // 判断该用户是否已报名-若已报名则不允许再次报名
    async hasSigned() {
      // 获取报名记录
      if (this.noticeData.eApplys.length) {
        const sameCompany = this.noticeData.eApplys.filter(item => {
          return item.creatorUserId === this.$store.state.mainAppStore.user.user.id && item.supplierId === this.companyId
        })
        console.log('是否已报名', sameCompany)
        if (sameCompany.length !== 0) {
          if (this.isGroupApply) { // 判断是否分包组报名
            this.applyedList = sameCompany
            const applyedLen = sameCompany.filter(applyed => applyed.state === "1").length
            const isuppricing = new Date() > new Date(this.noticeData.secQuoteStartTime || this.noticeData.quotationStartTime) // 判断报价是否开始
            if (applyedLen === this.noticeData.sGroupListData.length || (applyedLen > 0 && isuppricing)) { // 所有包组都报名通过才显示审核通过
              this.signUpState = 1
            } else {
              this.signUpState = -1
            }
          } else {
            this.signUpState = sameCompany[0].state * 1
            this.signUpId = sameCompany[0].id * 1
          }
        } else {
          this.signUpState = -1
        }
      }
      console.log(this.signUpState, 77777777777);
      this.initTimer()
      return 0
    },
    async loadCompanyInfo() {
      const _this = this
      const params = {
        id: _this.companyId
      }
      /* loading start */
      this.signInfoLoading = true
      let resp
      try {
        resp = await AbpCompanyGetById(params)
      } catch (e) {
        this.signInfoLoading = false
      }
      this.signInfoLoading = false
      /* loading end */
      if (resp && resp.success) {
        this.companyInfo = resp.result
        const index = this.Province.findIndex(are => { // 找出省份对应的code
          return are.address === this.companyInfo.area
        })
        if (index !== -1) {
          const code = this.Province[index].code
          for (const key in Areas[code]) {
            this.City.push(Areas[code][key])
          }
        }
      }
    },
    // 校验手机号码
    ValidatePhone(rule, value, callback) {
      if (!(/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/.test(value)) && !(/^1[3456789]\d{9}$/.test(value))) {
        callback(new Error('请输入正确的电话号码'))
      } else {
        callback()
      }
    },
    async getServiceTime() { // 获取服务器时间
      const time = await GetCurrentServerDate()
      // return time.result.replace('T', ' ')
      return moment(time.result).format('YYYY-MM-DD HH:mm:ss')
    },
    subPay() { // 提交支付
      this.$refs.pay.subPay()
    },
    getPayInfo() { // 获取支付信息
      // notice.GetPaged({
      //   Filter: `projectId == "${this.noticeData.id}" and companyid == "${this.companyId}" and orderType == "报名费"`,
      //   MaxResultCount: 1,
      //   SkipCount: 0
      // }).then(res => {
      //   this.payOrder = res.result.items
      //   if (this.signUpId !== -1 && this.payOrder.length > 0 && !this.payOrder[0].applyId) { // 补充报名费订单applyid
      //     this.payOrder[0].applyId = this.signUpId
      //     notice.UpdateOrders({
      //       orders: this.payOrder[0]
      //     })
      //   }
      // })
    },
    payInsurance() { // 缴纳保证金
      if (new Date(this.noticeData.signUpEndTime) > new Date()) { // 判断报名时间是否结束
        this.$router.push({ name: 'signUpProgressPage' })
      } else {
        this.$router.push({ name: 'ToQuote' })
      }
    },
    spleteSign(apply) {
      if (!apply.signstate || apply.signstate.state === 2) {
        if (this.noticeData.needBond) { // 判断是否需要保证金
          const groupOrder = this.insuranceOrder.filter(order => order.groupId === apply.id)
          this.marginOrders = groupOrder[0] ? groupOrder : [{
            orderAmountTotal: apply.bondAmount,
            orderStatus: '0'
          }]
        }
        this.currentGroupId = apply.id
        this.signUpId = apply.signstate ? apply.signstate.id : -1
        this.signModalData.visible = true
        this.signModalData.form = this.$form.createForm(this)
        this.$nextTick(() => {
          this.setSignedForm()
        })
      } else {
        let alert
        switch (apply.signstate.state) {
          case 0:
            alert = '报名审核中，请勿重复操作！'
            break
          case 1:
            alert = '此包组已报名，请勿重复操作！'
            break
        }
        this.$message.warning(alert)
      }
    },
    checkLog(gid) { // 查看审核记录
      this.$spin.show()
      const parameter = {
        filter: `projectId=="${this.noticeData.id}" and typeValue == "3" and companyId == "${this.companyId}" and groupId == "${gid}"`,
        sorting: 'creationTime asc'
      }
      getAudit(parameter).then(res => {
        this.$spin.hide()
        this.auditList = res.result.items
        this.auditShow = true
      })
    },
    async refreshQuote(settingId) {
      this.loadingUpprice = true
      // const rep = await getUpprice({ SettingId: settingId, MaxResultCount: 1000, SkipCount: 0 })
      // this.$set(this.quotedList, settingId, rep.result.resultList.items)
      this.loadingUpprice = false
    },
    getLastId(id) {
      return id.split(',').length > 1 ? id.split(',')[1] : id
    },
    downApp(url) {
      downFile(url)
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
      )
    },
    ProChange(val) { // 省份选择更改
      this.City = []
      this.companyInfo.area2 = ''
      const index = this.Province.findIndex(are => { // 找出省份对应的code
        return are.address === val
      })
      const code = this.Province[index].code
      for (const key in Areas[code]) {
        this.City.push(Areas[code][key])
      }
    },
    async checkCertify(project) { // 检查是否已购买认证证书
      // 采购单信用认证排除名单
      const exptPurchaser = ['9C06030F-9274-4F9C-1F19-08D84BE77823']
      if (exptPurchaser.indexOf(project.purchaserId.toUpperCase()) > -1) {
        return true
      }
      // 信用认证排除特殊项目
      // const expProject = ['A522FA56-7E64-4054-6526-08D9C471058A']
      // if (expProject.indexOf(project.id.toUpperCase()) > -1) {
      //   return true
      // }
      const serverTime = moment(new Date()).format('YYYY-MM-DD HH:mm:ss')
      // await SqliteFind({
      //   moduleNames: JSON.stringify(['eHonor']),
      //   pid: this.companyId
      // }).then(res => {
      //   console.log(res.result.eHonorType)
      // })
      // let certify = await getHonorFile({
      //   Filter: `companyId == "${this.companyId}" and typeName == "电子商务履约能力达标测评证书"`,
      //   MaxResultCount: 1
      // })
      const file = this.noticeData.eHonors.filter(file => {
        return file.creatorUserId = this.userId && file.usage === "0" && file.typeName == "电子商务履约能力达标测评证书"
      })
      if (file.length > 0) { // 已购买认证证书
        certify = file
        // 计算剩余有效时间
        const diff = moment(certify.endTime).diff(moment(serverTime))
        if (diff < 0) { // 已过期
          this.$refs.certify.applyCertify()
          return false
        } else
          if (diff < 259200000) { // 不足3天，即将过期
            this.$refs.certify.renewCertify()
            return false
          } else {
            return true
          }
      } else {
        this.$refs.certify.applyCertify()
        return false
      }
    },
    async payMargin() { // 缴纳保证金
      try {
        // this.$spin.show()
        if (!this.marginOrders[0].id) { // 订单创建
          let title = ''
          if (this.noticeData.isGroupApply) {
            const groupName = this.noticeData.sGroupListData.filter(group => group.id === this.currentGroupId)[0].groupName
            title = `${this.noticeData.projectName}-${groupName}`
          } else {
            title = this.noticeData.projectName
          }
          // // 获取订单project数据形式
          // const OrderPro = await notice.GetCreateOrderProjectById({
          //   projectId: this.noticeData.id
          // })
          // // 创建报名费订单
          // const newOrder = await CreatePublishOrder({
          //   accessKey: OrderPro.result.accessKey,
          //   body: {
          //     orderType: '保证金',
          //     orderStatus: '1',
          //     orderAmountTotal: this.marginOrders[0].orderAmountTotal,
          //     ghfInvoiceTaxNo: this.companyInfo.companyNo,
          //     ghfCompanyName: this.companyInfo.companyName,
          //     xhfCompanyName: this.agencyUnit,
          //     xhfCompanyAddress: this.noticeData.agencyAddress,
          //     projectId: this.noticeData.id,
          //     supplierId: this.companyId,
          //     npId: 1,
          //     title,
          //     projectNum: this.noticeData.projectNum,
          //     agencyName: this.noticeData.agencyUnit,
          //     project: OrderPro.result.data,
          //     area: this.noticeData.area
          //   }
          // })
          // this.currentApplyOrder = newOrder.result.data
          // // 3.0订单创建
          // const localOrder = {
          //   orderNo: newOrder.result.data.orderNo,
          //   orderStatus: '0',
          //   orderAmountTotal: this.marginOrders[0].orderAmountTotal,
          //   orderType: '保证金',
          //   ghfInvoiceTaxNo: this.companyInfo.companyNo,
          //   ghfCompanyName: this.companyInfo.companyName,
          //   xhfCompanyName: this.agencyUnit,
          //   ghfCompanyAddress: this.noticeData.agencyAddress,
          //   projectFull: this.noticeData.projectNum,
          //   projectName: title,
          //   projectId: this.noticeData.id,
          //   groupId: this.noticeData.isGroupApply ? this.currentGroupId : null,
          //   companyid: this.companyId
          // }
          // const realOrder = await notice.UpdateOrders({
          //   orders: localOrder
          // })
          // this.marginOrders = [realOrder.result]
        }
        this.payInsuranceShow = true
      } catch (error) {
        this.$message.error('信息加载失败！')
      } finally {
        this.$spin.hide()
      }
    },
    paySuccess(data) {
      this.marginOrders[0] = data
      this.payInsuranceShow = false
    },
    ruleChange(value) {
      this.otherTipShow = true
      this.isShow = false
      switch (value) {
        case '1':
          this.winBidRuletip = '所有供应商最终报价中报价最低者（若价格相同则以报价时间最早者），选定为成交候选人'
          break
        case '2':
          this.winBidRuletip = '所有供应商最终报价中报价最高者(若价格相同则以报价时间最早者)，选定为成交候选人'
          break
        case '3':
          this.winBidRuletip = '所有供应商最终报价中最接近报价平均值者，即报价与平均值相减的绝对值最小者(若价格相同则以报价时间最早者)，选定为成交候选人。'
          break
        case '4':
          this.winBidRuletip = '所有供应商最终报价中报价次低者(若价格相同则以报价时间最早者)，选定为成交候选人'
          break
        case '5':
          this.winBidRuletip = '所有供应商评审后获得综合评分最高者(若评分相同则以价格最低者)，选定为成交候选人'
          break
        case '6':
          this.otherTipShow = false
          break
        case '7':
          this.winBidRuletip = '所有供应商最终报价中低于报价平均值且最接近报价平均值者(若价格相同则以报价时间最早者)，选定为成交候选人。'
          break
        case '8':
          this.isShow = true
          this.winBidRuletip = '偏差率计算平均值法，偏差率（S1）=100%×（供应商有效报价-基准价）/基准价，取所有有效供应商的有效报价的算术平均值作为基准价。计算后报价得分最高者(若得分相同则以报价时间最早者)选定为成交候选人。'
          break
        case '9':
          this.winBidRuletip = '广东省疾控用成交方法'
          break
        default:
          break
      }
    },
    fileUploadBefore(file) {
      const suffix = fileUtil.get_suffix(file.name)
      this.uploadFileInit.extradata.key = this.InitKey + fileUtil.random_string(10) + suffix
      this.uploadFileInit.extradata.fileName = file.name
      this.uploadFileInit.extradata.remarks = '报价文件'
    },
    async filelChange({ file, fileList }) { // 只允许上传一个文件
      if (fileList.length > 0) {
        this.FileList = [fileList.pop()]
      } else {
        this.FileList = fileList
      }
      if (file.status === 'done') { // 获取永久地址
        // const permanent = await fileUtil.GetSampleDownloadUrl(this.inteFileQuery.bucket, this.FileList[0].response.result.fileName)
        // this.$set(this.FileList[0], 'permanent', permanent)
      }
    },
  },
  filters: {
    toTime(val) {
      return val === '/' ? '/' : moment(val).format('YYYY-MM-DD hh:mm:ss')
    },
    platformName(id, list) {
      let tenantName = ''
      if (list.length && list.some(item => item.id === id)) {
        tenantName = list.filter(item => item.id === id)[0].name
      }
      return tenantName
    },
    ifNO(val) {
      if (val !== 0 && !val) return '暂无信息'
      else return val
    }
  }
}
</script>
<style scoped lang="less">
@import '~@/components/standard.less';

[v-cloak] {
  display: none;
}

#content-header {
  .notice-title-wrapper {
    padding: 20px 0 20px 30px;
    margin: 24px 24px 10px 24px;
    background: #FFF;
    position: relative;

    .title {
      display: inline-block;
      font-family: PingFangSC-Regular;
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      text-align: left;

      div {
        padding: 10px 0;
      }

      span {
        color: #999;
      }
    }

    .count-down-wrapper {
      display: inline-block;
      position: absolute;
      padding: 15px 0 15px 30px;
      min-height: 70px;
      line-height: 40px;
      right: 0;
      border-radius: 70px 0 0 70px;
      color: #FFF;
      font-size: 16px;
      margin-top: 10px;

      .sign-up-tips {
        right: 15px;
        font-family: MicrosoftYaHei;
        background: #FFFFFF;
        font-size: 16px;
        border: none;
        outline: none;
        margin-left: 20px;
        padding: 0 14px;
      }

      .sign-up-tips:hover {
        cursor: pointer;
        color: #E64646;
        background-color: #FFF;
      }
    }
  }

  .signUpStatus {
    padding: 20px 20px 20px 30px;
    margin: 0 24px 10px 24px;
    background: #FFF;
  }
}

.seal {
  width: 120px;
  position: absolute;
  right: 0;
  bottom: -10px;
  pointer-events: none;
}

.toptable {
  width: 100% !important;
  border-collapse: collapse;
  width: max-content;
  margin-top: 8px;
  min-width: 100%;
  line-height: 30px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  text-align: center;

  .greyBack {
    background-color: rgba(245, 245, 245, 1);
  }

  th,
  td {
    padding: 2px
  }
}

/deep/ .ant-input-disabled {
  background-color: #FFF;
  color: rgba(0, 0, 0, 0.65);
}

.sign-up-form /deep/ .ant-form-item {
  margin-bottom: 16px;
}

/* 弹窗 报名表单 组件样式重写*/
.ant-modal-content {
  .upload-group {
    position: relative;

    .required-cbx {
      position: absolute;
      top: 0;
      left: 120px;
    }

    /deep/ .ant-checkbox-disabled+span {
      color: rgba(0, 0, 0, 0.65);
    }

    /deep/ .ant-checkbox-disabled .ant-checkbox-inner {
      border-color: #f80 !important;
      background-color: #f80 !important;
    }

    /deep/ .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner:after {
      border-color: #fff;
    }
  }
}

/deep/ .ant-modal-content {
  border-radius: 10px !important;
}

.group-list {
  /deep/ .ant-list-split .ant-list-item {
    border-bottom: 1px dotted #e8e8e8 !important;
  }
}
</style>
