<template>
  <!-- 其他公告 -->
  <div id="other-notice" v-if="noticeData.eNotices.length >1">
    <div class="title-wrapper">
      <div class="bar"></div>
      <div class="text">其他相关公告</div>
      <div class="line-horizontal"></div>
    </div>
    <ul class="notice-list">
      <li class="notice-item" v-for="(item,index) in noticeData.eNotices" :key="index">
        <div v-if="item.noticeType !== '0'">
          <div class="type-tips">
          <img v-if="item.noticeType === '1'" src="../../assets/images/notice/notice-correct.png">
          <img v-else-if="item.noticeType !== '1'" src="../../assets/images/notice/notice-common.png">
          <span class="tips">
            {{ item.noticeType === '1'?'更正':(item.noticeType === '5'?'结果':(item.noticeType === '6'?'失败':(item.noticeType === '0'?'竞价':'其他'))) }}
          </span>
          <span>{{ item.creationTime }}</span>
        </div>
        <a class="notice-link" @click="showNoticeModal(item)">{{ item.title }}</a>
        </div>
      </li>
    </ul>
    <a-modal
      title=""
      width="1200"
      centered
      :visible="NoticeModalVisible"
      :footer="null"
      @cancel="handleCancel"
    >
      <div id="otherNoticeTable">
        <div class="title" style="text-align: center;font-size: 24px;">
          {{ selectedNotice.title }}
        </div>
        <div v-if="!selectedNotice.url" v-html="selectedNotice.content"></div>
        <iframe v-else style="width:820px;height:800px;margin: 0 auto;display: block;" :src="selectedNotice.url + selectedNotice.projectId" frameborder="0"></iframe>
        <div v-if="!noticeData.bidcatId" style="position:absolute;top:20px">
          <a-button size="small" @click="printPartial">
            <a-icon type="printer" theme="filled" />打印
          </a-button>
        </div>
      </div>
    </a-modal>
  </div>
</template>
<script>
import moment from 'moment'
import { fileUtil } from '@/lib/file'
import { downFile } from '@/lib/util'
import $ from '@/lib/jquery/jquery-vendor.js'
import '@/lib/jquery/jquery.jqprint-0.3'
import '@/lib/jquery/jquery.min'

export default {
  name: 'OtherNotice',
  components: {},
  props: {
    noticeData: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      NoticeModalVisible: false,
      selectedNotice: {}
    }
  },
  watch: {
    NoticeModalVisible (val) {
      if (val) {
        setTimeout(() => {
          const parent = document.getElementById('otherNoticeTable')
          const a = parent.getElementsByTagName('a')
          if(a[0]){
            a[0].addEventListener('click', (e) => {
            fileUtil.downLoad(a[0].getAttribute('id')).then(res => {
            downFile(res)
              // window.open(res)
            })
          })
          }
        }, 100)
      }
    }
  },
  methods: {
    print () {
      const dom = document.getElementById('otherNoticeTable')
      dom.style.width = '1000px'
      // eslint-disable-next-line
      $(dom).jqprint()
    },
    printPartial () {
      if (!document.getElementById('otherNoticeTable')) return
      let copyDom = document.createElement('span')
      const titleDom = document.createElement('p')
      titleDom.style.fontSize = '24px'
      titleDom.style.textAlign = 'center'
      if (this.noticeData.winbidRule === '5' && this.noticeData.ifExpert) titleDom.innerText = this.noticeData.projectName + '综合评审公告'
      copyDom.appendChild(titleDom)
      const timeDom = document.createElement('p')
      timeDom.style.fontSize = '18px'
      timeDom.style.color = '#555'
      timeDom.style.textAlign = 'center'
      // timeDom.innerText = moment(this.eNotice.creationTime).locale('zh-cn').format('YYYY-MM-DD')
      copyDom.appendChild(timeDom)
      // Array.from(styleDom).forEach(item => {
      //   if (item.childNodes[0].nodeValue.indexOf(specialStyle) !== -1) {
      //     copyDom.appendChild(item.cloneNode(true))
      //   }
      // })
      const button = document.querySelectorAll('#otherNoticeTable button')
      for (let i = 0; i < button.length; i++) {
        button[i].style.display = 'none'
      }
      copyDom.appendChild(document.getElementById('otherNoticeTable').cloneNode(true))
      const htmlTemp = copyDom.innerHTML
      copyDom = null
      const iframeDom = document.createElement('iframe')
      const attrObj = {
        height: 0,
        width: 0,
        border: 0,
        wmode: 'Opaque'
      }
      const styleObj = {
        position: 'absolute',
        size: 'auto A4 landscape',
        margin: '3mm',
        top: '-999px',
        left: '-999px'
      }
      Object.entries(attrObj).forEach(([key, value]) => iframeDom.setAttribute(key, value))
      Object.entries(styleObj).forEach(([key, value]) => { iframeDom.style[key] = value })
      document.body.insertBefore(iframeDom, document.body.children[0])
      const iframeWin = iframeDom.contentWindow
      const iframeDocs = iframeWin.document
      // iframeDocs.write(`<!doctype html>`)
      // iframeDocs.write(htmlTemp)
      iframeDocs.body.innerHTML = htmlTemp
      iframeWin.focus()
      iframeWin.print()
      // document.body.removeChild(iframeDom)
      // 按钮还原
      const rebutton = document.querySelectorAll('#otherNoticeTable button')
      for (let i = 0; i < rebutton.length; i++) {
        rebutton[i].style.display = 'inline'
      }
    },
    getNoticeTypeText () {
      const noticeType = this.selectedNotice.noticeType
      return noticeType === '1' ? '更正' : (noticeType === '5' ? '结果' : (noticeType === '6' ? '失败' : (noticeType === '0' ? '竞价' : '其他')))
    },
    showNoticeModal (notice) {
      this.selectedNotice = notice
      this.NoticeModalVisible = true
    },
    handleCancel () {
      this.NoticeModalVisible = false
    },
    formatTime (time) {
      return moment(time).format('YYYY年MM月DD日')
    }
  }
}
</script>
<style scoped lang="less">
  @import '~@/components/standard.less';

  @font-face {
    font-family: 'MicrosoftYaHei-Bold';
    src: url('../../font/MicrosoftYaHeiBold/MicrosoftYaHeiBold.ttf')
  }

  #other-notice {
    max-width: 1200px;
    background: #FFF;
    margin: 0 auto;
    padding-bottom: 10px;

    .title-wrapper {
      line-height: 50px;
      font-size: 18px;
      color: #333;

      div {
        display: inline-block;
        vertical-align: middle;
      }

      .text {
        padding: 0 10px;
        font-size: 18px;
      }

      .bar {
        background: #F80;
        width: 5px;
        height: 21px;
      }

      .line-horizontal {
        height: 2px;
        width: 86%;
        background: #D8D8D8;
      }
    }

    .notice-list {
      padding: 0;
      list-style: none;

      .notice-item {
        padding-top: 20px;

        .type-tips {
          position: relative;
          font-size: 0;

          .tips {
            position: absolute;
            left: 5px;
            color: #FFF;
            font-size: 12px;
            line-height: 20px;
          }

          .tips + span {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #999;
            margin-left: 12px;
            vertical-align: middle
          }
        }
      }

      .notice-link {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #333;
        padding-left: 50px;
      }

      .notice-link:hover {
        color: @orange-color;
      }
    }
  }

  #otherNoticeTable {
    min-width: 1000px;
    page-break-after: always;

    .content-wrapper {
      /*margin: 24px auto 72px auto;*/
      max-width: 1100px;
      padding: 20px;
      background: #FFF;
    }

    .title {
      font-family: MicrosoftYaHei-Bold;
      font-size: 24px;
      color: #333;
      width: 100%;
      margin: 0 auto;
      font-weight: 700;
      text-align: center;
    }

    .subtitle {
      font-family: MicrosoftYaHei-Bold;
      font-size: 14px;
      color: #999;
      width: 100%;
      margin: 15px auto 20px auto;
      text-align: center;
    }

    .description {
      font-size: 14px;
      color: #333;
      line-height: 28px;
      /*margin: 40px 0 10px 0;*/
    }

    .tbtitle {
      font-size: 14px;
      color: #333333;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin: 10px 0 30px 0;
      min-width: 100%;
      line-height: 47px;
      font-size: 14px;
      color: #333333;
      text-align: center;
    }

    .tb {
      border: 1px solid #DDDDDD;

      tr:first-child {
        background: #F5F5F5;
        font-family: MicrosoftYaHei-Bold;
      }

      tr {
        height: 48px;

        td {
          padding: 10px 0;
          line-height: 20px;
        }
      }
    }

    .description-footer {
      margin-top: 20px;
      font-family: MicrosoftYaHei;
      font-size: 14px;
      color: #333333;
      line-height: 24px;
    }

    .split {
      border: 0.5px solid #DDDDDD;
      margin-top: 30px
    }

    .anounce {
      font-family: MicrosoftYaHei-Bold;
      font-size: 12px;
      color: #999999;
      line-height: 22px;
      margin: 10px 0 20px 0;
    }
  }
</style>
